<div class="about-title"><h4>History of Mission Artists United</h4></div>
<p>On March 6, 2009, several representatives from five multi-studio buildings in the Mission met for the first time.  All working artists, they met to discuss how to best market their impending Spring Open Studios.  They also wondered whether it was possible for artists who had not known each other, from different studio buildings to come together and do anything.  In the next six weeks until their Open Studios, they grew to represent seven studio buildings, they were amazed to find they worked very well together and their vision grew from marketing a single event to re-imagining the role the Mission District plays in the artistic life of the city!  What started as an experiment among a few artists has now become MISSION ARTISTS UNITED – representing all of the working artists of the Mission District (Division to Cesar Chavez, Potrero to Dolores) and promoting the Mission as the premier arts destination of San Francisco.</p>
<p>
If you are an artist working in the Mission, then you are already part of MISSION ARTISTS UNITED! 
</p>

<p>
Join us by <%= link_to "signing up", signup_path, { :title => "create an account" } %> and posting your portfolio or linking your blog.  Help us show the city our richness and diversity.  Help us to take our place at the center of artistic life in San Francisco!
</p>
 
