  <div class="news-footer div-right">
<span style="font-weight:900;">ART IS THE <span style="color: orange;">MISSION</span></span>
    <a href="http://www.facebook.com/MissionArtists" target="_blank" ><img class="icons" src="/images/icons/fb32.png" alt="facebook"></a>
    <a href="http://twitter.com/sfmau" target="_blank" ><img class="icons" src="/images/icons/twitter32.png" alt="twitter"></a>
  </div>
