.news-footer
  %a{:href => root_path}
    %span
      ART IS THE
      %span.mission MISSION
  - [[ '/images/icons/fb32.png', 'facebook', 'http://www.facebook.com/MissionArtists' ], [ '/images/icons/twitter32.png', 'twitter', 'http://www.twitter.com/sfmau' ], [ '/images/icons/pinterest32.png', 'pinterest', 'http://pinterest.com/mausf/' ]].each do |info|
    - ico, alt, src = info
    %a{:href => src, :rel => 'external', :target => '_blank'}
      %img.icons{:src => ico, :alt => alt}

