/ expects sampler_thumb as the art piece from the render collection call
=link_to sampler_thumb.path, class: 'pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-5' do
  .sampler__thumb
    .image{ style: "background-image: url(#{sampler_thumb.get_path(:medium)});" }
    .desc
      .name 
        #{sampler_thumb.artist_name }
