-# expects sampler_thumb as the art piece from the render collection call
- clz = (sampler_thumb_counter == 0) ? 'first' : ''
= link_to sampler_thumb.path, class: "sampler__thumb js-sampler__thumb #{clz}" do
  .image{ style: "background-image: url(#{sampler_thumb.get_path(:medium)});" }
  .desc
    .name 
      = sampler_thumb.artist_name
