/ expects sampler_thumb as the art piece from the render collection call
=link_to sampler_thumb.path, class: 'pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-4 pure-u-lg-1-6' do
  .sampler_thumb{style: "background-image: url(#{sampler_thumb.get_path(:medium)});" }
    .desc
      .art_piece
        = sampler_thumb.title
      .artist 
        by #{sampler_thumb.artist_name }
      .medium 
        = sampler_thumb.medium.try(:name)
