.pure-g
  .pure-u-1-1.header.offset-content
    %h2.title About Mission Artists United
  .pure-u-1-2.offset-content.faq
    = render_cms_content(@content) do
      = render :partial => '/main/info_footer'
