<div  id="about_text" >
<h4>What is Open Studios?</h4>
  <p>
	Twice a year, hundreds of artists in Mission open their studio doors to the public for a whole weekend.
	It's a fun, FREE EVENT where art lovers meander about this creative eclectic neighborhood we all love
	and see an intimate views of the artists in their workspaces. For both events, Mission Artists United
	provides a map and a catalog of artists with their artwork to help you plan your meanderings.
  </p>
  <h4><div class="os-star"></div>
Open Studios Oct 1-2, 2011</h4>
  ArtSpan's October Open Studios is almost coming up.  While your browsing the site with your phone, you'll notice artists who will have their studio doors open for Oct 1/2 marked with a little star, like this:
        <div class="os-star"></div>
  If you find one of those artists, you can get the address or click through to google maps to show you how to get there!
  </p>
  <p>Hope to see you at Open Studios!  If you need more details check out our site on a computer with a full page browser to access the catalog and more of the artists' works.  Or go to <a href="http://artspan.org">ArtSpan</a>.</p>
</div>
