.pure-g
  .pure-u-1-1.header.offset-content
    %h2.title Contact Us
  .pure-u-1-1.pure-u-md-2-3.pure-u-lg-1-2.offset-content.contact-us
    = render '/main/contact'
    = render '/main/info_footer'

