 <script>
  Event.observe(window, 'load', function() {  
    new MAU.NotesMailer(".mau-note-link.help-me", { note_class: 'help', url: "/main/notes_mailer" });
  });
</script>
<div id="news_text" class="logo-space">
  <div class="about-title"><h4>Frequently Asked Questions</h4>
  </div>
  <div class="faq-content">
    <h5>How do I...</h5>
    <div class="faq_q">
      Q: get MAU gear?
    </div>
    <div class="faq_a">
      A: Of course, you want to be properly outfitted for Open Studios.  All of our Mission Artists United related gear is available for purchase on <a href="http://www.cafepress.com/MissionArtists">CafePress.</a>
    </div>
    <div class="faq_q">
      Q: share my page with others?
    </div>
    <div class="faq_a">
      A: 2 ways : Look for "Share this page" on your profile for Twitter and Facebook links.  Or use your custom MAU webpage everywhere!<br/>
      <% if logged_in? && current_user[:type] == 'Artist'
         nm = current_user.login
         else
         nm = "&lt;your username&gt;"
         end
         -%>
      <span style="color:#eee" class="nobr">http://www.missionartistsunited.org/artists/<b><%= nm %></b></span>  
    </div>
    <div class="faq_q">
      Q: sign up?
    </div>
    <div class="faq_a">
      A: If you're having problems with the registration form, try a username that doesn't have any spaces or special characters.  If you haven't received your activation email, make sure to check your spam folder.  If you've tried all of these and still can't get stuff to work, please let us know (<span class="mau-note-link help-me">email us</span>).
    </div>
    <div class="faq_q">
      Q: can i receive inquiries from website visitors while keeping my email address private?
    </div>
    <div class="faq_a">
      A: Yes!
<ul>
<li>Login</li>
<li>Go to the profile edit page (click the "Edit Profile" button on your profile page)</li>
<li>Open up the <b>Notifications</b> section.</li>
<li>Check the box that reads <b>Allow notes from everyone</b>.</li>
<li>Click "Save Changes"</li>
</ul>
    Now when visitors see your profile page, they'll see a little email icon and they can use that to send you a note.  We will not give away your email, but instead, the MAU server will send you a note with information about how to get a hold of the person making the inquiry.
    </div>


  </div>
</div>
