.pure-g
  .pure-u-1-1.header.offset-content
    %h2.title History of Mission Artists United
.pure-g
  .pure-u-1-1.pure-u-md-1-2.offset-content
    = render_cms_content(@content) do
      = render :partial => '/main/info_footer'
