#main_messages
  = render :partial => '/flash_notice_error'

.words 
  %img{:height => 41, :src => "/images/mission_artists_united_words.png"}

#main_thumbs
  #sampler
    = render :partial => '/art_pieces/thumbs', :locals => { :pieces => @rand_pieces, :params => { :cols => 5 }}

.main-text
  %h2 There are more artists in the Mission than any other neighborhood in San Francisco
