#main_thumbs
  .pure-g
    .pure-u-1-1.pure-u-md-1-2.pure-u-lg-1-3.pure-u-xl-2-5.promo
      .header
        .inner-copy MISSION ARTISTS
    .pure-u-1-1.pure-u-md-1-2.pure-u-lg-2-3.pure-u-xl-3-5.promo
      .body
        .inner-copy There are more artists in the Mission District then any other neighborhood in San Francisco
  
  #sampler.js-sampler
    .pure-u-1-1.sampler__empty.js-sampler__empty
      %i.fa.fa-spinner.fa-spin

.pure-g
  .pure-u-1-1
    = render '/art_pieces/new_art'
    
