#main_thumbs
  .pure-g
    .pure-u-1-1.header
      %h2.title
        .short-text Mission Artists
        .long-text There are more artists in the Mission District then any other neighborhood in San Francisco
  
  #sampler.js-sampler
    .pure-u-1-1.sampler__empty.js-sampler__empty
      %i.fa.fa-spinner.fa-spin

.pure-g
  .pure-u-1-1
    = render '/art_pieces/new_art'
    
