#main_thumbs
  #sampler.js-sampler.pure-g
    .sampler__promo.js-sampler__promo
      .bg
      .sampler__promo-contents
        .header Mission Artists
        .body Showcasing artists in the Mission District of San Francisco
    .pure-u-1-1.sampler__empty.js-sampler__empty
      %i.fa.fa-spinner.fa-spin

.pure-g
  .pure-u-1-1
    = render '/art_pieces/new_art', new_art: @new_art
    
