#main_thumbs
  #sampler.js-sampler.pure-g
    .pure-u-1-1.pure-u-md.pure-u-md-2-3.pure-u-lg-2-5.sampler__promo
      .sampler__promo-contents
        .image
    .pure-u-1-1.sampler__empty
      %i.fa.fa-spinner.fa-spin

.pure-g
  .pure-u-1-1
    = render '/art_pieces/new_art'
    
