<div class="center">
<div class="splash">
 <img src="/images/art_is_the_mission_badge.png">
</div>

<ul class="m-nav">
<%= render_as_mobile_list_item 'artists', :link => '/artists' %>
<%= render_as_mobile_list_item 'studios', :link => '/studios' %>
</ul>
</div>
