<table width="100%">
<tr><td align="center">
<% if flash[:error] -%>
  <div class="error-msg">
	<%=h flash[:error] %>
  </div>
<% end -%>
<% if flash[:notice] -%>
  <div class="notice">
	<%=h flash[:notice] %>
  </div>
<% end -%>
</td></tr></table>
<div class="main-text">
  <h1>There are more artists in the Mission than any other neighborhood in San Francisco</h1>
</div>
<div class="main-thumbs" align="center">
<a href="/" title="wanna see more?"><div id="next_pg"></div></a>

  <%= render :partial => '/art_pieces/thumbs', :locals => { :pieces => @rand_pieces, :params => { :cols => 5 }} %>
</div>
<div class="main-subtext">
  <img src="/images/mau-text.png" width="510" height="25" />
  <h2>connecting artist to artist</h2>
  <h2>presenting art to the world</h2>
  <div />
</div>
