<div id="news_text">
  <div class="about-title"><h4>ArtSpan Open Studios 2010</h4></div>
  <div class="news-text">
    <p>During ArtSpan's Open Studios, Mission artists are open on weekend 1 which is October 9-10.  Just like the spring, you can expect hundreds of Mission Artists to open their studios to the public for the weekend.  Art lovers from all over come to see the creativity and innovation of their favorite local artists in our favorite San Francisco neighborhood.</p>
  <p>
    <span class="title">Art Lovers:</span> Mark your calendar for October 09 & 10, 11am - 6pm.
  </p>
  <p>
   <a href="/artists/map?osonly=on" >Click here to see a map of participating Mission Aritsts United Artists</a></p>
  </div>
  <div class="clear"></div>
  <div id="artists_resources">
    <div class="about-title"><h4>Artists Resources</h4></div>
	<div class="artists-resources-entries">
	  <div class="main-entry"><a target="_blank" title="Come Back Spring 2010 Cards" href="/images/comeback/2011/comeback2011.jpg"><img src="/images/comeback/2011/comeback2011-th.jpg" width="209" height="150"/></a></div>
	  <div class="main-entry" style="float:right;width:305px;"><span class="title">Promo materials!</span>
	    <div>
	      <<< <b>Come Back Spring 2010 Postcard</b><br/>&nbsp;<br/>
	      We hand these out to our October Open Studios visitors to make sure they know about Spring.
	      <div>&bull; 100 Come Back 2011 postcards for $10</div> Reserve yours by emailing <a href="#" onclick="MAU.mailer('trish','trishtunney.com', 'I Want Comeback Postcards!');">Trish Tunney (trish at trishtunney.com)</a> before we run out!
	    <a href="/images/comeback/2011/comeback2011.zip"> Or download the pdf design files to print yourself</a>
	    </div>
	  </div>
	  <div class="clear"></div>
	  <div class="main-entry" style="width: 209px;"><span class="title">Get Ready for Open Studios!</span>
            <div>
		<a href="http://trishtunney.blogspot.com/2010/03/fun-and-successful-open-studios.html" target="_blank">Open Studios - Tips for the Artist</a> from Trish Tunney.</div>
	  </div>
	  <div style="float:right; width:305px;"><a target="_blank" title="Open Studios - Tips for the Artist" href="http://trishtunney.blogspot.com/2010/03/fun-and-successful-open-studios.html"><img src="/images/ostips_thumb.jpg" width="300" height="199"/></a></div>
	  <div class="main-entry"><span class="title">MAU Gear!</span>
		<div>
		<a href="http://www.cafepress.com/ArtIsTheMission" target="_blank">Art is the Mission shirts and gear</a>
		</div>
		<div>
		  <a href="http://www.cafepress.com/MissionArtists" target="_blank">Mission Artists United Logo gear</a>
		</div>
	  </div>
	</div>
	<div class="clear"></div>
  </div>

  <div class="clear"></div>
  <div class="news-footer div-right">
<span style="font-weight:900;">ART IS THE <span style="color: orange;">MISSION</span></span>
    <a href="http://www.facebook.com/pages/San-Francisco/Mission-Artists-United/184838677409" target="_blank" ><img class="icons" src="/images/icons/fb32.png" alt="facebook"></a>
    <a href="http://twitter.com/sfmau" target="_blank" ><img class="icons" src="/images/icons/twitter32.png" alt="twitter"></a>
  </div>

</div>
