<link rel="alternate" type="application/rss+xml" title="Mission Artists United Blog"
	href="http://missionartistsunited.wordpress.com/feed/" />
<div id="news_text">
<div><h4>Mission Artists United News</h4>
<%= @feedhtml %>
</div>
</div>
