<div id="news_text">
  <div class="about-title"><h4>Spring Open Studios 2010</h4></div>
  <p>Mission Artists United Presents Spring Open Studios where more than a hundred Mission Artists open their studios 
    to the public for a weekend.  Art lovers from all over come to see the creativity and innovation of
    their favorite local artists in our favorite San Francisco neighborhood.</p>
  <p>
    ART LOVERS : &nbsp;&nbsp;&nbsp;Mark your calendar for April 24 & 25th, 11am - 6pm.
  </p>
  <p>
    MISSION ARTISTS : &nbsp;&nbsp;&nbsp;If you are an artist working in the Mission, then you are already part of Mission Artists United.  You are welcome to join us for this event.  <%= link_to "Sign up", signup_path, { :title => "create an account"} %> and post your
    portfolio or links or whatever you'd like to share.  Then get ready for your Open Studios weekend.</p>

  <p>If you'd like to help put on this event, click on the  <a href="<%= getinvolved_path %>">Get Involved</a> button.  MAU loves volunteers!</p>

  <a href="/artists/map"><img align='right' class="icons" src="/images/map-thumb.png" height="296" width="331" alt="map"></a>
  <div class="clear"></div>
  <div class="news-footer div-right">Art is the Mission &nbsp;&nbsp;
    <a href="http://www.facebook.com/pages/San-Francisco/Mission-Artists-United/184838677409" target="_blank" ><img class="icons" src="/images/icons/fb32.png" alt="facebook"></a>
    <a href="http://twitter.com/sfmau" target="_blank" ><img class="icons" src="/images/icons/twitter32.png" alt="twitter"></a>
  </div>

  <div id="artists_resources">
    <div class="about-title"><h5>Artists Resources</h5></div>
    <ul >
      <li><a href="http://bit.ly/mau2010" target="_blank">Order Spring Open Studios Cards!</a></li>
      <li ><a href="http://www.cafepress.com/MissionArtists" target="_blank">Get your MAU Gear!</a></li>
    </ul>
  </div>
</div>
