.logo-space#venues
  :ruby
    data = Hash[@content.select{|k,v| k != :content}.map{|item| ["data-%s" % item[0].to_s, item[1]] }]
  .section.markdown.editable{data}
    = markdown(@content[:content])

    = render :partial => '/main/info_footer'

    #letter_from_flax{:style => "display:none;"}
      %p  Flax art & design is interested in supporting MAU artists through a live painting program in the store. With this invitation, please think of Flax as an extension of your studio, with the benefit of a new  environment to stimulate your creativity. Your workspace will be in    the front of the store with the highest area of traffic. We'll have an    easel and taboret for your use, you can bring some promotional    postcards for customers to take away, and you can bring in a some    finished pieces of art to sell, too.
      %p    The purpose of this is to give you more exposure of your talents and    artwork. By extension of that, we hope to increase awareness of    Mission Artists United and the Open Studios. For Flax, your    participation provides a great new energy in the store, and our    customers gain inspiration from watching you.
      %p    Our goal is to schedule an artist as live painter every Saturday.    The best time is mid to late afternoon, with a working time from two    to four hours. Flax will promote the program to all our customers via    email and social media, and for each participating artist we will list    their bio on our website and in the store. If you like, we'll post a    video to YouTube.
      %p Please note that while the idea for this was spawned from successful    MAU artist presentations in the store last year, it's not for    everyone. The retail environment can be hectic, with different    announcements coming over the PA system and occasional customers    wanting to interact with you.
      %p    To schedule a participation date/time or to ask questions, please    contact Leslie Flax at <a href="javascript:MAU.mailer('leslie','flaxart.com','Sign me up for Live Painting!');">leslie at flaxart.com</a>, (Leslie and Howard are siblings, representing the third generation of the Flax family)
      %p Thank you. We are really forward looking forward to working with MAU  artists!
      %p  Sincerely,
      %p Howard Flax

