<h1>Editing cms_document</h1>

<% form_for(@cms_document) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cms_document %> |
<%= link_to 'Back', cms_documents_path %>