<div align="center">
  <div class="f404">
    <div class="oops">oops... :(</div>
    <p>You have reached this page because you were trying to go somewhere on the site that doesn't exist or you don't have the proper permissions to do whatever you were trying to do.
    </p>
    <% msg = (flash[:error] && !flash[:error].empty?) || (@exception && (@exception.respond_to?(:message) && @exception.message) || (@exception.respond_to?(:has_key?) && @exception[:message])) %>
    <% if msg.present? %>
    <p>We think this is the reason you got here.
      <div class="error-msg">
        <%= msg %>
      </div>
    </p>
    <% end %>
    <p>Try starting back at the <a href="/">beginning</a>.
    </p>
  </div>
</div>
