<span id="artpiece_edit"><a href="<%= art_piece.edit_path %>">edit</a></span>
<span id="artpiece_del"><%= link_to 'delete', art_piece.path, :confirm => 'You are about to remove this art piece from your collection.  Are you sure you want to do that?', :method => :delete %></span>
