- if @new_art.present?
  #new-art
    .overlay recently added art
    .pure-g
      - @new_art.select{|ap| ap.artist.present?}.each do |ap|
        .pure-u-1-6.pure-u-sm-1-12
          %a{:href => ap.path, :title => ap.artist_name}
            .square{:style => "background-image:url(%s);" % ap.get_path('thumb')}
