- if @new_art.present?
  #new-art
    .pure-g
      .pure-u-1-1.header
        %h2.title recently added art
    .pure-g
      - @new_art.select{|ap| ap.artist.present?}.each do |ap|
        .pure-u-1-2.pure-u-sm-1-3.pure-u-md-1-4.pure-u-lg-1-6
          %a{:href => ap.path, :title => ap.artist_name}
            .square{:style => "background-image:url(%s);" % ap.get_path('small')}
