.artist-info-block
  .left.input-name
    Title
  .right.input
    %span#ap_title
      =h @art_piece.title
  .left.input-name Artist
  .right.input
    %span#ap_artistname
      = link_to artist.get_name(true), artist
  .left.input-name Medium
  .right.input
    %span#ap_medium
      - if @art_piece.medium_id and @art_piece.medium_id > 0
        = link_to @art_piece.medium.name, @art_piece.medium
  .left.input-name Dimensions  
  .right.input
    %span#ap_dimensions
      - if !@art_piece.dimensions.empty?
        =h @art_piece.dimensions
  .left.input-name Year  
  .right.input
    %span#ap_year
      - if @art_piece.year.present? and @art_piece.year.to_i > 1899
        =h @art_piece.year
  .left.input-name Tags
  .right.input
    %span#ap_tags
      - if !@art_piece.art_piece_tags.empty? 
        = @art_piece.uniq_tags.map{ |t| link_to t.safe_name, t }.join(", ")
  - if artist.studio
    .left.input-name Studio
    .right.input
      %span#ap_studio
        = link_to artist.studio.name, artist.studio
  .both.clear
