:ruby 
  if pieces and !pieces.empty?  
    numpieces = params[:numpieces]
    if not numpieces
      numpieces = pieces.length
    end
    cols = params[:cols] || 4
    size = params[:size] || 'thumb'
    art_link = params[:art_link] || false
    if params[:show_footer] == nil
      show_footer = true
    else
      show_footer = params[:show_footer]
    end
    select = params[:select] || false
    delete = params[:delete] || false
    rows = (numpieces.to_f / cols.to_f ).ceil
    numspots = rows * cols
    _params = { :delete => delete, :select => select, 
                :show_footer => show_footer,
               :size => size, :artist_link => !art_link }
    clz =""
    if select || delete
      clz = "thumbs-select"
    end
  end
.allthumbs{:class => clz}
  - pieces.each_with_index do |piece, idx| 
    - _params[:piece] = piece
    = render :partial => '/art_pieces/thumb', :locals => _params
  .clear
