%script{:type => "text/javascript"}
  MAU = window['MAU'] || {};
  MAU.Thumbs = MAU.Thumbs || {}
  MAU.Thumbs.ThumbList = #{browser.thumbs_json}
  MAU.Thumbs.curIdx = #{browser.current_index};


- if browser.has_thumbs?
  .clear
  #artp_thumb_browser{:class => browser.row_class}
    .prev{:class => browser.row_class}
      %a#prev_img_lnk{:href=>"#",:apid => browser.prev_img}
        #prev-browse
    .thumb-browser-thumbs
      - browser.thumbs.each do |t|
        %a.jump-to{:href => "##{t.id}"}
          %div{:class => t.clz,:style => t.background_style}
            &nbsp;
    .next{:class => browser.row_class}
      %a#next_img_lnk{:href=>"#",:apid => browser.next_img}
        #next-browse
  .clear
- else
  &nbsp;
