.pure-g
  .pure-u-1-1.header.padded-content
    %h2.title Add Art
    .warning
      - if @artist.at_art_piece_limit?
        You cannot have more than #{artist.max_pieces} art pieces.
        If you decide to continue adding art, the oldest pieces will
        be removed to make space for the new ones.  Alternatively, you
        could go delete specific pieces to make room for the new ones.

.pure-g
  .pure-u-1-1.pure-u-sm-1-2.art-piece-new-form.padded-content
    = render 'form', art_piece: @art_piece, artist: current_artist
