%art-pieces-browser{ "tabindex" => '0', 'ng-controller' => 'ArtPiecesController', 'artist-id' => @art_piece.artist.id, 'art-piece-id' => @art_piece.id, 'ng-keydown' => 'onKeyDown($event)', 'current-user' => (@art_piece.artist.id == current_user.try(:id))}
