@import 'colors';
.search-result {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;

  .fa {
    color: $gto-yellow;
  }
  .icon {
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .hd {
    font-size: 24px;
  }


}
