.panel-heading
  %h4.panel-title
    = link_to 'Notifications', '#notifications', 'data-toggle' => 'collapse', 'data-parent' => '#user-accordion', class: 'collapsed'
    .fa.fa-icon.panel-opener
.panel-collapse.collapse#notifications{ role: "tabpanel" }
  .panel-body
    NOTIFICATIONS!
