@import 'colors';
.admin {
  .pure-table th.sorting_asc,
  .pure-table th.sorting_desc,
  .pure-table th.sorting {
    &:hover {
      background-color: $lightbluegray;
    }
  }
  .pure-table td {
    vertical-align: top;
  }
  .admin-table__controls {
    margin-bottom: 10px;
  }
  h1, h2, h3, h4 {
    .admin-table__controls {
      display: inline-block;
      margin-left: 20px;
    }
  }
  table td.admin-controls, table td.controls {
    white-space: nowrap;
    > div {
      display: inline-block;
    }
  }
}
