@import "mau-mixins";
.dataTables_wrapper {
  .dataTables_filter {
    margin-bottom: 10px;
    border: none;
    input {
      padding: 10px;
      margin-left: 10px;
      border: 1px solid #ddd;
      border-radius: 2px;
    }
  }
  label {
    color: $light-gray;
  }
}
