@import "colors";
.admin-tooltip {
  display: inline;
  position: relative;
}

.admin-tooltip:hover {
  text-decoration: none;
}

.tooltip-content {
  display: none;
}
.admin-tooltip:hover .tooltip-content {
  background: $gto_teal;
  background: $gto-dark-teal;
  border-radius: 0.5em;
  color: #fff;
  content: attr(title);
  display: block;
  left: 0;
  top: 0;
  transform: translateX(-50%);
  padding: 0.5em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
}
