.admin.users, .admin.artists {
  .no-address {
    font-size: 0.8rem;
    font-style: italic;
  }
  .artist-admin-header-edit-link {
    float: right;
  }
  .tab-pane {
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    .mau-spinner {
      font-size: 3px;
      margin: auto;
    }
    &.active {
      display: flex;
    }
  }
  table {
    font-size: 85%;
    td.date-field {
      white-space: nowrap;
    }
    .user-state {
      font-size: 150%;
      .tooltip-content {
        font-size: 75%;
      }
    }
    .forgot-password-link, .activation-link {
      i {
        margin-right: 6px;
      }
    }
    td > div {
      line-height: 1.4rem;
    }
  }
  .admin-artist-download-csv {
    position: absolute;
    right: 20px;
    top: 20px;
    i {
      margin-right: 5px;
    }
  }
  .artist-admin-header {
    .tabs li {
      i {
        margin-right: 10px;
      }
    }
  }

  .profile-info {
    margin-bottom: 20px;
    table {
      tr td:first-child {
        text-transform: uppercase;
        padding-right: 10px;
      }
    }
  }
}
