@import 'mau-mixins';
.admin {
  .graphs {
    margin-bottom: 20px;
  }
  .graph {
    margin-bottom: 40px;
    h4 {
      margin-bottom: 0.5rem;
    }
    .flot-graph {
      width: 440px;
      height: 380px;
      display: block;
      .flot-x-axis .flot-tick-label {
        @include transform( translateY(60%) translateX(0%) rotate(-45deg) );
      }
    }
  }
  .dashboard__stats-list {
    h4 {
      margin-bottom: 0.5rem;
    }
    td {
      padding-right: 8px;
      font-size: 0.9rem;
    }
    td.count {
      text-align: right;
    }
  }

}
