.member-email-lists {
  .list_chooser {
    margin-top: 30px;
  }
  .export-csv {
    float: right;
  }
}
.member-email-lists__results__table {
  width: 100%;

  .activation {
    white-space: nowrap;
  }
  .last-seen {
    white-space: nowrap;
  }
}
.member-email-lists__results__header {
  margin-bottom: 30px;
}
