@import 'mau-mixins';
.admin.users {
  .url {
    @include ellipsis;
  }
  .featured-snippet {
    h4 {
      margin-bottom: 8px;
    }
    .instructions, .hint {
      margin-top: 8px;
      line-height: 1.4rem;
      font-style: italic;
      color: #999;
    }
    .content {
      border: 1px solid #ccc;
      margin: 16px 0;
      padding: 8px;
    }
  }
}
