@import 'mau-mixins';
.admin.users {
  .image {
    text-align: center;
    margin: 20px auto;
  }
  .url {
    @include ellipsis;
  }
  .info-block {
    border-bottom: 1px solid #999;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  .featured-snippet {
    h4 {
      margin-bottom: 8px;
    }
    .instructions, .hint {
      margin-top: 8px;
      line-height: 1.4rem;
      font-style: italic;
      color: #999;
    }
    .content {
      background-color: #f0f0f0;
      margin: 16px 0;
      padding: 8px;
    }
  }
}
