<div class="get-involved">
<center><a title="Spring Open Studios! Online Catalog Now Available!"  href="/news"><img border="0" title="Spring Open Studios! Online Catalog Now Available!" width="200" height="203" src="/images/springos2010banner.png"/></a></center>
<div class="get-involved">
<center><a title="Volunteer, shop, send us your feedback, donate, participate..."  href="<%= getinvolved_path %>"><img border="0" title="Volunteer, shop, send us your feedback, donate, participate..." width="220" height="56" src="/images/getinvolved_red.png"/></a></center>
</div>
<% if logged_in? %>
<!-- announcements could go here -->
	  <!-- <%= render :partial => '/deadline_announcement' %>  -->
<% end %>
<div id="feed_div"> 
<div class="feed-sxn-hdr" >Fetching Feeds... 
  <div align="center"><img src="/images/spinner32.gif" alt=""/></div>
</div>
<img src="/images/pix.gif" height="320" width="1" alt=""/>
</div> 
<div id="feed_request">
<a href="javascript:MAU.mailer('www','missionartistsunited.org','My Favorite SF Art Feed');">Recommend a feed we should add to this list.</a>
