%script Event.observe(window, 'load', function() { new MAU.NotesMailer(".mau-note-link.feed_submission", { note_class: 'feed_submission', url: "/main/notes_mailer" }); });

#feed_div
  .feed-sxn-hdr
    #{@feed_html.html_safe}

#feed_request
  %span.mau-note-link.feed_submission Recommend a feed we should add to this list

