<div class="get-involved">
<center><a title="Spring Open Studios!"  href="/getinvolved"><img border="0" title="Get Involved!" src="/images/springos2010banner.png"/></a></center>
</div>
<% if !request.request_uri.starts_with? getinvolved_path || request.request_uri != getinvolved_path -%>
<div class="get-involved">
<center><a title="Get Involved!"  href="<%= getinvolved_path %>"><img border="0" title="Get Involved!" src="/images/getinvolved_red.png"/></a></center>
</div>
<% end -%>
<div id='feed_div'> 
<div class="feed-sxn-hdr" >Fetching Feeds... 
  <div align="center"><img src="/images/spinner32.gif" alt=""/></div>
</div>
<img src="/images/pix.gif" height="320" width="1" alt=""/>
</div> 
<div id="feed_request">
<a href="javascript:MAU.mailer('www','missionartistsunited.org','My Favorite SF Art Feed');">Recommend a feed we should add to this list.</a>
