@import "gto/variables";
@import "gto/gto-mixins";
.open_studios.index {
  .padded-content > .js-tabs {
    margin-top: -10px;
  }
  .artists-scroll-wrapper {
    margin-left: -10px;
  }
}
.open-studios-index__section {
  margin-bottom: 30px;
}
.open-studios-index__header {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: $font-weight-bold;
}
.open-studios-index__participant-list {
  margin-top: 0;
  padding-left: 20px;
  li {
    list-style: circle;
  }
}
