@import "gto/variables";
@import "gto/gto-mixins";
.open_studios.index {
  .padded-content > .js-tabs {
    margin-top: -10px;
  }
  .artists-scroll-wrapper {
    margin-left: -10px;
  }
}
.open-studios-index__section {
  margin-bottom: 30px;
}
.open-studios-index__header {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: $font-weight-bold;
}
.open-studios-index__participant-list {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}
.open-studios-index__participant {
  width: 33%;
  @media screen and (max-width: $screen-lg-max) {
    width: 49%;
  }
  @media screen and (max-width: $screen-md-max) {
    width: 49%;
  }
  @media screen and (max-width: $screen-sm-max) {
    width: 100%;
  }
  @media screen and (max-width: $screen-xs-max) {
    width: 100%;
  }
}
