*~
\#*
.#*
.env.*
*.orig
*.tgz
.DS_Store
.bundle
_cached_feeds.html
tmp
studiodata
artistdata
public/system/*
log
db/backup
backups
public/stylesheets/*.css
.idea
.jhw-cache
.sass-cache
public/studiodata
public/artistdata
public/assets
log
coverage/*
cucumber_reports/*
test-results/*
jscoverage/*
flog.report*
secret/*
config/config.keys.yml
research
.env.*
.projections.json

*.mysql
*.psql
.byebug_history

# webpack
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Vite Ruby
/public/vite*
node_modules
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local


# local active storage directory
/storage


/config/master.key

/config/credentials/acceptance.key

/config/credentials/production.key
