*~
\#*
.#*
.env.*
*.orig
.DS_Store
.bundle
_cached_feeds.html
tmp
studiodata
artistdata
public/system/*
log
db/backup
backups
public/stylesheets/*.css
.idea
.jhw-cache
.sass-cache
public/studiodata
public/artistdata
public/assets
log
coverage/*
cucumber_reports/*
test-results/*
jscoverage/*
flog.report*
secret/*
config/config.keys.yml
research
.env.*

*.mysql
*.psql
.byebug_history

node_modules
node_modules/*
