<div id="getinv_donate" class="getinv-content" >
  Because we are a small group and working on volunteer resources, expenses come out of our pockets.  Our events cost money and if you would like, we'd love to take your $$$ to support our efforts.  

We do not have 501(3)c status, so your donations are currently not tax-deductible, but you can donate with the knowledge that your donations are very appreciated and would help us in our efforts to support and promote the artists in the Mission.

Use this button to donate to our group via PayPal.  And we'll love you forever.

<h2>Paypal Donate Button</h2>

</div>

