<p/>
Because we are a small group and working on volunteer resources, expenses come out of our pockets.  Our events cost money and if you would like, we'd love to get a little help for our efforts.
<p/>
We do not have 501(3)c status, so your donations are currently not tax-deductible, but you can donate with the knowledge that your donations are very appreciated and will go directly to supporting and promoting art and artists in the Mission.
<p/>
Use one of the buttons below to donate to our group via PayPal.  And we'll love you forever.
<div class="donate-btns">
  <div>
    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="11282053">
      <input type="image"  width="118" height="30" src="/images/donate-5.png"  name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt=""  src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <span>'cuz I like art</span>
  </div>
  <div>
    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="11282069">
      <input type="image"  width="118" height="30" src="/images/donate-20.png"  name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt=""  src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <span>'cuz I LOVE art! (free MAU stickers with your donation)</span>
  </div>
  <div>
    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="11282160">
      <input type="image"  width="118" height="30" src="/images/donate-50.png"  name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt=""  src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <span>Sponsorship Level</span>
  </div>
  <div>
    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="11056555">
      <input type="image" width="118" height="30" src="/images/donate.png"  name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt=""  src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <span>As much as you want! (We'll do backflips for you)</span>
  </div>
</div>

