<div id="getinv_overview" class="getinv-content" >
  <p/>Mission Artists United is currently a small group of artists focused on promoting and unifying all the artists in the Mission district of San Francisco in an effort to bring attention to both the artists, and the community. To accomplish all the great things that we'd like to, we know that we're going to need some help.  That's where you come in. 
  <p/>
  We need donations to help keep this website running, to support our events and for supplies to keep the organization running.
<p/>
With Spring Open Studios coming up, and other events that have come up in our brainstorming sessions, we are always in need of volunteers.
<p/>Finally, we'd like to start working with Mission galleries and businesses to see how we can integrate with the local community even more.  
</div>
