<div id="getinv_overview" class="getinv-content" >

  <p/>
Mission Artists United is small but growing!  Focused on promoting and unifying all the artists in the Mission district of San Francisco, MAU is concentrating its efforts to bring attention to both the artists, and the Mission community. To accomplish all the great things that we'd like to, we know that we're going to need some help. That's where you come in.
  <p/>
  Are you an artist who lives or works in the Mission but is not yet represented on this website? Join your fellow artists and  <%= link_to "sign up!", signup_path, { :title => "create an account"} %>!
<p/>
Do you have some extra cash lying around?  MAU needs donations to help keep this website running, to support our events and for supplies to keep the organization running. <a href="/getinvolved/donate" title="Donate">Donate!</a>
<p/>
Do you have a burning need to help your fellow artists?  With Spring Open Studios coming up, and other events that have come up in our brainstorming sessions, we are always in need of volunteers. <a href="/getinvolved/volunteer" title="Volunteer">Volunteer!</a>
<p/>
Are you a Mission business or gallery owner?  We want to talk with you about how we can work together to promote the Mission as a place to work, play and shop!  <a href="/getinvolved/business" title="Business/Gallery Inquiries.">Learn More!</a>
<p/>
Are you a journalist looking for a great story about a plucky group of artists trying to help revitalize a neighborhood? <a href="#" onclick="MAU.mailer('mau','missionartistsunited.org', 'I want to learn the story of MAU!');">Send us a note!</a>
</div>
