<% if @alpha_links -%>
<div class="alpha-pagination">
Last name:
<% @alpha_links.each do |a| -%>
<% clz = "" 
   if a[2] -%>
<span class="curpg alpha-pg"><%= a[0] %></span>
<% else -%>
<span class="alpha-pg"><%= link_to a[0], "?" + a[1] %></span>
<% end -%>
<% end -%>
</div>
<% end -%>
