- if alpha_links
  .alpha-pagination
    Last name:
    - alpha_links.each do |a|
      - if a[2]
        %span.curpg.alpha-pg
          = a[0]
      - else
        %span.alpha-pg
          = link_to a[0], a[1]
