/ locals: artist
- if artist.artist.present?
  #bigthumbcolumn
    - if artist.has_art?
      = render '/art_pieces/thumbs', :pieces => artist.art_pieces[0..3], :params => { :size => 'small', :show_footer => false, :cols => 1, :art_link => true}
    - else
      .allthumbs
        - if logged_in? && (current_user.id == artist.id)
          - title = "Click to Upload Some Art!"
          .artp-thumb.small
            = link_to new_artist_art_piece_path(current_user), :title => title do
              %img{ :src => "/images/default-art-img.png", :title => title }
          = link_to title, new_artist_art_piece_path(current_user), :title => title
        - else
          .artp-thumb-small
            %img{ :src => "/images/default-art-img.png" }
