- @artists.each do |artist| 
  - piece = (artist.representative_piece ? artist.representative_piece.get_path('small') : artist.get_profile_image('small'))
  %li
    %a{:href => artist_path(artist)}
      .thumb{:style => "background-image:url(#{piece});"}
      .name #{artist.get_name(true)}
    - if artist.os_participation[Conf.oslive.to_s]
      .os-star
- if @artists.respond_to? :total_pages
  - if @artists.total_pages == @artists.current_page
    .hidden.on_last_page