<div class="little-txt td-right navlinks">
  View:
  <span class="nobr">
  <% if @view_mode == 'gallery' -%>
  gallery
  <% else -%>
  <%= link_to "gallery", @gallery_link %>
  <% end -%>
/
  <% if @view_mode == 'list' -%>
  roster
  <% else -%>
  <%= link_to "roster", @roster_link %>
  <% end -%>
/
  <% if @view_mode == 'map' -%>
  map
  <% else -%>
  <%= link_to "map", @map_link || artistsmap_path %>
  <% end -%>
  </span>
</div>
