<!-- ADMIN Controller for adding studios.
no reason for this to be very pretty
-->
<script src="/javascripts/mau_admin.js" type="text/javascript"></script>

<div class="admin-table">
<h1>Listing artists</h1>
<% if flash[:error] -%>
<div class="error-msg">Error:
  <%= flash[:error] %>
</div>
<% end -%>
<% if flash[:notice] -%>
<div class="notice">
  <%= flash[:notice] %>
</div>
<% end -%>

<div>Sort By:
  <% @allowed_sortby.each do |s| %>
  <a href="?sortby=<%= s %>"><%= s %></a>
  <% end %>
  <br/>
  Reverse Sort By:
  <% @allowed_sortby.each do |s| %>
  <a href="?rsortby=<%= s %>"><%= s %></a>
  <% end %>
  <br/>
</div>

<button id="update_artists" style="float:right">update os status</button>
<%= form_tag "/admin/artists/" %>
<table>
  <tr>
    <th>name</th>
    <th>id</th>
    <th>street</th>
    <th>OS?</th>
  </tr>

<% @artists.each do |a| %>
  <tr>
    <!--
    <td><% if a.has_profile_image -%>
      <img src="<%= a.get_profile_image('thumb') %>"/>
    <% else -%>
    no img
    <% end -%>
    </tde
       -->
    <td id="admin_artist_name" style="width:100px; ">
      <%=h a.get_name %><br/>
    </td>
    <td id="admin_artist_studio" style="width:100px; ">
      <% if a.studio -%>
      <%= link_to(a.studio.name, a.studio) %>
      <% else %>
      Indy/unk
      <% end -%>
    </td>
    <td id="admin_artist_info">
      Username: <%= a.login %><br/>
      EM: <%= a.email %><br/>
      Active? <%= a.state=='active' %><br/>
    </td>
    <td class="street"><%=h a.street %></td>
    <td  class="os2010" artistid="<%= a.id %>"><%=h a.os2010 %></td>
    <% checked = (a.os2010 ? "checked=checked":"") -%>
    <td>
	<div ><input artistid="<%= a.id %>" class="cb2010" type="checkbox" name="artist<%=a.id%>" value="<%=a.os2010%>" <%= checked %> /></div>
    </td>
 </tr>
<% end %>
</table>
</form>
<button id="update_artists" style="float:right">update os status</button>
<br />

</div>
