<!-- ADMIN Controller for adding studios.
no reason for this to be very pretty
-->
<div class="admin-table">
<h1>Listing artists</h1>
<% if flash[:error] -%>
<div class="error-msg">Error:
  <%= flash[:error] %>
</div>
<% end -%>
<% if flash[:notice] -%>
<div class="notice">
  <%= flash[:notice] %>
</div>
<% end -%>

<div>Sort By:
  <% ['studio_id','lastname','firstname','id','login'].each do |s| %>
  <a href="?sortby=<%= s %>"><%= s %></a>
  <% end %>
  <br/>
  Reverse Sort By:
  <% ['studio_id','lastname','firstname','id','login'].each do |s| %>
  <a href="?rsortby=<%= s %>"><%= s %></a>
  <% end %>
  <br/>
</div>

<%= form_tag admin_update_artists_path %>
<input style="float:right" type="submit" value="update os status"/>
<table>
  <tr>
    <th>id</th>
    <th>street</th>
    <th>OS?</th>
  </tr>

<% @artists.each do |a| %>
  <tr>
    <!--
    <td><% if a.has_profile_image -%>
      <img src="<%= a.get_profile_image('thumb') %>"/>
    <% else -%>
    no img
    <% end -%>
    </tde
       -->
    <td id="admin_artist_name">
      Username: <%= a.login %><br/>
      EM: <%= a.email %><br/>
      Name: <%=h a.get_name %><br/>
      Active? <%= a.state=='active' %><br/>
      Studio :<% if a.studio -%>
      <%= link_to(a.studio.name, a.studio) %>
      <% else %>
      Indy/unk
      <% end -%>
    </td>
    <td><%=h a.street %></td>
    <td><%=h a.os2010 %></td>
    <% checked = (a.os2010 ? "checked=checked":"") -%>
    <td>
	<% form_for(a) do |f| -%>
	<div><%= f.radio_button :os2010, "true" %>Yep</div>
	<div><%= f.radio_button :os2010, "false" %>Nope</div>
	<% end %>
    </td>
 </tr>
<% end %>
</table>
<input style="float:right" type="submit" value="update artists"/>
</form>
<br />

</div>
