<div class="admin-table">
  <h1>Artist Email (active only)</h1>
  <div>
    Copy and paste this for all the active artists emails.<p/>

  </div>
  <div class="artist-email-list">
    <% astrs = []
       @artists.each do |a|
       astrs << "%s &lt;%s&gt;" % [ a.get_name(true), a.email ] 
		end
		-%> 
		<%= astrs.join(", ") %>
  </div>
</div>
