- if @artist 
  .artist
    - if @artist.artist_info && @artist.doing_open_studios?
      %h2.os-star 
        #{@artist.get_name(true)}
        .os-star
      See this artist in their studio during Open Studios April 20-21, 2013
    - else
      %h2 
        #{@artist.get_name(true)}
    .bio
      %h3 Bio/Artist's Statement
      - if @artist.bio.present?
        #{@artist.bio}
    .clear
