- if @artist
  .artist
    - if @artist.artist_info && @artist.doing_open_studios?
      %h2.os-star
        #{@artist.get_name}
        .os-star
      See this artist in their studio during 
      = link_to "Open Studios", open_studios_path
    - else
      %h2
        #{@artist.get_name}
    .bio
      %h3 Bio/Artist's Statement
      - if @artist.bio.present?
        #{@artist.bio}
    .clear
