.pure-g
  .pure-u-1-1.header.padded-content
    %h2.title Delete art pieces
.pure-g
  .pure-u-1-1.help-txt.padded-content
    %p Check the "delete" checkbox for all the pieces you want to remove (permanently), and click the "Delete" button below.
.pure-g
  .pure-u-1-1.padded-content
    = form_tag "/artists/destroyart" do
      %input{ type: "hidden", name: "artist", value: @artist.id }
      #delete_art
        = render partial: '/art_pieces/delete_thumb', collection: @artist.art_pieces, as: :art_piece
      .actions
        %input.pure-button.pure-button-primary{ type: "submit",  value: "Delete Selected Images" }
        %input.pure-button{ type: "button", value: "Cancel", onclick: "MAU.goToArtist( #{@artist.id} );"}
