.pure-g
  .pure-u-1-1.header.padded-content
    %h2.title
      Artists
      .filter.js-filter-visibility
        = form_tag '.', id: 'js-artist-index-filter' do
          = fa_icon 'search' 
          %input.js-filter-by-name{type: :text, autofocus: true, name: :filter, placeholder: 'search by name'}


.pure-g
  .pure-u-1-1.padded-content
    .pure-g.js-artists-scroll-wrapper.artists-scroll
      = render 'artist_list', gallery: @gallery
      
