= render '/flash_notice_error'
.pure-g.omega.alpha
  .pure-u-1-1
    %h2 Artists
.pure-g.omega.alpha
  .pure-u-1-1
    = render '/osswitch', :os_only => @os_only
    = render '/artists/view_switcher', :roster_link => @roster_link, :gallery_link => @gallery_link, :map_link => @map_link
.pure-g.js-artists-scroll-wrapper.omega.alpha
  = render partial: 'artist', collection: @gallery.pagination.items
  #js-scroll-load-more{ "data-page" => @gallery.current_page, style: "display:none;" } loading
