<%= error_messages_for :artist %>
<h4>Request for Activation Email</h4>
<% form_for :artist do |f| -%>
<table id="reset_pass" class="signup-table">
  <tr>
    <td colspan="2" >
      <% if flash[:error] %>
      <div class="error-msg">
	<%= flash[:error] %>
      </div>
      <% end %>
      
      <div>Submit in your MAU account email below. </div>
  </tr>
  <tr>
    <td align="right"><label>Email:</label></td>
    <td><%= f.text_field :email %></td>
  </tr>       
  <tr>
    <td></td>
    <td><%= submit_tag 'Submit' %></td>
  </tr>
</table>
<div class="little-txt">
  <a href="/forgot">Did you forget your password?</a>
</div>
<% end -%>
