<div id="all_artists_page" class="roster-container" >
  <h4>MAU Artists</h4>
  <%= render :partial => '/osswitch', :locals => { :params => @inparams} %> 
  <%= render :partial => '/artists/view_switcher' %>
    <div class="clear"></div>
  <div class="roster">

    <% num_cols = 5 
       per_col = 20
       cols = 0 
       first = 0
       last = per_col - 1
       begin -%>
    <% if (cols > 0) && ((cols % num_cols) == 0) -%>
    <div class="clear"></div>
    <% end -%>
    <div class="chunk">
      <% arr = @artists[first..last].each do |a| -%>
      <div class="name"><%= link_to a.get_name(true), a %></div>
      <% end -%>
    </div>
    <% first += per_col
       last += per_col
       cols += 1
       -%>
    <% end while first < @artists.length -%>
       </div>
    <div class="clear"></div>
</div>
