#all_artists_page.roster-container
  %h4
    MAU Artists
  = render '/osswitch', :os_only => @os_only
  = render '/artists/view_switcher', :roster_link => @roster_link, :gallery_link => @gallery_link, :map_link => @map_link
  .clear
  .roster
    :ruby
       num_cols = 5
       per_col = 20
       cols = 0
       first = 0
       last = per_col - 1
    - begin
      - if (cols > 0) && ((cols % num_cols) == 0)
        .clear
      .chunk
        - @roster.artists[first..last].each do |a|
          .name
            = link_to a.get_name, a
      :ruby
        first += per_col
        last += per_col
        cols += 1
    - end while first < @roster.num_artists
  .clear
