<div id="all_artists_page" class="roster-container" >
  <h4>MAU Artists</h4>
  <%= render :partial => '/osswitch', :locals => { :params => @inparams} %> 
  <%= render :partial => '/artists/view_switcher' %>
    <div>
  <table>
    <tr>
      <td align="center">
    <% per_col = 20 -%>
    <% first = 0
       last = per_col - 1
       begin -%>
    <div class="roster-col">
      <% arr = @artists[first..last] -%>
      <table>
        <% arr.each do |a| -%>
	<tr>
	  <td class="roster-names">
	    <div><%= link_to a.get_name(), a %></div>
	  </td>
	</tr>
	<% end -%>
      </table>
    </div>
    <% first += per_col
       last += per_col
       end while first < @artists.length -%>
  </td></tr></table>
</div>
