<div id="all_artists_page" class="roster-container" >
  <h4>MAU Artists</h4>
  <%= render :partial => '/artists/view_switcher' %>
  <%= render :partial => '/osswitch', :locals => { :dest => @selflink} %>
     <div class="clear"></div>
  <div class="roster">
    <% per_col = 20 -%>
    <% first = 0
       last = per_col - 1
       begin -%>
    <% arr = @artists[first..last] -%>
    <% arr.each do |a| -%>
    <div><%= link_to a.get_name(true), a %></div>
    <% end -%>
  </div>
  <% first += per_col
     last += per_col
     end while first < @artists.length -%>
     <div class="clear"></div>
</div>
