.pure-g
  .pure-u-1-1.header.padded-content
    %h2.title
      Artist:
      %span.artist__name #{@artist.get_name}
  .pure-u-1-1.padded-content
    %ul.js-tabs.tabs.tabs__horizontal
      %li.active<
        %a{href: '#art', "data-toggle" => 'tab'} Art
      %li>
        %a{href: '#about', "data-toggle" => 'tab'} Profile
.tab-content
  #art.tab-pane.active
    .pure-g.alpha.omega
      = render partial: '/artists/art', collection: @artist.art_pieces, as: :art_piece
  #about.tab-pane
    = render '/artists/about', artist: @artist
