.pure-g.tabs
  .pure-u-1-2
    %a{href: '#art'} art
  .pure-u-1-2
    %a{href: '#about'} about
.pure-g.tab-contents
  .pure-u-1-1#art
    Art goes here
  .pure-u-1-1#about
    About goes here      
