.pure-g
  .pure-u-1-1.header.padded-content
    %h2.title
      Artist:
      %span.artist__name #{@artist.get_name}
.pure-g
  .pure-u-1-3.padded-content
    #about.tab-pane
      = render '/artists/about', artist: @artist
  .pure-u-2-3.padded-content
    #art.tab-pane.active
      .pure-g.alpha.omega
        = render partial: '/artists/art', collection: @artist.art_pieces, as: :art_piece
