<p>
  Hello, <%= @user.login %>
</p>

<p>
Congratulations!  Your account has been activated.  We're so excited to know there are more Mission Art Fans out there.
</p>
<p>
  Don't hesitate to email if you have questions (mau@missionartists.org).
</p>
<p>
  Welcome aboard!
</p>

<p>
  Regards
  <br/>
  The Mission Artists Team
</p>

<p>
  <%= @url %>
</p>
