<p>
Your account on Mission Artists has been created.
</p>
<p>
Your username is <%= @user.login %>
</p>
<p>
Before getting started, you must activate your account.  Click <a href="#@url">here:  <%= @url %></a>
</p>
