.no-results
  %p
    We couldn't find anything that matched your search term 
    %em &quot;#{@user_query}&quot;.  

  %p
    You might try a more generic keyword or split up keywords with comma's to be more precise.  For example, to look for a "san francisco painting", you might try "san francisco, painting".

  %p
    You can further refine your search by selecting which mediums you'd like to see, or from which studios the artwork came.  Simply expand those sections on the left and use the checkboxes to narrow your results.  


