%ul.navlinks
  - if @last > 1
    %li
      %a{:href => '#prev', 'data-page' => (@page.to_i-1), :title => "previous"} < prev
  - @last.times do |x|
    - x = x + 1
    %li
      %a{:href => "#%d" % x, 'data-page' => x, 'class' => "#{'current' if @page.to_i == x}" } #{x}
  - if @last > 1
    %li
      %a{:href => '#next', 'data-page' => (@page.to_i + 1), :title => "next"} next >

