- if @num_results >= @per_page
  - pages = get_pages_for_pagination @page-1, @last

  - if pages.count > 1
    %ul.navlinks.paginator
      - if @last > 1
        %li
          %a{:href => '#prev', 'data-page' => (@page.to_i-2), :title => "previous"} < prev
      - pages.length.times do |idx|
        - pg = pages[idx]
        - if pages[idx] > 0 && ((pages[idx] - pages[idx-1]) > 1)
          %li ...
        %li
          %a{:href => "#%d" % pg, 'data-page' => pg, 'class' => "#{'current' if @page.to_i == pg+1}" } #{pg+1}
      - if @last > 1
        %li
          %a{:href => '#next', 'data-page' => (@page.to_i), :title => "next"} next >

