<div class="search-thumbs">
<%
 if pieces and !pieces.empty?  
   size = params[:size] || 'thumb'
   art_link = params[:art_link] || false
   select = params[:select] || false
   _params = { :select => select, 
              :size => size, :artist_link => !art_link }
   pieces.each do |p|
-%>
<%
    _params[:piece] = p
%>
<%= render :partial => '/search/thumb', :locals => _params %>
<% end -%>
<% end -%>
</div>
