- if piece && piece.artist
  - linkto = (artist_link and piece.artist) ? artist_path(piece.artist) : art_piece_path(piece)
  .artpiece-thumb
    - if piece.artist.doing_open_studios?
      .os-star{:title => "I'll be in Open Studios!"}
    .search-thumb-art
      - if piece.get_path(size)
        %a{:href => linkto}
          %img{:src => piece.get_path(size)}
      - else
        No Image
    .search-thumb-info
      .artist
        %span Artist:
        %span
          = link_to piece.artist.get_name, piece.artist
      .artpiece_title
        %span Title:
        %span
          = link_to piece.get_name, art_piece_path(piece)
      - if piece.medium
        .artpiece_medium
          %span Medium:
          %span
            = link_to piece.medium.name, piece.medium
      - if !piece.tags.empty?
        .artpiece_tag
          %span Tags:
          %span
            = piece.uniq_tags.map{|t| link_to(t.safe_name, t)}.join(", ").html_safe
    .clear
