<h1>upload artpiece</h1>
<% form_tag ({:action => 'uploadFile'}, :multipart => true) do %>
  <p><label for="upload_file">Select File</label> : 
  <%= file_field 'upload', 'datafile' %></p>
  <%= text_field 'artpiece', 'id' %></p>
  <%= submit_tag "Upload" %>
<% end %>
