<p>Bully for you, <%= @artist.get_name(true) %></p>

<p>
  <%= @sender.get_name %> hearts you on Mission Artists!
  See everyone who hearts you here <a href="<%= @artist_url %>" target="_blank"><%= @artist_url %></a>.
</p>

<p>
Cheers,<br/>
The MAU Team
</p>

<p>
---<br/>
Mission Artists has not given the sender your email.
</p>

<p>
You should not reply directly to this email.
</p>
