Bully for you, <%= @artist.get_name %>

<%= @sender.get_name %> hearts you on Mission Artists United!  See everyone who hearts you <a href="<%= @artist_url %>">here</a>.

Cheers, 
The MAU Team
---
Mission Artists United has not given the sender your email.

If you don't wish to receive notifications when you get hearted, you can switch of favorites notification <a href="<%= @notification_url %>">here.</a>

You should not reply directly to this email.

