/* line 1, app/assets/stylesheets/catalog.scss */
q
body, div, span {
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana", Arial, sans-serif;
}

/* line 5, app/assets/stylesheets/catalog.scss */
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 11, app/assets/stylesheets/catalog.scss */
.clear {
  clear: both;
}

/* line 16, app/assets/stylesheets/catalog.scss */
#catalog {
  /* for pdf, 72px/in
       translate from px in css to px in print seems to be about 1.3 (htmlpx / 1.3) = css px
    .page {
        width: 796px;
        height: 1129px;
        margin-bottom: 50px;
    }
 */
  font-size: small;
}

/* line 25, app/assets/stylesheets/catalog.scss */
#catalog .section {
  padding: 50px;
}

/* line 28, app/assets/stylesheets/catalog.scss */
#catalog h3, #catalog h4, #catalog h5 {
  font-size: 130%;
}

/* line 32, app/assets/stylesheets/catalog.scss */
#catalog .markdown p {
  border-top: 1px solid #999;
  padding-top: 5px;
}

/* line 37, app/assets/stylesheets/catalog.scss */
#catalog li {
  line-height: 21px;
  padding-left: 8px;
}

/* line 40, app/assets/stylesheets/catalog.scss */
#catalog li.odd {
  background-color: #f4f4f4;
}

/* line 46, app/assets/stylesheets/catalog.scss */
#catalog .list .entry {
  margin: 8px 8px 16px;
  width: 250px;
}

/* line 50, app/assets/stylesheets/catalog.scss */
#catalog .list .title {
  font-size: normal;
  background-color: #eee;
  padding: 8px;
  border-bottom: 1px solid #999;
}

/* line 55, app/assets/stylesheets/catalog.scss */
#catalog .list .title .studioname {
  font-weight: bold;
}

/* line 60, app/assets/stylesheets/catalog.scss */
#catalog .list .count {
  margin-left: 5px;
}

/* line 63, app/assets/stylesheets/catalog.scss */
#catalog .catalog-entry {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

/* line 67, app/assets/stylesheets/catalog.scss */
#catalog .catalog-entry--image {
  -ms-flex: 1;
      flex: 1;
  margin-right: 20px;
}

/* line 71, app/assets/stylesheets/catalog.scss */
#catalog .catalog-entry--info {
  -ms-flex: 1;
      flex: 1;
}

/* line 74, app/assets/stylesheets/catalog.scss */
#catalog .catalog-entry--image {
  width: 300px;
}

/* line 76, app/assets/stylesheets/catalog.scss */
#catalog .catalog-entry--image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
