@use "../../mixins" as *;
@use "../../colors" as c;
@use "../variables" as v;

.art-window {
  flex: 1;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.art-window__image-container {
  @include flex-center-center;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  flex: 1;
  margin-bottom: 15px;
}

.art-window__image {
  height: 100%;
  width: 100%;
  position: relative;
}

.art-window__info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  width: 65%;
  @media screen and (max-width: v.$screen-sm-max) {
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    flex-direction: column;
  }
  @media screen and (max-width: v.$screen-xs-max) {
  }
}
.art-window__info--right,
.art-window__info--left {
  flex: 1;
}
.art-window__info--right {
  text-align: right;
  @media screen and (max-width: v.$screen-lg-max) {
  }
  @media screen and (max-width: v.$screen-md-max) {
  }
  @media screen and (max-width: v.$screen-sm-max) {
    text-align: left;
  }
  @media screen and (max-width: v.$screen-xs-max) {
  }
}

.art-window__annotation {
  margin-bottom: 6px;
}
.art-window__body {
  margin-bottom: 10px;
}

.art-window__annotation-label {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.art-window__annotation-value {
  color: c.$gto-dark_blue;
}

.art-window__price--sold {
  .art-window__annotation-value {
    text-decoration: line-through;
  }
}

.art-window__sold {
  @include sold-sign;
  font-size: 1.4rem;
  position: absolute;
  left: 50%;
  bottom: 10px;
  padding: 8px;
  transform: translateX(-50%);
}

.art-window__contact-artist {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  @include box-shadow(0 0 8px 0px rgba(128, 128, 128, 0.7));
  background-color: white;
  padding: 20px;
  z-index: 100;
  @include round-corners(50%);

  > img {
    height: 50px;
    width: 50px;
  }

  @media screen and (max-width: v.$screen-sm-max) {
    bottom: -3px;
    right: -3px;
  }
  @media screen and (max-width: v.$screen-xs-max) {
  }
}
