.art-card {
  pointer: cursor;
}
.art-card__price--sold {
  text-decoration: line-through;
}
.art-card__sold {
  @include sold-sign;
  font-size: 0.8rem;
  position: absolute;
  right: 15px;
  bottom: 60px;
  padding: 5px;
}

.art-card__description {
  margin-top: 6px;
  @include light-border;
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.art-card__description-item {
  @include ellipsis;
  flex: 1;
  &:first-child {
    text-align: left;
  }
  &:last-child {
    text-align: right;
  }
}
