.art-modal__content {
  padding: 20px 25px;
  @include round-corners(6px);
  background-color: $light-gray-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 96%;
  @include floating-window-border;
  top: 20px !important; /* need to override react-modal inline stlyes */
  left: 2% !important; /* need to override react-modal inline stlyes */
  right: 2% !important; /* need to override react-modal inline stlyes */
  bottom: 20px !important; /* need to override react-modal inline stlyes */
  position: absolute !important; /* need to override react-modal inline stlyes */
}
.art-modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

@mixin chevron {
  @include background-contain;
  height: 40px;
  width: 40px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  cursor: pointer;
  font-size: 1.4rem;
  &:hover {
    font-size: 1.6rem;
  }
  @include round-corners(50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.art-modal__previous {
  @include chevron;
  left: 10px;
}
.art-modal__next {
  @include chevron;
  right: 10px;
}
.art-modal__window-wrapper {
  display: flex;
  height: 100%;
  width: 95%;
}
