@use "../../colors" as c;
@use "../variables" as v;

.contact-artist__container {
  margin: auto;
  width: 50%;

  @media screen and (max-width: v.$screen-lg-max) {
  }
  @media screen and (max-width: v.$screen-md-max) {
    margin: 20px auto;
    width: 70%;
  }
  @media screen and (max-width: v.$screen-sm-max) {
    width: 100%;
  }
  @media screen and (max-width: v.$screen-xs-max) {
  }
}
.contact-artist__header {
  margin-bottom: 12px;
}
.contact-artist__input {
  margin-bottom: 16px;
  label {
    color: c.$gto_gray;
  }
}
