@use "sass:color";
@use "../../colors" as *;
@use "../../mixins" as *;

.events-notification-bell {
  z-index: 125;
  border: 1px solid $gto_red;
  background-color: $error-bg;
  position: fixed;
  top: 27px;
  right: -5px;
  padding-right: 5px;
  @include round-corners(4px);
  a:link,
  a:visited,
  a:active {
    transition: color 0.15s ease-in-out;
    color: $gto_red;
  }
  a:hover {
    color: $gto_orange;
  }
}

.events-notification-bell__tooltip {
  padding: 8px 0 8px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
