@import "gto/gto-mixins";
@import "gto/mau_modal";

.open-studios-registration__modal {
  padding-top: 20px;

  .ngdialog-content {
    max-width: 900px;
  }
}

.open-studios-modal__container {
  @include mau-modal__window;
  background-color: $light-gray-background;
}

.open-studios-registration-form__actions {
  display: flex;
  flex-wrap: wrap;
}
.open-studios-registration-form__action-item
  + .open-studios-registration-form__action-item {
  margin-left: 10px;
}

.open-studios-registration__modal {
  ol {
    list-style: decimal;
    margin-left: 10px;
    li {
      list-style: decimal;
      margin-left: 10px;
    }
  }
}
