@use "../variables" as v;
@use "../../colors" as *;
@use "../../mixins" as *;

art-pieces-browser {
  .profile-info {
    .pure-button {
      width: 100%;
      @include ellipsis;
    }
  }
}
.social-buttons,
.profile-info {
  margin-top: 30px;
  margin-right: 15px;
  .share {
    text-align: left;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: v.$font-weight-light;
    padding-bottom: 6px;
    vertical-align: middle;
    margin-right: 8px;
    height: 1.5rem;
  }
  share-button {
    display: inline-block;
    margin-bottom: 3px;
  }
  .fa.fa-ico-invert {
    cursor: pointer;
  }
}
@media screen and (min-width: v.$screen-xs-max) {
}
@media screen and (min-width: v.$screen-sm-max) {
}
@media screen and (min-width: v.$screen-md-max) {
  .social-buttons .share {
  }
}
