.special-event-schedule {
  margin-top: 20px;
}

.special-event-schedule__day-title {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.special-event-schedule__label {
  @include form-label;
  color: $gto_gray;
  margin-bottom: 12px;
}

.special-event-schedule__timeslot {
  margin-bottom: 8px;
}

.special-event-schedule {
  opacity: 1;
  @include transition(opacity 0.3s ease-in-out);
}

.special-event-schedule--disabled {
  opacity: 0.4;
}
