<script type="text/javascript" src="/javascripts/flotr/0.2.0/flotr.debug.js"></script>
<div class="singlecolumn" >
  <h4>
    Artists added per day
  </h4>
  <div class="chunks">
    <% @chunks.each do |chunk| -%>
    <div class="chunk">
      <% chunk.each_with_index do |pr, idx|
           s = "#{pr.join(' ')}"
           -%>
      <div class="<%= (((idx%2)==0)?'even':'odd') %>"><%=h s %></div>
      <%  end -%>
    </div>
    <%  end -%>
    <div class="clear"></div>
  </div>
</div>
