.admin-table.singlecolumn
  %table.os-status
    %tr
      %th name
      - @totals.keys.sort.each do |key|
        %th #{key}
    %tr.totals
      %td Totals:
      - @totals.keys.sort.each do |key|
        %td.tf #{@totals[key]}
    - @os.each_with_index do |a,idx| 
      %tr{:class => cycle('even','odd')}
        %td#admin_artist_name
          %a{:href => user_path(a)} #{a.get_name(true)}
        - Conf.open_studios_event_keys.sort.map(&:to_s).each do |ostag|
          %td.tf
            - val = a.os_participation[ostag] || 'false'
            %span{:class => val} #{val}
