.admin-table.singlecolumn
  %h1 Open Studios Participation
  %table.os-status
    %tr
      %th name
      - @totals.keys.sort{|a,b| b[-4..-1] <=> a[-4..-1]}.each do |key|
        %th #{key}
    %tr.totals
      %td Totals:
      - @totals.keys.sort{|a,b| b[-4..-1] <=> a[-4..-1]}.each do |key|
        %td.tf #{@totals[key]}
    - @os.each_with_index do |a,idx| 
      %tr{:class => (0 == (idx % 2)) ? 'odd' : 'even'}
        %td#admin_artist_name
          %a{:href => user_path(a)} #{a.get_name(true)}
        - Conf.open_studios_event_keys.map(&:to_s).each do |ostag|
          %td.tf
            - val = a.os_participation[ostag] || 'false'
            %span{:class => val} #{val}
