<div id="role_mgr">
  <h3>Roles</h3>
  <ul >
    <% @users_in_roles.each_with_index do |pr, idx| 
         role = pr[0]
         users = pr[1]
         clz = (((idx%2)==0)?'even':'odd')
       -%>
    <li class="<%= clz %>"><div><span class="role"><%= role %> :</span><span class="role-members"><%= users.map(&:fullname).join(", ") %></span></div>
    </li>
    <% end -%>
  </ul>
</div>
