@import "colors";
.section.markdown.editable {
  position: relative;
  .edit_indicator {
    display: none;
  }
  &.editable--empty {
    padding: 20px;
    margin: 0;
    &:before {
      content: "<empty cms content>";
      color: $light-gray;
    }
  }
  &:hover {
    .edit_indicator {
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: rgba(200, 220, 220, 0.6);
      border: 1px solid $x-light-gray;
      padding: 10px;
    }
  }
}
