@import "colors";
@import "gto/gto-mixins";

.section.markdown.editable {
  position: relative;
  .editable-content-trigger {
    display: none;
  }
  &.editable--empty {
    padding: 20px;
    margin: 0;
    &:before {
      content: "<empty cms content>";
      color: $light-gray;
    }
  }
  &:hover {
    .editable-content-trigger {
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: rgba(200, 220, 220, 0.6);
      @include light-border;
      padding: 10px;
    }
  }
}
