@use "sass:color";
@use "../colors" as *;
@use "../mixins" as *;
@use "./variables" as v;

$input-width: 90%;
$mobile-input-width: 100%;

.success-msg,
.error-msg {
  padding: 12px;
  background-color: white;
  border-color: $xx-light-gray;
  margin-bottom: 20px;
  line-height: 1.4rem;
  @include round-corners(2px);
}
.error-msg {
  padding: 12px;
  background-color: $error-bg;
  color: $gto-red;
  margin-bottom: 20px;
  line-height: 1.4rem;
  @include round-corners(2px);
}
tr.error-msg {
  &:nth-child(2n) td {
    background-color: $error-bg;
  }
  &:nth-child(2n-1) td {
    background-color: color.adjust($gto-red, $lightness: 40%) !important;
  }
}
.inline-hints {
  width: $input-width;
  @media screen and (max-width: v.$screen-xs-max) {
    width: $mobile-input-width;
  }
  font-size: 85%;
  font-style: italic;
  line-height: 1rem;
  color: $light-gray;
}
.actions,
.inputs {
  border: none;
  padding: 0;
  margin-bottom: 10px;
  ol {
    margin: 0;
    padding: 0;
  }
  a + a,
  .pure-button + .pure-button {
    margin-left: 5px;
  }
  ::placeholder {
    /* WebKit, Blink, Edge */
    color: $light-gray;
  }
}
.inputs textarea {
  width: $input-width;
  @media screen and (max-width: v.$screen-xs-max) {
    width: $mobile-input-width;
  }
}
.required {
  [title="required"] {
    border: none;
    color: $gto_red;
    margin-left: 3px;
    text-decoration: none;
  }
}
.inputs {
  li {
    margin-bottom: 10px;
  }
  label {
    @include form-label;
  }
  select,
  input {
    padding: 10px;
    border-radius: 2px;
    @include light-border;
    width: $input-width;
    @media screen and (max-width: v.$screen-xs-max) {
      width: $mobile-input-width;
    }
    &:focus + span,
    &:checked + span {
      color: $darkbluegray;
    }
    &:focus {
      border-color: $gto_dark_teal;
    }
  }
  select {
    padding: 0 10px;
    height: 37px;
  }
  .input {
    &.boolean input {
      width: auto;
      margin-right: 5px;
    }
    &.error {
      input,
      select {
        border: 1px solid $gto_red;
      }
      label.label {
        color: $gto_red;
      }
    }
    .inline-errors {
      color: $gto_red;
    }
  }
}

.input-help {
  font-size: 0.8rem;
  text-align: center;
}

.pure-controls {
  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + span {
    padding-left: 5px;
  }

  input[type="radio"] + span:before,
  input[type="checkbox"] + span:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: v.$font-awesome-font-family;
    font-style: normal;
    font-weight: v.$font-weight-normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input[type="checkbox"] + span:before,
  input[type="radio"] + span:before {
    margin-right: 5px;
    content: "\f096"; /* square-o */
  }

  input[type="checkbox"]:checked + span:before,
  input[type="radio"]:checked + span:before {
    margin-right: 4px;
    content: "\f14a"; /* check-square */
  }
}

.pure-button {
  border-radius: 2px;

  &.button-danger,
  &.button-success,
  &.button-error,
  &.button-warning,
  &.button-primary,
  &.pure-button-primary,
  &.button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  &.button-primary,
  &.pure-button-primary {
    background: $gto_teal;
  }

  &.button-danger,
  &.button-error {
    background: $gto_red;
  }

  &.button-warning {
    background: $gto_orange;
    background: rgb(223, 117, 20); /* this is an orange */
  }
  &.button-secondary {
    background: $gto_yellow;
  }
}

.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: color.adjust($gto_yellow, $lightness: 55%) !important;
}
.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: $gto_yellow !important;
}
.select2-container {
  width: $input-width !important;
  @media screen and (max-width: v.$screen-xs-max) {
    width: $mobile-input-width !important;
  }
}
