@use "sass:color";
@use "../mixins" as *;
@use "../colors" as *;
@use "variables" as v;

.sidenav {
  /* see also _layout.scss */
  .nav-section {
    margin-top: 6px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.3);
    h3 {
      height: 33px;
      line-height: 33px;
      margin: 0 0 0px;
      padding-right: 20px;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: v.$font-weight-light;
      text-align: right;
    }
  }
  ul,
  li {
    margin: 0 auto;
    padding: 0;
  }
  .search {
    @include sidebar-nav-entry;
    &:hover {
      background-color: rgba(200, 200, 200, 0.2);
    }
    .text {
      font-weight: v.$font-weight-bold;
      display: inline-block;
    }
  }
  .nav-icon {
    text-align: center;
    position: relative;
    &:hover {
      cursor: pointer;
    }
  }
  .nav-mobile {
    display: none;
  }
  .signin-nav {
    margin-top: 20px;
    .text {
      @include ellipsis;
      a {
        font-weight: normal;
      }
    }
    .nav-icon {
      display: none;
    }
  }
}

.nav,
.social-links,
.signin-nav {
  margin: auto;
}

.signin-nav,
.nav {
  width: 100%;
  a,
  .fa,
  .text {
    color: $gto_dark_teal;
    &:visited,
    &:link,
    &:active {
      color: $gto_dark_teal;
    }
    &:hover {
      color: $gto_gray;
    }
  }
  .tabs,
  .tabs li {
    list-style: none outside none;
    margin: 0;
    padding: 0;

    .nav-secondary-link {
      font-size: 0.75em;
    }

    .nav-secondary-link--emphasis {
      font-size: 0.75em;
      color: $gto_orange;
    }
  }
  .signout__links.tabs,
  .signin__links.tabs {
    .tab a {
      font-weight: v.$font-weight-normal;
    }
  }
  .search,
  .tabs .tab {
    margin: 0;
    &:hover {
      a,
      .text {
        font-weight: v.$font-weight-bold;
        color: $gto_dark_teal;
      }
    }
    .dropdown .ico {
      max-height: 22px;
      height: 22px;
      line-height: 22px;
    }
    a {
      text-transform: uppercase;
    }
    > a {
      display: block;
    }
    &.active {
      > a {
        background-color: $gto_yellow;
      }
      a,
      .fa,
      .text {
        color: $xx-light-gray;
      }
      .dropdown {
        a,
        .fa,
        .text {
          color: inherit;
        }
      }
    }
  }

  .signout__links.tabs,
  .tabs.signin__links .tab {
    &:hover {
      a,
      .fa,
      .text {
        font-weight: v.$font-weight-normal;
      }
    }
  }

  .tab-content {
    pointer-events: none;
    @include transition(all 0.35s ease-in-out);
    position: fixed;
    top: 2px;
    left: 0;
    width: 0;
    right: 100%;
    bottom: 0;
    /* overflow: auto; */
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.95);
    .nav-mobile__close {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 24px;
      @include opacity(0);
    }
    &.active {
      @include transform(translate3d(0, 0, 1px));
      pointer-events: auto;
      left: v.$sidebar-collapse-nav-width + 5;
      width: 250px;

      ul.tab-pane {
        @include opacity(1);
        li:last-child {
        }
      }
      .nav-mobile__close {
        @include opacity(1);
      }
    }
    ul.tab-panel {
      @include transition(all 0.25s ease-in-out);
      padding: 10px 0;
      li {
        height: 24px;
        line-height: 24px;
        @include transition(all 0.25s ease-in-out);
        text-transform: uppercase;
        a {
          padding-left: 12%;
          display: block;
        }
        &.nav-mobile__title {
          white-space: nowrap;
          overflow: hidden;
          height: 33px;
          line-height: 33px;
          padding-left: 8%;
          font-size: 18px;
          font-weight: v.$font-weight-bold;
          > a {
            padding-left: 0;
          }
        }
        &:not(.nav-mobile__title):hover {
          background-color: $xx-light-gray;
        }
      }
      &.active li {
      }
      &.signout__links,
      &.signin__links {
        overflow: hidden;
        .nav-mobile__title {
          font-weight: v.$font-weight-normal;
        }
      }
    }
  }
}
@media screen and (min-width: v.$screen-sm-max) {
  .signout__links,
  .signin__links,
  .search.nav-icon,
  .nav .tabs {
    text-align: right;
    a {
      padding: 0 20px 0 0;
    }
  }
}

@media screen and (max-width: v.$screen-sm-max) {
  .sidenav {
    .nav-icon {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 24px;
    }
    .search .text {
      display: none;
    }
    .nav-mobile {
      display: block;
    }
    .tabs__nav.tabs {
      display: none;
    }
    .tabs .tab {
      border: none !important;
    }
    .signin-nav {
      .text {
        display: none;
      }
      .nav-icon {
        display: inherit;
      }
      .search,
      .nav .tabs {
        text-align: right;
        a {
          padding: 0 20px 0 0;
        }
      }
    }
    .tab-content {
      left: v.$sidebar-collapse-nav-width + 5; /* past the dropshadow */
    }
    .nav-section {
      h3 {
        display: none;
      }
    }
    .signin-nav,
    .nav-section {
      width: 0;
      height: 0;
      margin: 0;
      border: 0;
      padding: 0;
    }
  }
}
