@import "mau-mixins";
@import "gto/gto-mixins";

.os-violator {
  background-color: rgba(245, 245, 245, 0.85);
  background-image: url("../../images/os_violator_tiny.svg");
  background-size: 40px 40px;
  background-position: top center;
  background-repeat: no-repeat;
  width: 40px;
  height: 43px;
  @include round-corners(4px);
  &.with-image {
    background: none;
  }
}
