@import "colors";
@import "mau-mixins";
@import "gto/gto-mixins";
.paginator ul,
ul.paginator {
  margin: 0;
  padding: 0;
}

.paginator {
  li {
    display: inline-block;
    margin-bottom: 5px;
  }
}
.paginator__page {
  a {
    display: inline-block;
    margin: 2px;
    @include light-gray-button;
  }
}
.paginator__page--current {
  a {
    background-color: $x-light-gray;
  }
}
