@use "../colors" as *;
@use "../mixins" as *;
@use "./variables" as v;

#sampler {
  .sampler__promo,
  .sampler__thumb {
    @include sampler-block-mixin;
  }
  .sampler__promo {
    width: 40%;
    float: left;
    &.mod-virtual-os {
      a {
        height: 250px;
        width: 100%;
        display: block;
        background-image: url("images/openstudios_20240413.svg");

        @include background-cover;
      }
    }
  }
  .sampler__thumb:nth-child(13) {
    display: none;
  }

  .sampler__promo {
    .bg {
      position: absolute;
      width: -webkit-calc(100% - 12px);
      width: calc(100% - 12px);
      height: 100%;

      background-image: url("images/duotones/tower-duotone.jpg");
      @include background-cover;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(90, 50, 0, 0);
        transition: all 0.3s linear;
      }
    }

    .sampler_promo--os-banner-image {
      position: absolute;
      width: -webkit-calc(100% - 12px);
      width: calc(100% - 12px);
      height: 100%;
      @include background-cover;
    }

    .sampler__promo-contents {
      width: 90%;
      @include in-the-middle;
    }
    .header,
    .body {
      margin: auto;
      color: $gto_teal;
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 0.5rem;
      margin-bottom: 1.2rem;
      margin-bottom: 4vh;
    }
    .header {
      font-weight: v.$font-weight-bold;
    }
    .body {
      font-weight: v.$font-weight-light;
    }
  }
  @media screen and (min-width: v.$screen-lg-max) {
    .header {
      font-size: 2.6rem;
    }
    .body {
      font-size: 1.9rem;
    }
  }
  @media screen and (max-width: v.$screen-lg-max) {
    .sampler__promo {
      width: 50%;
      .header {
        font-size: 2.55rem;
      }
      .body {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }
    }
  }
  @media screen and (max-width: v.$screen-md-max) {
    .sampler__promo {
      width: 66.66%;
      .header {
        font-size: 2.2rem;
      }
      .body {
        font-size: 1.8rem;
      }
    }
  }
  @media screen and (max-width: v.$screen-sm-max) {
    .sampler__promo {
      width: 100%;
    }
  }
  @media screen and (max-width: v.$screen-xs-max) {
    .sampler__promo {
      .header {
        font-size: 2rem;
      }
      .body {
        font-size: 1.8rem;
        line-height: 2rem;
      }
      &.first {
        margin-top: 10px;
      }
      width: 100%;
      .desc {
        opacity: 1 !important;
      }
    }
  }
}

#sampler {
  overflow: hidden;
  font-size: 0; /* avoid spaces between blocks */
  background: transparent;
  .sampler__empty {
    position: relative;
    min-height: 500px;
    margin: auto;
    text-align: center;
    .fa {
      position: relative;
      top: 100px;
      font-size: 200px;
      color: rgba(200, 200, 200, 0.5);
    }
  }
}
