@import "colors";
@import "mixins";

#search_form_container {
  display: none;
  &.open {
    display: block;
    position: fixed;
    z-index: 21;
    top: 2px;
    padding: 2rem;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: scroll;
    .search-input-controls label {
      display: block;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    input {
      font-size: 5rem;
      max-width: 80%;
      border: 0;
      background-color: transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
  .search-autocomplete-results {
    margin-bottom: 10px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  .search-autocomplete-result {
    padding: 10px;
    width: 80%;
    @include transition(background-color 0.25s ease-in-out);
    &:hover {
      background-color: rgba(128, 128, 128, 0.1);
    }
    &.selected {
      background-color: rgba(128, 128, 128, 0.3);
    }
    .thumb {
      height: 50px;
      width: 50px;
      @include background-cover;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
    a {
      text-decoration: none;
      color: $darkgray;
    }
    .desc {
      display: inline-block;
      line-height: 50px;
      height: 50px;
      font-size: 1.1rem;
      vertical-align: middle;
      .title {
        font-weight: $font-weight-bold;
      }
      .artist {
        font-style: italic;
      }
      .medium {
        padding-left: 20px;
        font-weight: $font-weight-light;
        font-size: 0.95rem;
      }
    }
  }
}
