$screen-xs-max: 35.5em;
$screen-sm-min: $screen-xs-max;
$screen-sm-max: 48em;
$screen-md-min: $screen-sm-max;
$screen-md-max: 64em;
$screen-lg-min: $screen-md-max;
$screen-lg-max: 80em;
$screen-xl-min: $screen-lg-max;

$sidebar-nav-width: 150px;
$sidebar-collapse-nav-width: 40px;

$font: "Raleway", Helvetica, Arial, sans-serif;

$font-weight-extra-bold: 900;
$font-weight-bold: 700;
$font-weight-normal: 500;
$font-weight-light: 300;
$font-weight-extra-light: 200;

$font-awesome-font-family: "mau-font-awesome";

/* nothing to see here */
