/* error pages */
@use "../colors";
@use "../mixins" as *;
@use "variables" as v;

.f404 {
  @include flex-center-center;
  display: flex !important;
  flex-direction: column;
  padding: 40px;
  font-size: 14px;
  text-align: left;
  .oops {
    margin-top: 10%;
    font-family: helvetica, verdana, arial, sans-serif;
    text-align: center;
    color: colors.$gto_red;
    font-size: 13vw;
  }
}
.f404-container {
  width: 95%;
  @media screen and (min-width: v.$screen-xs-max) {
    width: 70%;
  }
  p {
    margin: 20px auto;
  }
  .error-msg {
    border: 0;
  }
}
