@import "mau-mixins";

.gto-list {
  ul {
    padding-left: 20px;
  }
  li {
    list-style: circle;
  }
}
@mixin light-gray-button {
  @include transition(all 0.33s ease-in-out);
  @include round-corners(2px);
  padding: 4px 2px;
  min-width: 25px;
  font-size: 0.8rem;
  background-color: $xx-light-gray;
  text-align: center;
  &:hover {
    background-color: lighten($gto_yellow, 54%);
  }
}

@mixin all-caps-label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}
@mixin card-description {
  padding: 6px;
  border-radius: 3px;
  @include bottom-label-overlay;
  @include transition(opacity 0.25s ease-in-out);
  width: calc(100% - 40px);
  margin: 0 20px 20px;
  font-size: 0.8rem;
  text-align: center;
  @include box-shadow(0 0 4px 1px rgba($gto_teal, 0.3));
  .media {
    @include ellipsis;
  }
  .byline {
    font-size: 0.75rem;
    color: $gto_dark_blue;
    font-weight: $font-weight-light;
  }
}

@mixin artist-thumb-mixin {
  position: relative;
  min-height: 300px;
  text-align: center;
  padding: 10px;
  margin-bottom: 6px;
  .image {
    overflow: hidden;
    width: 100%;
    height: 280px;
    @include background-cover;
    @include round-corners(3px);
  }
  &:hover {
    /** @include box-shadow(0 0 1px 1px rgba(200,200,200,0.5)); */
  }
  .desc {
    @include card-description;
  }
}

@mixin search-filter {
  .filter {
    margin-top: -14px;
    border-bottom: none;
    .fa {
      font-size: 1.2rem;
      &:hover {
        color: $gto_dark_teal;
      }
    }
    input[type="text"] {
      background-color: transparent;
      padding: 5px;
      margin-left: 5px;
      border: none;
      font-size: 1.2rem;
      @include transition(width 0.25s ease-in-out);
      font-weight: $font-weight-light;
    }
  }
  @media screen and (min-width: $screen-md-max) {
    .filter {
      border-bottom: 1px solid $x-light-gray;
      margin-top: 22px;
      margin-left: -20px;
      padding-left: 20px;
      padding-bottom: 4px;
    }
  }
}
@mixin section-header {
  padding-bottom: 4px;
  padding-left: 1px;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 8px;
  border-bottom: 1px solid $x-light-gray;
  @include ellipsis;
}

@mixin popup-elements {
  font-size: 0.9rem;
  .popup-text {
    padding: 0 15px 15px;
  }
  .popup-close {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 15px;
    text-align: center;
  }

  .popup-header {
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: $font-weight-normal;
    padding: 10px 15px 4px;
    margin-bottom: 12px;
    position: relative;
    border-bottom: 1px solid $x-light-gray;
  }
  .popup-text {
    line-height: 1.1rem;
    font-size: 0.8rem;
  }
}

$sampler-thumbnail-size: 250px;

@mixin sampler-block-mixin {
  @include artist-thumb-mixin;
  height: $sampler-thumbnail-size;
  min-height: inherit;
  padding: 6px;
  overflow: hidden;

  width: 20%;
  float: left;
  @media screen and (max-width: $screen-lg-max) {
    width: 25%;
    &:nth-child(13) {
      display: block;
    }
  }
  @media screen and (max-width: $screen-md-max) {
    width: 33.33%;
    &:nth-child(13) {
      display: none;
    }
  }
  @media screen and (max-width: $screen-sm-max) {
    width: 50%;
    &:nth-child(13) {
      display: block;
    }
  }
  @media screen and (max-width: $screen-xs-max) {
    &.first {
      margin-top: 10px;
    }
    width: 100%;
    .desc {
      opacity: 1 !important;
    }
  }

  .os-violator {
    position: absolute;
    top: 9px;
    right: 9px;
  }
  .image {
    height: $sampler-thumbnail-size;
  }
  .desc {
    @include transition(all 0.25s ease-in-out);
    @include opacity(0);
    padding-top: 0;
    height: 33px;
    line-height: 33px;
  }
  &:hover {
    .desc {
      opacity: 1;
    }
  }
}

@mixin os-violator {
  background-image: url("../../images/os_violator_tiny.svg");
  background-color: rgba(245, 245, 245, 0.75);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
  width: 40px;
  height: 40px;
  @include round-corners(4px);
  &.with-image {
    background: none;
  }
}

@mixin artist-image-os-violator {
  position: absolute;
  display: inline-block;
  background-image: url("../../images/os_violator.svg");
  background-color: rgba(245, 245, 245, 0.75);
  width: 75px;
  height: 80px;
  background-size: contain;
}

@mixin form-label {
  display: block;
  margin-bottom: 5px;
  color: $medium-gray;
  font-size: 0.9rem;
}
