@use "../../mixins" as *;
@use "../../colors" as *;
@use "../variables" as v;

.search.index {
  .result-count {
    float: right;
    padding-right: 10px;
  }
  .chooser ul {
    margin: 0;
    padding: 0;
  }
  .block_head {
    margin-bottom: 5px;
  }
  .block {
    margin-bottom: 20px;
    > label {
      font-size: 80%;
      text-transform: uppercase;
    }
    ul {
      padding-left: 10px;
    }
    ul,
    .os {
      margin-top: 0.8em;
    }
  }
  .refine-controls {
    border-top: 1px solid $x-light-gray;
  }
  form {
    .block {
      ul {
        padding-left: 0;
      }
    }
  }

  h4 .query {
    font-style: italic;
    font-weight: v.$font-weight-normal;
  }
}
.search-results {
  .art-card,
  .artist-card {
    @include artist-thumb-mixin;
  }
  .art-card {
    .desc {
      @include opacity(1);
    }
  }
}

.search.search {
  .result {
    border-bottom: 1px solid $gto_dark_teal;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
