@import "gto/variables";
@import "mau-mixins";
#new_art_piece {
  margin-top: 10px;
}
#arrange_art_form {
  .desc {
    height: 33px;
  }
}

.header {
  .art-piece__byline {
    font-style: italic;
  }
  .art-piece__byline-conjunction {
    font-size: 0.9rem;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.art_pieces.show {
  .main-container {
    max-width: 1440px;
  }

  .ng-hide-add[image-fader],
  .ng-hide-remove[image-fader] {
    @include transition(all 1sec ease-in-out);
    display: block !important;
  }
  .ng-hide-add.ng-hide-add-active[image-fader],
  .ng-hide-remove[image-fader] {
    @include opacity(0);
  }
  .ng-hide-add[image-fader],
  .ng-hide-remove.ng-hide-remove-active[image-fader] {
    opacity: 1;
  }
  .art-piece {
    text-align: center;
    img {
      margin: auto;
      height: 600px;
    }
  }
}
