@use "../../mixins" as *;

#new_art_piece {
  margin-top: 10px;
}
form #art_piece_photo {
  overflow: hidden;
}
#arrange_art_form {
  .desc {
    @include flex-center-center;
    .name {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

.header {
  .art-piece__title-container .os-violator {
    position: relative;
    top: -4px;
  }
  .art-piece__byline {
    font-style: italic;
  }
  .art-piece__byline-conjunction {
    font-size: 0.9rem;
    text-transform: uppercase;
  }
}
.art_pieces.show {
  .main-container {
    max-width: 1440px;
  }

  .art-piece {
    text-align: center;
    img {
      margin: auto;
      height: 600px;
    }
  }
}
