@import "gto/variables";
@import "mixins";
#new_art_piece {
  margin-top: 10px;
}
form #art_piece_photo {
  overflow: hidden;
}
#arrange_art_form {
  .desc {
    height: 33px;
  }
}

.header {
  .art-piece__byline {
    font-style: italic;
  }
  .art-piece__byline-conjunction {
    font-size: 0.9rem;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.art_pieces.show {
  .main-container {
    max-width: 1440px;
  }

  .art-piece {
    text-align: center;
    img {
      margin: auto;
      height: 600px;
    }
  }
}
