%h4.header
  = "{{title}}"
  %a.add-btn{"slide-toggle" => "#add_email_{{emailListId}}", href: '#', title: 'add an email to this list'}
    %i.fa.fa-plus
.help {{info}}

%ul.emails
  %li{ "ng-repeat" => "email in emails" }
    .email {{email.formatted()}}
    .del-btn
      %a{ "ng-click" => "removeEmail(email.id)", href: "#", :title => 'remove this person from the list'}
        %i.fa.fa-close
.add_email.slideable{ "id" => "add_email_{{emailListId}}", duration: "0.15s" }
  %h4 Email to Add
  .errors
    .error.error-msg{"ng-repeat" => "err in errors"} {{err}}
    
  %form{ "ng-submit" => "addEmail()" }
    %fieldset{ class: "inputs"}
      %ol
        %li.input.string.stringish
          %label.label Name
          %input{ type: :text, "ng-model" => "newEmail.name" }
        %li.input.string.stringish.required
          %label.label
            Email
            %abbr{title: 'required'} *
          %input{ type: :email, "ng-model" => "newEmail.email" }
    %fieldset{ class: 'actions' }
      %input{ type: :submit, value: 'add', class: 'pure-button pure-button-primary'}
