/* stylesheet for catalog/map */
body, div, span {
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana", Arial, sans-serif;
}
ul, li {
    padding: 0;
    margin: 0;
}
.clear {
    clear:both;
}

#streetmap {
    width: 596px;
    height: 591px;
    position: relative;
}
.studio {
    .identifier {
        font-size: small;
        text-align: center;
    }
}

.big_red_dot, .small_red_dot, .business {
    position: absolute;
    background-image: url(/images/map/map_marker_sprite.gif);
    background-repeat: no-repeat;
    z-index: 2;
}    
#fayes {
    top: 191px;
    left: 119px;
}
#doloresparkcafe {
    top: 214px;
    left: 97px;
}
#coffeebar {
    top: 139px;
    left: 419px;
}
#streetmap {
    width: 596px;
    height: 591px;
    position: relative;
}

#1890bryantstreetstudios {
    top: 146px;
    left: 425px;
}
#ae_alabama{
    top: 139px;
    left: 419px;
}
#ae_17th {
    top: 139px;
    left: 419px;
}
#ae_harrison {
    top: 139px;
    left: 419px;
}
#activspace {
    top:175px;
    left: 330px;
}
#developingenvironments {
    top: 179px;
    left: 379px;
}
#millionfishes {
}
#projectartaud {
    top: 148px;
    left: 400px;
}
#redbrickstudios {
}
#workspacelimited {
    top: 151px;
    left: 300px;
}
.business {
    background-position: -57px -34px;
    width: 14px;
    height: 14px;
    z-index: 4;
}
.small_red_dot {
    background-position: -57px 0;
    width: 11px;
    height: 11px;
    z-index: 6;
}
.big_red_dot {
    background-position: -34px 0;
    width: 22px;
    height: 22px;
    z-index: 5;

}

#catalog_list {
    font-size: small;
    .studio-list {
        float: left;
        width: 220px;
        margin: 8px;
        line-height: 20px;
        .title {
            font-size: normal;
            background-color: #eee;
            padding: 8px;
            border-bottom: 1px solid #999;
            .studioname {
                font-weight: bold;
            }
            
        }
        .count { margin-left: 5px; }
    }
    ul.artists {
        li {
            list-style: none;
        }
        border-bottom: 1px dotted #999;
    }
}
