/* stylesheet for catalog/map */
body, div, span {
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana", Arial, sans-serif;
}
ul, li {
    padding: 0;
    margin: 0;
}
.clear {
    clear:both;
}

#streetmap {
    width: 596px;
    height: 591px;
    position: relative;
}
.studio {
    .identifier {
        font-size: small;
        text-align: center;
    }
}

.big_red_dot, .small_red_dot, .business {
    position: absolute;
    background-image: url(/images/map/map_marker_sprite.gif);
    background-repeat: no-repeat;
    z-index: 2;
}    
#catalog {
    width: 596px;
    position: relative;
}
.business {
    background-position: -57px -34px;
    width: 14px;
    height: 14px;
    z-index: 4;
}
.small_red_dot {
    background-position: -57px 0;
    width: 11px;
    height: 11px;
    z-index: 6;
}
.big_red_dot {
    background-position: -34px 0;
    width: 22px;
    height: 22px;
    z-index: 5;

}

#catalog {
    font-size: small;
    .studio-list {
        float: left;
        width: 220px;
        margin: 8px;
        line-height: 20px;
        .title {
            font-size: normal;
            background-color: #eee;
            padding: 8px;
            border-bottom: 1px solid #999;
            .studioname {
                font-weight: bold;
            }
            
        }
        .count { margin-left: 5px; }
    }
    ul.artists {
        li {
            list-style: none;
        }
        border-bottom: 1px dotted #999;
    }
}
