.admin {
    .nextrow {
        padding-top: 30px;
    }
    .header_inputs {
    }
    .section { 
        width: 400px;
        float: left;
        padding: 10px;
        border: 1px dotted #444;
    }
}