$fullwidth: 900px;
$leftcol: 270px;
$rightcol: 580px;
$gutter: 5px;

$lightbluegray: #c6c7d6;
$bluegray: #738294;
$darkbluegray: #223;

$darkgray: #222;
$bordergray: #444;
$xmediumgray: #666;
$mediumgray: #999;
$lightgray: #aaa;
$xlightgray: #ddd;
$white: #fff;
$black: #000;
$purple: #404;
$error_red: #f33;

$lightyellow: #FEF7CA;

@mixin dotted_border {
  border: 1px dotted $bordergray;
}
@mixin solid_border {
  border: 1px solid $bordergray;
}
@mixin input_style {
  border: 1px solid $xlightgray;
  background-color: $lightgray;
  padding: 4px;
}
@mixin link_style {
  text-decoration: none;
  color: $lightyellow;
  &:link {
    color: $lightyellow;
  }

  &:visited {
    color: $lightyellow;
  }
  &:hover {
    color: #554444;
  }
  &:active {
    color: $lightyellow;
  }
}

@mixin little-text {
  font-size: x-small;
}


@mixin small-rounded-corners {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
@mixin large-rounded-corners {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
    
@mixin floating-window-border {
  border: 1px solid $bordergray;
  box-shadow: 4px 4px 8px rgba(40,40,40, 0.80);
  -moz-box-shadow: 4px 4px 8px rgba(40,40,40, 0.80);
  -webkit-box-shadow: 4px 4px 8px rgba(40,40,40, 0.80);
}