/* mobile styles */
/* reset */
html, body {
}

h1,h2,h3,h4,h5,h6 {
}

.ui-page img { 
    max-width: 250px;
}

.ui-content {
    .banner-img {
        text-align:center;
        margin-bottom: 30px;
    }
    .representative-img {
        text-align: center;
    }
}

.mobile-menu.os-star {
    /* background: -moz-linear-gradient(center top , #FEfeFE, #ffa) repeat scroll 0 0 #EEEEEE; */
}

div.os-star {
    position:absolute;
    background-image: url(/images/mobile_menu_os_star.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 27px;
    z-index: 10;
}
li.os-star {
    position: relative;
    div.os-star {
        bottom: 11px;
        left: 10px;
    }
    a {
        padding-left: 27px;
    }
}

.m-content h2.os-star {
    position:relative;
    padding-left: 30px;
    div.os-star {
        bottom: 0px;
        left: 0px;
    }
}
.m-content div {
    line-height: 1.4em;
}
.ui-body-a .ui-link {
    color: #ff4;
}