.admin {
    .nextrow {
        line-height: 40px;
    }
    .header_inputs {
    }
    .section { 
        width: 400px;
        float: left;
        padding: 10px;
        border: 1px dotted #444;
    }
    .singlecolumn {
        tr {
            border-top: 1px solid #222;
        }
        td {
            padding: 1px 6px;
        }
    }
}
