@import 'mau-mixins';
body.admin {
  .chunk {
    float: left; 
    width: 120px; 
    margin-bottom:10px; 
    margin-left:10px;
  }
  .odd, .even {
    font-size: 85%;
    padding: 3px;
  }
  .odd {
    background-color: $darkgray;
  }
  .even {
    background-color: transparent;
  }
  .singlecolumn {
    width: 842px;
  }
}

.admin-table {
  &.singlecolumn {
    margin-top: 0px;
    padding-top: 40px;
  }
  .block {
    .totals {
      text-align:center;
    }
    float: left;
    width: 400px;
    &.paid {
    }
    &.unpaid {
    }
  }
  .os-status {
    width: 600px;
    .tf { 
      padding: 2px;
      text-align: center; 
      .true {
        font-weight: bold;
        color: $white;
      }
      .false {
        color: $mediumgray;
      }
    }
  }
  tr.odd td {
    background-color: $darkgray;
  }
  tr.even td {
    background-color: transparent;
  }
  margin-top: 40px;
  font-size: 85%;
  td {
    vertical-align: top;
    padding: 3px;
  }
  h1 {
    text-align:center;
  }
  .sortby {
    text-align:center;
    padding: 10px;
  }
  .osoct2010 {
    text-align: left;
  }
  table {
    margin-left: auto;
    margin-right: auto;
  }
}


#admin_artist_name {
  width: 200px;
}


.edit_cms_document .admin .section {
  width: auto;
  border: 0;
  float: none;
}

.admin {
  .nextrow {
    line-height: 40px;
  }
  .header_inputs .section{
    width:auto;
    float: left;
    border: 0;
    
  }
  h1, h2 {
    margin-left: 10px;
  }
  #dashboard {
    .section { 
      width: 165px;
      float: left;
      padding: 10px 10px 20px;
      margin:10px;
      border: 1px dotted #444;
      &.graph {
        width: 375px;
        h3 {
          padding-bottom: 10px;
        }
      }
    }
  }
  &.markdown-input, &.markdown-results {
    width: 45%;
  }
  .singlecolumn {
    tr:first-child {
      border: 0;
    }
    tr {
      border-top: 1px solid $darkgray;
      .odd { background-color: #0a0a00; }
    }
    th, & td {
      padding: 1px 6px;
    }
  }
}

#role_mgr {
  padding-left: 20px;
  li {
    .role-members{ float: right; }
    width: 200px;
    clear:both; 
    width: 200px; 
    margin: 8px 0;
  }

}

#artists_per_day, #art_pieces_per_day, #favorites_per_day {
  width: 375px;
  height: 280px;
}

#get_next_featured {
  float: right;
}
.featured {
  margin-left: 20px;
  .error-msg, .notice {
    width: 320px;
    text-align: center;
  }
  h1 {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .info {
    float: left;
    width: 600px; 
    margin-left: 20px;
    .name, .primary_medium, .studio, .featured_date {
      width: 250px;
    }
  }
  .post {
    margin-top: 20px; 
  }
  label {
    color: $mediumgray;
  }
  .text {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid $xlightgray;
    background-color: $mediumgray;
    color: $darkgray;
  }
  .instructions {
    color: $mediumgray;
    border: 1px dotted $lightgray;
    margin: 15px 0;
    padding: 10px;
  }
  img.profile {
    float: left;
  }
}
.previously_featured {
  clear: left;
  ul {
    margin-left: 10px;
  }
  li {
    margin: 4px 0;
  }
  .featured_date {
    padding-right: 10px;
  }
}

.controls {
  margin: auto;
  width:800px;
  a {
    padding: 5px;
  }
}

#event_edit {
  width: 850px;
  margin: auto;
  .section {
    .entry {
      vertical-align: top;
      margin: 5px;
      padding: 5px;
      label {
        width: 150px;
      }
    }
  }
}

.colors {
  .color {
    @include dotted_border;
    float: left;
    margin: 20px;
    padding: 10px;
    width: 100px;
    .block {
      width: 75px;
      height: 75px;
    }
  }
}

/* leave at the bottom */
td.singlecolumn {
  padding: 20px;
}

.events {
  .filters {
    position:relative;
    top: auto;
    left: auto;
    font-size: 11px;
    margin: 5px 0;
    .event_filter {
      margin: 0 5px;
      padding: 4px;
    }
    div, label, input { 
      display: inline;
    }
  }
}