/* mobile styles */
/* reset */
html, body {
}

h1,h2,h3,h4,h5,h6 {
}

.ui-page img { 
    max-width: 250px;
}

.ui-content {
    .banner-img {
        text-align:center;
        margin-bottom: 30px;
    }
    .representative-img {
        text-align: center;
    }
    .thumb {
        position: relative;
        img {
            position: absolute;
            top: center;
            left: center;
        }
        margin: 8px;
        float: left;
        overflow: hidden;
        height: 120px;
        width: 120px;
        border: 1px solid white;
    }
        
}

.mobile-menu.os-star {
    /* background: -moz-linear-gradient(center top , #FEfeFE, #ffa) repeat scroll 0 0 #EEEEEE; */
}

.news-footer {
    float: right;
    margin-right: 8px;
    vertical-align: center;
    height: 36px;
    span {
        font-weight:900;
        margin-right:4px;
    }
    a img {
        vertical-align: bottom; 
        padding-top: 2px;
    }
}
div.os-star {
    position:absolute;
    background-image: url(/images/mobile_menu_os_star.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 27px;
    z-index: 10;
}
#about_text {
    .os-star {
        position:relative;
        display: inline-block;
        vertical-align: sub;
    }
}
li.os-star {
    position: relative;
    div.os-star {
        bottom: 11px;
        left: 10px;
    }
    a {
        padding-left: 27px;
    }
}

.m-content h2.os-star {
    position:relative;
    padding-left: 30px;
    div.os-star {
        bottom: 0px;
        left: 0px;
    }
}
.m-content div {
    line-height: 1.4em;
}
.ui-body-a .ui-link {
    color: #ff4;
}
.artists-thumbs { margin-top: 20px; }