@import "mau-mixins";
@import "gto/gto-mixins";

.studios:not(.admin),
.studios.show {
  @include search-filter;

  .studio {
    @include artist-thumb-mixin;
    min-height: 250px !important;
    .image {
      height: 200px;
      @include background-contain;
    }

    @media screen and (max-width: $screen-lg-max) {
    }
    @media screen and (max-width: $screen-md-max) {
    }
    @media screen and (max-width: $screen-sm-max) {
      height: 200px;
    }
    @media screen and (max-width: $screen-xs-max) {
      height: auto;
    }
  }
}

.studio-card__desc {
  padding-top: 8px;
  @include card-description;

  .name {
    font-size: 1rem;
  }
  > div {
    padding-bottom: 4px;
  }

  @media screen and (max-width: $screen-lg-max) {
  }
  @media screen and (max-width: $screen-md-max) {
  }
  @media screen and (max-width: $screen-sm-max) {
    margin-top: inherit;
  }
  @media screen and (max-width: $screen-xs-max) {
    margin-top: 15px;
    position: static;
    .name {
      font-size: inherit;
    }
    > div {
      padding-bottom: inherit;
    }
  }
}

.studio-card {
  .os-violator {
    @include os-violator;
    position: absolute;
    bottom: 24px;
    right: 24px;
    z-index: 20;
  }
}
.studios.show {
  #about {
    .studio-profile {
      margin-top: 32px;
    }
    .studio__open-studios-banner .os-violator {
      width: 50%;
      margin: auto;
      img {
        margin: auto;
      }
    }
    section {
      text-align: center;
      margin-bottom: 30px;
      .header {
        border-bottom: 1px solid $x-light-gray;
        padding: 4px 2px;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 8px;
      }
    }
    .studio__studio {
      text-align: inherit;
      .body {
        > div {
          min-height: 1.4rem;
          line-height: 1.4rem;
        }
        margin-bottom: 20px;
      }
      .studio__website {
        margin: 1rem 0;
        @include ellipsis;
      }
    }
  }
  .studio__image {
    .image {
      @include background-contain;
      width: 100%;
      min-height: 180px;
    }
    position: relative;
    .profile {
      margin: auto;
    }
  }

  .artist-thumb {
    @include artist-thumb-mixin;
    .os-violator {
      position: absolute;
      top: 12px;
      right: 12px;
    }
    .desc {
      @include opacity(1);
    }
    &:hover {
      .desc {
        @include opacity(1);
      }
    }

    .name,
    .media {
      line-height: 1.1rem;
      height: 1.1rem;
    }
    .name {
      font-weight: $font-weight-normal;
    }
    @media (min-width: $screen-sm-min) {
      .desc {
        @include opacity(0);
      }
    }
  }
  .studio-memberlist {
    h3,
    h4 {
      @include all-caps-label;
    }
    margin: 10px;
    padding: 10px;
    border: 1px solid #eee;
    h4 {
      margin-bottom: 1.2rem;
    }
    ul,
    li {
      margin: 0;
      padding: 0;
      line-height: 1.3rem;
    }
  }
  .studio {
    border: 1px solid #eee;
    .desc {
    }
  }
}
