---
http_interactions:
- request:
    method: get
    uri: http://test.host/version
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"69c3d17eb6d308cc97a643511aa6da80"
    body:
      encoding: UTF-8
      string: Impala 9.0.0
  recorded_at: Sat, 08 Sep 2018 23:03:07 GMT
- request:
    method: get
    uri: http://localhost:9250/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "name" : "node-1",
          "cluster_name" : "elasticsearch-test-kinda",
          "cluster_uuid" : "L9_X_7rzTwuwP2_wtct-fg",
          "version" : {
            "number" : "6.2.2",
            "build_hash" : "10b1edd",
            "build_date" : "2018-02-16T19:01:30.685723Z",
            "build_snapshot" : false,
            "lucene_version" : "7.2.1",
            "minimum_wire_compatibility_version" : "5.6.0",
            "minimum_index_compatibility_version" : "5.0.0"
          },
          "tagline" : "You Know, for Search"
        }
  recorded_at: Sat, 08 Sep 2018 23:03:07 GMT
- request:
    method: get
    uri: http://localhost:9200/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "name" : "node-1",
          "cluster_name" : "elasticsearch-test-kinda",
          "cluster_uuid" : "L9_X_7rzTwuwP2_wtct-fg",
          "version" : {
            "number" : "6.2.2",
            "build_hash" : "10b1edd",
            "build_date" : "2018-02-16T19:01:30.685723Z",
            "build_snapshot" : false,
            "lucene_version" : "7.2.1",
            "minimum_wire_compatibility_version" : "5.6.0",
            "minimum_index_compatibility_version" : "5.0.0"
          },
          "tagline" : "You Know, for Search"
        }
  recorded_at: Sat, 08 Sep 2018 23:03:07 GMT
recorded_with: VCR 4.0.0
