div#profile_img {
	z-index:20;
}
span.left-nav-bdr {
	border:0px;
}
span.dropdown, span.footer-nav {
    padding: 0 8px 0 8px;
}
.room-for-logo {
	padding-top: 45px;
}

.fieldvalue {
   text-align:left;
}

table.signup-table input[type=text] {
   width: 175px;
}
table.signup-table input[type=password] {
   width: 175px;
}

.signup-table td, .login-table td {
	text-align: left;
}

table.login-table input[type=text] {
   width: 150px;
}
table.login-table input[type=password] {
   width: 150px;
}

input[type=submit] {
	font-size: 90%;
}

.input { text-align: left; }

div.tiny-thumb, div.tiny-thumb-sel {
	display: inline;
}
#open_btn, #close_btn {
    display:inline;
}
a.fdbk-sel div#next_pg {
    display: inline;
}

.gi-subblock {
    text-align:left;
}

.entry-table td { text-align:left;}

.room-for-logo div h4 {
	margin-top: 0px;
}

.news-text div.formbutton {
    line-height: auto;
    height: 20px;
}

#credits_bg {
	z-index:3000;
}
#credits_bg_contain {
	z-index: 3001;
}

.share .micro-icon {
    vertical-align:auto;
}
.micro-icon {
    font-size: 13px;
    padding-left:8px;
    padding-right:7px;
}

#search_btn {
    top: 8px;
    right: -275px;
}
