@charset "utf-8";
/* CSS Document */
html {
    background-color: #c6c7d6;
    color: #aaaaaa;
    font: 13px Verdana, Arial, Helvetica, sans-serif;
}

body {
    padding: 5px;
}
td {
    padding: 0px;
}
p {
    padding: 0 4px 4px 10px;
}
h1 { 
    color: #999999;
    font-weight:normal;
    font-size: 170%;
    letter-spacing: 1px;
}
h2 {
    font-size: 150%;
    font-weight:normal;
    line-height:1;
}
h3 {
    font-size: 130%;
}
h4 {
    font-size: 120%;
}

/* prevent forms from causing line breaks */
form {
    display: inline;
    margin: 0px;
    padding: 0px;
}
/* general div align stuff */
.div-left {
    text-align:left;
    margin-bottom: 10px;
}

.div-left td {
    vertical-align: top;
    padding-right: 6px;
}
.div-inline {
    display: inline;
}
div.div-right {
    text-align:right;
    margin-bottom: 10px;
}

/* entry form styles */
tr.error-row {
	text-align:center;
	padding: .4em;
}

.input-name, .input, .input-err{
    font-size: 12px;
    padding: 5px;
    vertical-align: top;
}
.input-name {
    text-align:right;
}

.bio-container {
    max-height: 370px;
    overflow: auto;
}
table.artist-info-table {
    margin: 30px 0 8px 0;
}

table.artist-info-table td {
    padding: 2px 6px;
}
.input-help {
    font-size: 85%;
}

.gi-subblock {
    font-size: 85%;
	width: 500px;
}

.gi {
    width: auto;
}

.gi span.gi-subtitle {
    color: #cccccc;
    font-size: x-small;
    margin: 0 20px;
}

.gi span.edit {
    float: right;
}

div.donate-btns span {
    font-size:110%;
    color: #ccccaa;
    vertical-align: top;
}
    
.open-close-div {
	border-bottom: 1px dotted;
	padding-top: 20px;
	width: 500px;
	height: 20px;
}

.open-close-div span.title {
	float: left;
    text-align:left;
}

.open-close-div span.edit {
    float: right;
    font-size: 80%;
}

.edit-sections {
	padding-bottom: 20px;
}

#artist_notification,
#artist_edit_bio, 
#artist_edit_links, 
#artist_edit_maininfo, 
#artist_edit_address,
#artist_change_passwd {
	padding: 10px;
	margin: 15px 10px;
}
div#artist_notification table.entry-table {
    margin-left: 40px;
}

.chpasswd-instructions {
	font-size: 80%;
	text-align: left;
	width: 60%;
}
.entry-table {
	margin-bottom: 10px;
}

.entry-table .input-err {
	font-size: x-small;
	padding-left: 10px;
}

/* nav bar link */
a.lknav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:bold;
}
a.lknav:link, a.lknav:visited {
    color: #333333;
}
a.lknav:hover {
    color: #FEF7CA;
}
a.lknav:active {
    color: #738294;
}

/* link for light background like login and footer (dark text) */
a.lkdark {
}

a.lkdark:link, a.lkdark:visited ,a.lkdark:active {
    color: #888;
}

a.lkdark:hover {
    color: #442222;
}

a.lksubtle, a.lksubtle:link, a.lksubtle:visited ,a.lksubtle:active {
    color: #888;
}
a.lksubtle:hover {
    color: #dcd5a8;
}

/* default link colors assuming dark background */
a {
    text-decoration: none;
}

a:link {
    color: #FEF7CA;
}

a:visited {
    color: #FEF7CA;
}

a:hover {
    color: #554444;
}
a:active {
    color: #FEF7CA;
}


/* for medium tag cloud matches */
.tagmatch a:link {
    color: #cc77cc;
    
}


/* this is the search box on the header.  it has a different color than the other input fields to set it apart.

*/

input.srch {
    background-color:#D6f3ff;
    margin-left: 10px;
    margin-right: 5px;
}

/* these three are important on the "edit" pages
   colors should be set the same for textarea, select and srch
*/
input, textarea, select {
    background-color:#FEF7CA;
}
input.chkbox {
    margin-right: 20px;
}

input.txt, input.txtlogin, input.txtarea, input.txtarea-sm, select.dropdown {
    background-color:#FEF7CA;
    margin-right: 5px;
}

input.txt, input.txtlogin {
    margin-left: 20px;
}

input.txtarea-sm, input.txtarea{
    width: 500px;
}
input.txtarea-sm, input.txtarea, select.dropdown {
    margin-left: 50px;
}

.tag-input, input.txt, select.dropdown {
    width: 300px;
}

input.txt, select.dropdown 
{
    height: auto;
}
input.txtlogin {
    height: auto;
}
input.txtarea {
    overflow: scroll;
    height: 300px;
}
input.txtarea-sm {
    overflow: scroll;
    height: 40px;
}

select.ddsortby {
    background-color:#000000;
    margin-left: 10px;
    margin-right: 5px;
    width: 150px;
    height: auto;
    color: #CCCCCC;
    border-color: #996633;
}

input[type=image] {
    background-color: transparent;
}

input[type=checkbox] {
    background-color:#000000;
}
input[type=submit] {
    background:#999;
    background:url(/images/gradient-20px.png) repeat-x left top;
    border:outset 1px #ccc;
    color:#666;
    cursor:pointer;
    font-weight:bold;
    padding: 1px 2px;
}

input[type=submit][disabled=disabled] {
    font-weight:normal;
    color:#aaaaaa;
}

input[type=submit], .formbutton{
    background:#999;
    background:url(/images/gradient-20px.png) repeat-x left top;
    border:outset 1px #ccc;
    color:#666;
    cursor:pointer;
    font-weight:bold;
    padding: 1px 2px;
}

.formbutton {
    overflow: visible; /* seems to keep ie from adding extra padding */ 
}

.artist-buttons, .edit-buttons {
    margin: 8px 0;
}

.share #micro_icon {
    vertical-align:middle;
}

/** feeds **/
#feed_icon {
	position: absolute;
	top: 5px;
	right: 2px;
}

#micro_icon {
    display:inline-block;
}
#feed_icon,
#micro_icon {
    background-image:url(/images/icons/microicon-sprite.png);
    height:16px;
    width:16px;
    overflow:hidden;
}
/* position from the bottom of the sprite*/
#feed_icon[class=blogger],
#micro_icon[class=blogger] {
    background-position: 0 144px;
}
#feed_icon[class=email],
#micro_icon[class=email] {
    background-position: 0 0px;
}
#feed_icon[class=youtube],
#micro_icon[class=youtube] {
    background-position: 0 16px;
}
#feed_icon[class=wordpress],
#micro_icon[class=wordpress] {
    background-position: 0 32px;
}
#feed_icon[class=twitter],
#micro_icon[class=twitter] {
    background-position: 0 48px;
}
#feed_icon[class=rss],
#micro_icon[class=rss] {
    background-position: 0 64px;
}
#feed_icon[class=livejournal],
#micro_icon[class=livejournal] {
    background-position: 0 96px;
}
#feed_icon[class=flickr],
#micro_icon[class=flickr] {
    background-position: 0 96px;
}
#feed_icon[class=facebook],
#micro_icon[class=facebook] {
    background-position: 0 112px;
}
#feed_icon[class=deviantart],
#micro_icon[class=deviantart] {
    background-position: 0 128px;
}

#feed_div {
    color: black;
    vertical-align: top;
}

.feed-studios {
    margin-bottom: 10px;
	text-align: left;
}

.feed-entries {
	position: relative;
}

.feed-entries, .feed-studio-list {
    border: 1px #333333 dotted;
    margin: 5px 8px 8px 0px;
    padding: 2px 5px 5px 5px;
    text-align:left;
}

#feed_request {
    text-align: center;
    font-size: x-small;
}

.feed-sxn-hdr {
    color: #000;
    font-weight:bold;
    text-align: left;
}

.alt-lcol .feed-studio-list {
    border: 0px;
    text-align: left;
    width: 75%;
}

.lcol .feed-sxn-hdr {
    margin-top: 2px;
}

div.feedtitle  {
    font-size: 11px;
    font-weight: 700;
    text-align: left;
}

.feedtxt {
    color: #000000;
    font-size:x-small;
    text-align: left;
}

/* for news page */
.rcol .feedtitle {
    font-size: 14px;
}

.rcol div.feed-sxn-hdr {
    display:none;
}

.rcol .feedtxt {
    color: #fff;
    font-size: small;
}
.rcol .feed-entries {
    border: 0px;
}
.rcol .feedentry {
    margin: 0 0 20px 0;
}
.feeddate {
    float: right;
    font-style: italic;
    font-weight: normal;
    font-size: x-small;
    padding-right: 10px;
}

.refresh-msg{
    font-size: x-small;
    font-weight: 100;
    padding-top: 45px;
    text-align: center;
}

.little-txt{
	font-size: x-small;
}


/* careful with this.  
   on the login page, we have id="login" in an input tag
   but this one controls the login bar at the top of the screen
*/
div#login, div#logout {
    color:#333333;
    font-size:x-small;
    margin: 3px 8px 8px 10px;
    text-align:right;
    width:908px;
}

#container{
    background-color:#738294;
    margin: 0 0 0 0px;
    padding:5px;
    position:relative;
    width: 900px;
}


.lkmap {
    font-size: 80%;
}

#contact_text, #news_text, .privacy-content,
#artist_edit {
	margin-left:40px;
	margin-right:40px;
}
#about_text, #news_text {
    text-align: justify; 
    width: 527px;
    margin: auto;
}
#all_artists_page {
    margin:auto;
    width:800px;
}

.content-block, .artist-buttons, #studio_page,
.search-thumbs {
	width: 560px;
	margin: auto;
}
.search-thumb {
	width: 250px;
}
.search-thumb-art

.roster-col {
    float: left;
    margin: 15px;
}

.roster-names {}

#search_results {
	margin-left:30px;
	margin-right:30px;
}
table#search_results{
	width:547px;
}
.search-txt {
	margin: 4px 4px 4px 20px;
	font-size: 90%;
}

#about_text, #contact_text, 
#news_text, .privacy-content {
    font-size: 95%;
}

#artist_edit h4 {
    width:50%;
}

.alpha-pagination {
    font-size: 85%;
}
.alpha-pg, .curpg {
    border: 1px dotted #444;
    padding: 2px 4px;
}

.studio-memberlist {
    text-align:left;
    margin-top: 15px;
    vertical-align: top;
}
.studio-info {
    padding-bottom: 20px;
}

div#header{
    text-align:center;
    background-color: #FFFFFF;
}

table{
    border-collapse: collapse;
}

table#header-tbl, table#footer-tbl {
    background-color: #FFFFFF;
    background-repeat: repeat-x;
    background-position: center bottom;
    color: #666666;
}

table#header-tbl {
    background-image: url(/images/gradient-40px.png);
}
table#footer-tbl{
    background-image: url(/images/gradient-30px.png);
}

div#feedcolumn{
    float:left;
    width:250px;
    padding:10px 0;
    margin:5px 0;
    background-color: #999999;
}
div#bigthumbcolumn{
    background-color: #000000;
    margin: 20px 10px 10px 10px;
    width: 250px;
}
table.tbl-content{
    background-color:#000000;
    vertical-align: top;
    width: 900px;

}
div#searchtools{
    float:left;
    background: #333333;
    margin: 5px 0 0 0;
    padding: 0;
    width: 900px;
}
div#nav h2{font-size: 120%;color: #9E4A24}
div#topnav{
    clear:both;
    font-weight:bold;
    width:880px;
    text-align:right;
    padding: 8px 20px 8px 0;
}

div#tagline{
    clear:both;
    width:900px;
    padding:5px 0;
    text-align:left;
}
div#searchbox{
    clear:both;
    width:900px;
    padding:5px 0;
    text-align:right
}
div#footer{
    clear:both;
    width:880px;
    background: #fff;
    text-align:left;
    font-size: x-small;
    background-image: url(/images/gradient-30px.png);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 20px;
}

img { 
    border: 0;
    outline: none;
}

img#logo
{
    float:left;
    position:absolute;
    text-align:left;
    top:-30px;
    left:260px;
    z-index:1;
    border: 0;
}
img.profile
{
    border:1px dotted #444;
    float: right;
    margin: 0px 15px 15px 20px;
}
img.width-spacer
{
    height:1px;
    width: 160px;
}
img.page-height-spacer
{
    width:1px;
    height: 400px;
}
img.page-height-spacer-small
{
    width:1px;
    height: 250px;
}
img.icons
{
    margin: 0px 8px 0px 8px;
    border: 0;
}
img.square-browse
{
    border:1px solid #969;
    vertical-align: middle;
}

/* small text nav in place of play back buttons on search results */
div.navlinks {
    padding: 5px 1px 5px 0px;
}
.navlinks span {
    padding: 0px 2px;
}
.navlinks span#txt {
    font-weight: normal;
}

.playback-txt {
	padding: 0px 2px 0 2px;
}

a.fdbk-subj div#next_pg {
    display:none;
}

a.fdbk-sel div#next_pg {
    display: inline-block;
}

a.fdbk-sel div#next_pg {
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: middle;
}

div.get-involved {
    margin: 10px 0;
}

table.getinv-form{
	margin:5px;
}
	
.getinv-table {
    width: 90%;
}

.getinv-table img {
    border:0px;
}
.getinv-content {
    margin-top: 10px; 
    text-align: left;
    vertical-align:top;
}

.getinv-input,
.fdbk-input {
	margin: 8px 0;
}

div.playback {
	float:right;
}
td.playback {
	height: 18px;
	overflow: hidden;
	width: 18px;
}

/* open close buttons */
#open_btn, #close_btn {
    background-image:url(/images/icons/openclose-sprite.png);
    height:16px; 
    width: 16px; overflow:hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
#open_btn { background-position: 48px 0px; }
#close_btn { background-position: 32px 0px; }

/* for playback buttons */
#first_pg, #last_pg, #prev_pg, #next_pg {
    background-image:url(/images/icons/playback-sprite.png);
	height:16px;
	width:16px;
	overflow:hidden;
}
#first_pg
{
    background-position: 48px 0px;
}
#prev_pg
{
    background-position: 0 0;
}
#next_pg
{
    background-position: 16px 0px;
}
#last_pg
{
    background-position: 32px 0px;
}

#prev-browse, #next-browse
{
    background-image:url(/images/icons/browse-sprite.png);
    background-repeat: no-repeat;
    background-position:1px 1px;
    height:14px;
    margin: 0 8px;
    overflow: hidden;
    width:35px;
    z-index:100;
}

#next-browse
{
    background-position:1px -11px;
}

#prev-browse a
{
    border: 0;
}

div.hstripe{
    background-color:#738294;
    height:5px;
    width:900px
}
div.thumbcontainer
{
    float:left;
    width:105px;
    height:105px;
    margin-left:5px;
    margin-right:5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #333333;
}

div.thumbs img
{
    padding:0;
    margin:1%;
    float:left;
    border:1px solid #969;
}

/** thumbs view **/
/* maybe we can go from table to divs for art piece display
.art-pieces { width: 100%; }
.art-piece { width: 110px; float:left; margin:8px 2px;}
*/

/****
 * for thumb browser 
 *
 *****/

/* position here get's img and div lined up so clicks work properly */
img.tiny-thumb {
    border: 0px;
    width: 32px;
    height: 34px; /* match border width */
}

/* padding should be 1/2 the width because
   it is functioning as a "height" specifier */
/* margin here controls horiz spacing between thumbs 
   use padding on td art-browser-container to control
   vert spacing */
#artp-thumb-browser {
    width: 220px;
    margin: 0 auto 15px auto;
}

div.tiny-thumb, div.tiny-thumb-sel {
    float: left;
    border: 2px solid #111;
    background-repeat: no-repeat;
    margin: 4px ;
    width: 41px;
    height:  37px;
    overflow: hidden;
    position: relative;
}

div.tiny-thumb-sel {
    border: 2px solid #FEF7CA;
}

.artpiece-img {
    border: 1px solid #444;
}

.artpiece-browser-container {
    font-size: 80%;
    margin: 20px 0 5px 0;
}

.artpiece-browser-container td {
    padding: 2px 0 4px 0;
    vertical-align:top;
}

/* for thumb_browser 2 
#tbar_contain {
    margin: 40px;
    padding: 0 0 20px 0;
    position: absolute;
    overflow: hidden;
    width: 527px;
}
#tbar_content {
    position: relative;
}
*/
    
td.vstripe{
    background-image:url(/images/bg-5px.png);
    background-repeat:repeat-y;
    width: 5px;
}
tr.tr-short{
}

.lcol, .alt-lcol {
    padding-bottom: 15px;
	position: relative;
    vertical-align: top;
    width:270px;
}

.lcol {
    background-color:#999999;
}

td.rcol{
    padding-bottom:15px;
    vertical-align: top;

}

td.singlecolumn{
    padding-bottom: 20px;
    width:882px;
}

.ltcorner, .rtcorner, .lbcorner, .rbcorner {
    font-size:0;
    height:9px;
    width:9px;
}

.ltcorner, .rtcorner {
    vertical-align:top;
}

.lbcorner, .rbcorner {
    vertical-align:bottom;
}

.graybg {
    background-color: #999999;
}
.blackbg {
    background-color: black;
}

/* keep header bar from jumping into two lines */
.hdr-nav-left {
    text-align:left;
    width:30%;
}
.hdr-nav-right {
    text-align: right;
    vertical-align: middle;
}
.hdr-nav-right div.nav {
    display:inline;
}


.td-right{
    text-align: right;
    vertical-align: middle;
}

td.td-left{
    text-align:left;
}
.td-center{
    text-align:center;
    vertical-align:middle;
}

.room-for-logo {
    padding-top: 35px;
}

.room-for-logo div h4 {
    margin-top: -10px;
    text-align: center;
}

div.div-center h4 {
    margin-top: 10px;
}

.main-thumbs {
    position: relative;
    margin-left: 10px;
    margin-bottom: 40px;
    height: 140px;
}

#refresher_btn {
    left: 557px; 
    height: 100px;
    position: absolute; 
    top: 10px;
    width: 16px;
}    
#refresher_btn #next_pg {
    position: absolute;
    top: 40px;
}

.main-text {
    margin-top: 80px;
    text-align: center;
    vertical-align: bottom;
}

.main-subtext {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.artpiece-title {
    font-size: 120%;
    font-weight: bold;
    padding: 0px 10px 10px 10px;
    text-align: center;
}

.artpiece-container {
    padding: 4px;
    float: left;
}

.allthumbs {
    position:relative;
}
.thumbs-select {
    width:550px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.artp-thumb {
    border: 1px dotted #444;
    float: left;
    font-size: x-small;
    margin: 4px 4px 8px;
    position: relative;
    vertical-align: middle;
}

/** holder for the name */
.artp-thumb div {
    height: 32px;
	overflow: hidden;
}

/** thumb with footer needs more margin */
.with-foot {
	margin-top: 10px;
	margin-bottom: 20px;
}
.artp-thumb-ctrl,
.artp-thumb-name {
    position: absolute;
    top: 106px;
    left: 0px;
}


.artp-thumb-decorate img {
    position: absolute;
    top: 84px;
    left: 76px;
}
.artp-thumb-t {
    width: 100px;
}

.artp-thumb-s {
    width: 200px;
    margin:10px 21px;
}

.artp-thumb-m {
    width: 400px;
}


.search-thumbs {
    border: 0px;
    padding: 10px;
    vertical-align: top;
}
/** for search thumbs */
.search-thumb {
    border: 1px dotted #444;
	margin: 5px;
}

.search-thumb-art {
	float: left;
    height: 100px;
    padding: 8px;
    width: 100px;
}
.search-thumb-info {
    padding: 5px 5px 8px 5px;
	float: left;
    font-size:85%;
    text-align: left;
    vertical-align:top;
    width: 150px;
}

.artp-thumb div,
.artpiece-thumb-art div,
.artpiece-thumb-artist div {
	width: 100px;
}
.artpiece-thumb-art div,
.artpiece-thumb-artist div {
	overflow: hidden;
}

.artpiece-thumb-artist {
    font-size: 85%;
    overflow: hidden;
    text-align: center;
    padding-bottom: 3px;
}

#content td.artpiece-thumb-art {
    vertical-align: middle;
}

.as-admin {
    color: #f33;
}
div.as-admin {
    border: 1px solid red;
    background-color: #ffcccc;
    margin: 5px 0px 5px 0px;
    padding: 5px;
}

span.admin-lk {
    padding: 0 5px 0 0px;
}

/* artists/studios index page */
.artist-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.studio-list {
    width: 240px;
    margin: auto;
}
.studio-thumb {
    border: 1px dotted #444;
    padding: 8px;
    vertical-align: top;
}

.studio-nfo {
    text-align: left;
    float: left;
}
.studio-nfo div {
}
.studio-img {
    margin-bottom: 3px;
    float: left;
}
.studio-thumb img {
    border: 1px dotted #444;
}

.studio-thumb {
   background-color:#111;
   float:left;
   width: 155px;
   margin: 6px;
}

/*
.cur-studio {
    background: #fef7ca;
    font-weight: bold;
}

.cur-studio a {
    color: #000;
}
*/

div.studio-list div {
    padding: 2px;
}

.artist-list h3, .studio-list h3 {
    margin: 5px;
}
.artist-list h4, .studio-list h4 {
    margin: 3px 0 20px 0;
}

/* error pages */
.f404 {
    color: #F33; 
    font-size: 100px; 
    margin-top: 20px;
    text-align:center;
    width: 70%;
}
.f404 p {
    color: #aaaaaa;
    font-size: 14px; 
    text-align: left;
}

.notice {
    border: 1px solid #FEF7CA;
	margin: 4px;
	padding: 4px;
    width: 260px
}

div.notice {
	text-align: center;
}

.error-msg {
    border: 1px solid red;
    color: #f33;
    margin: 10px;
    padding: 10px;
	text-align: left;
    width: 65%;
}

/* shrink err msg if we're in signup-txt box */
div.signup-text div.error-msg {
    width: 400px;
}

div.alt-login {
    text-align: right;
    padding: 8px;
}

.sub-error-msg {
    font-style: italic;
    margin: 5px;
}

.error-help {
    font-size: 85%;
    color: #F33;
    text-align: left;
}

.signup-text {
    margin: 8px;
    text-align: left;
}


.signup-table, .login-table {
    width: 70%;
}
#reset_pass {
	width: 50%;
}

.signup-table td, .login-table td {
    padding: 1px 4px 4px 4px;
}


.artist-info-table {
    width: 90%;
}

div.artist h4 {
    font-size: auto;
}

div.artist {
    font-size: 90%;
}
	

.artist-pieces {
	width: 570px;
	margin: 25px auto 4px;
}

/* nav bar related */
span.nav {
    float: right;
}

span.left-nav-bdr {
    border-right: 1px solid #666666;
    margin-right: 4px;
}

span.mainnav {
    padding: 0 6px 0 0px;
    text-align:left;
}

span.footer-nav {
    padding: 0 10px 0 10px;
}

.tagcloud {
    margin: auto;
}
.clouditem { 
    padding: 3px;
}
/* note color is overridden by link
   look for .tagmatch a directives */
.tagmatch, .tagmatch a:visited, 
.cur-studio, .cur-studio a, .cur-studio a:visited  {
    color: #fc44ff;
}

.tbl-content {
    position: relative;
}
td.alt-lcol {
    position: relative;
}

div.studios .studio-list {
    position: absolute;
    bottom: 0;
    right: 0;
}

.clear {
    clear:both;
}

/* drawing artist name index */
.artist-idx-ltr {
	border-top: 1px solid #222;
	font-size: 90%;
	padding: 2px 20px 0px 0;
	vertical-align:top;
}

.artist-idx-names {
	font-size: 85%;
	vertical-align:top;
}

.admin-table {
    font-size: 85%;
}

/**
wait dialog 
**/
.wait-dialog {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #222;
	width: 160px;
	height: 40px;
	padding: 10px;
	z-index: 100;
        position: absolute;
	left: 45%;
	top: 40%;
	margin: auto;
	background-color: #999;
	color: #222;
}
/**
popup help 
**/
#mode_selector_help {
    margin-left: 4px;
}
img.help-icon {
    border: 0;
}

div.popup-help {
    display: block;
    background-color: #222;
    position: absolute;
    width: 200px;
    left: 10px;
    top: 10px;
    z-index: 105;
}

#mode_selector_helpcontainer {
	left: -200px;
}


.popup-help td {
    font-size: x-small;
    text-align: left;
}

.help-parent {
    float: right;
    margin-right: 10px;
    vertical-align: top;
    position: relative;
    z-index: 100;
}

/** top here is to get into the "h4" tag which has a margin of 1.3em */
#tag_help {
	top: -3em;
}

.popup-help-text {
    padding: 4px 6px 6px 4px;
}
td.popup-help-close {
	width: 10px;
	text-align: center;
}

div.feedback-signup-msg,
div.popup-help-text,
table.popup-help tr {
    border: 1px solid #666;
}

#feedback_form tr {
	border: 0;
}

.popup-help-title, .popup-help-close {
    background-color: #000;
    font-weight: bold;
    padding: 4px;
}

div#feedback_modal_content table.popup-help td {
	font-size: small;
}

/****
Feedback/Get Involved lightbox 
Notes lightbox
****/
div#feedback,
div#note_container {
  position: absolute;	
  top: 0;
  left: 0;			
  width: 100%;
  height: 100%;
  z-index: 100001;
}
#feedback_link {
	display:none;
}

a#feedback_link {				
  position: fixed;
  z-index: 99999;
  background-color: #CC0000;
  width: 26px;
  height: 96px;
  overflow: hidden;
  background: #C00 url(/images/feedback/feedback_tab.png);
  _position: absolute;
  /*_background-image: url(/images/feedback/feedback_tab.png);*/
}	
  
a#feedback_link:hover {
  background-color: #999;
}

div.feedback-signup-msg {
	padding: 5px;
	font-size: x-small;
}

table.fdbk-form td{
	vertical-align: top;
	padding: 10px;
}

table.fdbk-form div.error-msg {
	margin-bottom: 0px;
}
.fdbk-selector {
	width: 200px;
}
.fdbk-selector, .fdbk-form-container {
	margin: 5px;
}
#info_text {
	margin-bottom: 12px;
}
/**
   we're not going to use this so we can probably dump all this 
   code 
a#feedback_link.left {
  left: 0;
  top: 25%;
  width: 26px;
  height: 96px;
  background-image: url(/images/feedback/feedback_tab.png);
  _background-image: url(/images/feedback/feedback_tab.png);
}

a#feedback_link.right {
  right: 0;
  top: 25%;
  width: 26px;
  height: 96px;
  background-image: url(/images/feedback/feedback_tab.png);
  _background-image: url(/images/feedback/feedback_tab.png);
}

a#feedback_link.top {
  right: 10%;
  top: 0;
  width: 96px;
  height: 26px;
  background-image: url(/images/feedback/feedback_tab_h.png);
  _background-image: url(/images/feedback/feedback_tab_h.png);
}

a#feedback_link.bottom {
  right: 10%;
  bottom: 0;
  width: 96px;
  height: 26px;
  background-image: url(/images/feedback/feedback_tab_h.png);
  _background-image: url(/images/feedback/feedback_tab_h.png);
}
*/
			
a#note_close_link,
a#feedback_close_link {
  right: 5pt;
  top: 0pt;
  position: absolute;
  font-weight:bold;
}

div#note_modal_window,
div#feedback_modal_window {
  width: 600px;
  margin: 0 auto;				
  position: relative;
  background-color: #222;
  left: 0%;
}

div#note_modal_content table,			
div#feedback_modal_content table {
	width:100%;
}
			
div#feedback_loading {				
  padding: 12px;				
}

#note_overlay,			
#feedback_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  filter:alpha(opacity=50);
  -moz-opacity: 0.5;

}
			
.feedback_hide {
  z-index:-100;
}

.note_overlayBG,
.feedback_overlayBG {
  background-color: #000;
  z-index: 100000;
}
			
* html #feedback_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
			
form#feedback_form .error {
  color: red;
  font-weight: bold;
}


/**
map page
**/
.map-roster { float: left; width:200px; }
.map-addr {
	text-align: left;
    font-weight: bold;
    margin-top: 5px;
}

.map-name {
	text-align: left;
    margin-left: 10px;
}

._mau1 {
	text-align: left;
	height: 105px;
}

._mau1 {
	margin-top: 10px;
}

._mau1 div {
	margin-top: 0px;
}

/**
corners 
**/
.corner {
	width: 9px;
	height: 9px;
	z-index: 100;
}

/*
#bg {
    background: url(/images/sitebg2.jpg) repeat-x;
    float: left;
    height: 99%;
    left: 0px;
    position: absolute;
    top: 1px;
    width: 100%;
    z-index: -104;
}
*/
