<div class="open-close-div acct"><span id="deactivate_toggle" class="title">Deactivate Account</span><span class="edit"><a href="#deactivate" id="deactivate_toggle_lnk">change</a></span></div>
<div  class="edit-profile-sxn" id="deactivate" style="display:none;">
  <div class="inner-sxn">
    <table class="entry-table">
      <tr>
	<td align="center">
	  <div class="error-msg">
	    This action is permanent.  If you deactivate your account, all data associated with that user will no longer be available.</div>
	</td>
      </tr>
      <tr>
	<td class="td-center"><a onclick="return confirm('This action is permanent.\nAre you sure you want to deactivate your account?');" href="<%= '/users/deactivate/%d' % current_user.id %>"><button class="formbutton">Deactivate Me</button></a></td>
      </tr>
    </table>
  </div>
</div>
