<div class="open-close-div acct"><span id="favorites_toggle" class="title">Remove Favorites</span><span class="edit"><a href="#favorites" id="favorites_toggle_lnk">change</a></span></div>
<div class="edit-profile-sxn" id="favorites" style="display:none;">
  <div class="inner-sxn">
    <% if current_user.fav_artists.empty? && current_user.fav_art_pieces.empty? %>
    <div>You have no favorites yet.  Click the <span class="micro-icon heart">&nbsp;</span>icon on art piece pages or artist's pages to add these items to your favorites.</div>
    <% else -%>
    <div class="little-text center">Click on favorites to remove them.</div>
    <% end -%>
    <% unless current_user.fav_artists.empty? %>
    <div id="my_favorite_artists" class="favorites-block" >
      <div>Artists (<span class="fav-count"><%= current_user.fav_artists.count %></span>)</div>
      <% favs = current_user.fav_artists
         favs.each do |f| 
         clz = (f == favs.last) ?"last" :""
         %>
      <%= render :partial => "/users/favorite_thumb_edit", :locals => { :favorite => f, :xclass => clz } %>
      <% end %>
      <div class="clear"></div>
    </div>
    <% end %>
    <% unless current_user.fav_art_pieces.empty? %>
    <div id="my_favorite_artpieces" class="favorites-block" >
      <div>Art Pieces (<span class="fav-count"><%= current_user.fav_art_pieces.count %></span>)</div>
      <% favs = current_user.fav_art_pieces
         favs.each do |f| 
         clz = (f == favs.last) ?"last" :""
         %>
      <%= render :partial => "/users/favorite_thumb_edit", :locals => { :favorite => f, :xclass => clz } %>
      <% end %>
      <div class="clear"></div>
    </div>
    <% end %>
  </div>
</div>
