<div class="open-close-div acct">
  <a "href"="#" id="deactivate_toggle" class="title">Deactivate Account</a>
  <span class="edit"><a href="#deactivate" id="deactivate_toggle_lnk">change</a></span>
</div>
<div  class="edit-profile-sxn" id="deactivate">
  <div class="inner-sxn">
    <table class="entry-table">
      <tr>
	      <td align="center">
	        <div class="error-msg">
	          This action is permanent.  If you deactivate your account, all data associated with that user will no longer be available.</div>
	      </td>
      </tr>
      <tr>
	      <td class="td-center"><a onclick="return confirm('This action is permanent.\nAre you sure you want to deactivate your account?');" href="<%= deactivate_users_path %>"><button class="formbutton">Deactivate Me</button></a></td>
      </tr>
    </table>
  </div>
</div>
