<% unless page_owner.who_favorites_me.empty? -%>
<% favorites_per_row = 20 # coordinate this with javascript favorites_per_row -%>
<div id="favorites_me" class="favorites-block">
  <div><label>who &hearts;'s 
      <% if current_user && current_user.id == page_owner.id -%>
      me
      <% else  -%>
      <%= page_owner.get_name(true) %>
      <% end -%>
      (<%= page_owner.who_favorites_me.count %>)
      <% if page_owner.who_favorites_me.count > favorites_per_row -%>
      <a class="show-toggle fewer" href="#">show all</a>
      <% end -%>
  </label>
  </div>
  <ul class="favorite-thumbs">
  <% favs = page_owner.who_favorites_me
     favs.each_with_index do |f,idx| 
     clz = (f == favs.last) ?"last" :""
     if idx >= favorites_per_row
        style = "display:none;"
     end
     -%>
     <%= draw_micro_favorite(f, {:class => clz, :style => style }) %>
  <% end -%>
  </ul>
</div>
<% end -%>
