<% unless page_owner.what_i_favorite.empty? -%>
<% favorites_per_row = 20 # coordinate this with javascript favorites_per_row -%>
<div id="my_favorites" class="favorites-block clearfix" >
  <label>
    <a href="<%= user_favorites_path(page_owner) %>" title="see all">
      <% if current_user && current_user.id == page_owner.id -%>
      my
      <% else -%>
      <%= page_owner.get_name %>'s
      <% end -%>
      favorites
    </a>
    <span>(<%= page_owner.what_i_favorite.count %>)</span>
    <% if page_owner.what_i_favorite.count > favorites_per_row -%>
    <a class="show-toggle fewer" href="#">show all</a>
    <% end -%>
  </label>
  <ul class="favorite-thumbs">
  <% favs = page_owner.what_i_favorite
     favs.each_with_index do |f, idx|
     clz = (f == favs.last) ?"last" :""
     if idx >= favorites_per_row
        style = "display:none;"
     end
     -%>
     <%= draw_micro_favorite(f, {:class => clz, :style => style }) %>
    <% end -%>
  </ul>
</div>
<% end -%>
