<div id="sidebar_nav">
  <% if current_artist -%>
  <ul>
  <% listitems = [ "<a href='" + edit_artist_path(current_artist) + "'>edit my page</a>",
     "<a href='/art_pieces/new'>add art</a>",
     "<a href='#{arrangeart_artists_path}'>arrange art</a>",
     "<a href='#{deleteart_artists_path}'>delete art</a>",
     "<a href='#{favorites_user_path current_user}'><div class='micro-icon heart'></div> favorites</a>" ]
     if (Conf.accepting_flaxshow_submissions)
       listitems << "<a href='#{flaxartshow_path}'>submit to flax show</a>"
     end
  -%>
  <%= HTMLHelper::print_list('leaf', listitems) %>
  </ul>
  <% else -%>
  <ul>
    <li class="leaf first"><a href="<%= edit_user_path(current_user) %>">edit my page</a></li>
    <li class="leaf last"><a href="<%= favorites_user_path current_user %>"><div class="micro-icon heart"></div> favorites</a></li>
  </ul>
  <% end -%>
</div>
