.singlecolumn
  #signup_page
    %h2 Create Your MAU Account
    = render '/flash_notice_error'
    .signup-table
      .row.acct-selector
        .label
          %label{for: 'acct-selector'} I am a
        .input
          = select_tag 'account_type_chooser', user_signup_select_options(@user, @type)
    #signup_form
      = render 'signup_form', type: @type, user: @user
