@import "mau-mixins";
.palette-colors {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.palette-colors__color {
  @include dotted_border;
  @include large-rounded-corners;
  border: 1px solid $lightgray;
  margin: 7px;
  width: 120px;
  height: 120px;
  position: relative;
}
.palette-colors__color-info {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 4px;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.7);
  font-size: 0.8rem;
  @include large-rounded-corners;
  color: $gto_dark_blue;
}
