@import "colors";
.section.markdown.editable {
  position: relative;
  .edit_indicator {
    display: none;
  }
  &:hover {
    .edit_indicator {
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: rgba(200, 220, 220, 0.6);
      border: 1px solid $xlightgray;
      padding: 10px;
    }
  }
}
