@import "mau-mixins";
@import "gto/gto-mixins";
@import "colors";

#credits_bg {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.5);
}
#credits_div {
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  @include transform(translate3d(-50%, -50%, 0));
  padding: 10px;
  @include round-corners();
  background-color: $light-gray-background;
  @include popup-elements;
  max-width: 600px;
  width: 50%;
  min-width: 300px;
  img {
    width: 100%;
    margin: auto;
  }
  p {
    margin: 0.5rem 0;
  }
}
