@import "colors";
@import "variables";
@import "mau-mixins";

.success-msg,
.error-msg {
  padding: 12px;
  background-color: white;
  border-color: $xx-light-gray;
  margin-bottom: 20px;
  line-height: 1.4rem;
  @include round-corners(2px);
}
.error-msg {
  padding: 12px;
  background-color: lighten($gto-red, 45%);
  color: $gto-red;
  margin-bottom: 20px;
  line-height: 1.4rem;
  @include round-corners(2px);
}
tr.error-msg {
  &:nth-child(2n) td {
    background-color: lighten($gto-red, 45%);
  }
  &:nth-child(2n-1) td {
    background-color: lighten($gto-red, 40%) !important;
  }
}
.inline-hints {
  font-size: 85%;
  font-style: italic;
  margin: 5px auto;
  line-height: 1rem;
  color: $light-gray;
}
.actions,
.inputs {
  border: none;
  padding: 0;
  ol {
    margin: 0;
    padding: 0;
  }
  margin-bottom: 10px;
  a + a,
  .pure-button + .pure-button {
    margin-left: 5px;
  }
  ::placeholder {
    /* WebKit, Blink, Edge */
    color: $light-gray;
  }
}
.inputs textarea {
  width: 90%;
}
.required {
  [title="required"] {
    border: none;
    color: $gto_red;
    margin-left: 3px;
    text-decoration: none;
  }
}
.inputs {
  li {
    margin-bottom: 10px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    color: $medium-gray;
    font-size: 0.9rem;
  }
  select {
    height: 35px;
  }
  select,
  input {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid $x-light-gray;
  }
  .selectize-control,
  input {
    width: 90%;
  }
  .input {
    &.error {
      input,
      select {
        border: 1px solid $gto_red;
      }
      label.label {
        color: $gto_red;
      }
    }
    .inline-errors {
      color: $gto_red;
    }
  }
}

.input-help {
  font-size: 0.8rem;
  text-align: center;
}

.pure-controls {
  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + span {
    padding-left: 5px;
  }

  input[type="radio"] + span:before,
  input[type="checkbox"] + span:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: $font-weight-normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input[type="checkbox"] + span:before,
  input[type="radio"] + span:before {
    margin-right: 5px;
    content: "\f10c"; /* circle-o */
  }

  input[type="checkbox"]:checked + span:before,
  input[type="radio"]:checked + span:before {
    content: "\f05d"; /* check-circle-o */
  }
}

.pure-button {
  border-radius: 2px;

  &.button-danger,
  &.button-success,
  &.button-error,
  &.button-warning,
  &.button-primary,
  &.pure-button-primary,
  &.button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  &.button-primary,
  &.pure-button-primary {
    background: $gto_teal;
  }

  &.button-danger,
  &.button-error {
    background: $gto_red;
  }

  &.button-warning {
    background: $gto_orange;
    background: rgb(223, 117, 20); /* this is an orange */
  }
  &.button-secondary {
    background: $gto_yellow;
  }
}

/* .mau-note-link { */
/*   cursor: pointer; */
/* } */
