@import 'variables';
@import 'mau-mixins';

.help__opener {
  float: right;
  .fa {
    font-size: 1.2rem;
  }
}
.help__contents {
  display: none;
  @include opacity(0);
  width: 250px;
  height: auto;
  @include transition( all 0.25s ease-in-out );
  @include round-corners(2px);
  left: 4px;
  top: 4px;
  position: absolute;
  display: block;
  background: white;
  &.active {
    display: block;
    @include opacity(1);
    @include box-shadow(0 0 8px 0px rgba(128,128,128,0.7));
    z-index: 20;
  }    
}

.help-parent {
  float: right;
  margin-right: 10px;
  vertical-align: top;
  position: relative;
  z-index: 20;
  font-size: 0.9rem;
}

.popup-help {
  font-size: 0.9rem;
  .popup-text {
    padding: 0 15px 15px;
  }
  .popup-close {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 15px;
    text-align: center;
  }

  .popup-header {
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: $font-weight-normal;
    padding: 10px 15px 4px;
    margin-bottom: 12px;
    position: relative;
    border-bottom: 1px solid $xlightgray;
  }
  .popup-text {
    line-height: 1.1rem;
    font-size:0.8rem;
  }
}
