/** settings that affect layout/geometry */
@import 'mau-mixins';
@import 'variables';
body {
  height: 100%;
}
.container {
  position: relative;
  padding-left: 0;
}

.sidenav {
  position: fixed;
  transition: width 0.25s ease-in-out;
  width: $sidebar-nav-width;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.omega {
  padding-right: 1em;
}
.alpha {
  padding-left: 1em;
}

.main-container, #footer_bar {
  transition: margin 0.25s ease-in-out;
  margin-left: $sidebar-nav-width;
}

#footer_bar > div {
  border-top: 1px solid #eee;
}

.sidebar-logo {
  width: 114px;
  margin: 20px (($sidebar-nav-width - 114px) / 2);
  @include opacity(1);
  transition: all 0.25s ease-in-out;
}

ul li {
  line-height: 1.4em;
}
p {
  line-height: 1.4em;
}

.pure-g {
  .header {
    h2.title {
      font-size: 1.7rem;
      font-weight: 200;
      border-bottom: 1px solid #ddd;
      padding-bottom: 4px;
    }
    .italic {
      font-style: italic;
      font-weight: 400;
    }
  }
  .padded-content {
    padding: 10px 10px 10px 12.5%;
  }
  .section.markdown, section.markdown {
    h1, h2, h3, h4, h5 {
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 48em) {
  .sidebar-logo {
    width: 0;
    height: 0;
    @include opacity(0);
  }
  .sidenav {
    width: $sidebar-collapse-nav-width !important;
  }
  .main-container {
    margin-left: $sidebar-collapse-nav-width;
  }
}

