/** settings that affect layout/geometry */
@import 'variables';
body {
  height: 100%;
}
.container {
  position: relative;
  padding-left: 0;
}

.sidenav {
  position: fixed;
  transition: width 0.25s ease-in-out;
  width: $sidebar-nav-width;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.omega {
  padding-right: 1em;
}
.alpha {
  padding-left: 1em;
}

.main-container, #footer_bar {
  transition: margin 0.25s ease-in-out;
  margin-left: $sidebar-nav-width;
}

#footer_bar > div {
  border-top: 1px solid #eee;
}

.sidebar-logo {
  width: 155px;
  margin: 20px 10px;
}

@media screen and (max-width: 48em) {
  .sidebar-logo {
    display: none;
  }
  .sidenav {
    width: $sidebar-collapse-nav-width !important;
  }
  .main-container {
    margin-left: $sidebar-collapse-nav-width;
  }
}
