@import 'mau-mixins';
@import 'colors';
@import 'variables';
.sidenav {
  background-color: $light-gray-background;
  z-index: 10;
}

.sidenav {
  ul, li {
    margin:0 auto;
    padding:0;
  }
  .nav-icon {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:24px;
    text-align:center;
    position: relative;
    &:hover {
      cursor: pointer;
    }
  }
  .nav-mobile {
    display: none;
  }
  .signin-nav {
    margin-top: 33px;
    .text {
      @include ellipsis;
      a {
        font-weight: normal;
      }
    }
    .nav-icon {
      display: none;
    }
  }
}

.nav, .social-links, .signin-nav {
  margin: auto;
}


.signin-nav, .nav {
  width: 100%;
  a {
    color: $darkgray;
  }
  a:hover {
    color: $gto_dark_teal;
  }
  .tabs, .tabs li {
    list-style:none outside none;
    margin:0;
    padding:0;
  }
  .tabs .tab {
    text-align:center;
    padding: 0;
    margin: 0;
    border-top: 1px solid lighten($gto_gray, 50%);
    &:last-child {
      border-bottom: 1px solid lighten($gto_gray, 50%);
    }
    &:hover {
      border-top: 1px solid lighten($gto_gray, 50%);
    }
    > a {
      display: block;
    }
    a:link, a:visited {
      text-decoration:none;
    }
    &.active {
      background-color: $gto_yellow;
      a {
        color: $xxlightgray;
      }
    }
  }
  .tab-content {
    @include opacity(0);
    pointer-events: none;
    transition: all 0.25s ease-in-out;
    position: fixed;
    top: 2px;
    left: $sidebar-nav-width;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 1;
    background-color: #fdfdfd;
    &.active { 
      pointer-events: auto;
      @include opacity(1);
      ul.tab-pane {
        @include opacity(1);
        li:last-child {
          border-bottom: 1px solid lighten($gto_gray, 50%);
        }
      }
    }
    ul.tab-pane {
      border-top: 1px solid lighten($gto_gray, 40%);
      @include opacity(0);
      transition: all 0.25s ease-in-out;
      li { 
        height: 0;
        line-height: 33px;
        text-align: center;
        border-top: 1px solid lighten($gto_gray, 50%);
        transition: all 0.25s ease-in-out;
        a { 
          display: block;
        }
        &.title {
          font-style: italic;
          font-weight: bold;
        }
        &:not(.title):hover {
          background-color: #fafafa;
        }
      }
      &.active li {
        height: 33px;
      }
    }
  }
}



@media screen and (max-width: 48em) { 
  .sidenav {
    .nav-mobile {
      display: block;
    }
    .tabs__nav.tabs {
      display: none;
    }
    .tabs .tab {
      border: none !important;
    }
    .signin-nav{
      .text {
        display: none;
      }
      .nav-icon {
        display: inherit;
      }
    }
    .tab-content {
      left: $sidebar-collapse-nav-width;
    }
  }
}
