@import 'colors';
@import 'mau-mixins';
@import 'variables';
#new-art {

  border-top: 1px solid $light-gray-background;
  @include transition(left 0.25 ease-in-out);
  background: #f8f8f8;
  h2.title {
    text-align:center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
  }
  .square {
    margin: 10px;
    min-height: 180px;
    @include background-cover;
  }
}
