@import 'colors';
@import 'mau-mixins';
@import 'variables';
#new-art {

  border-top: 1px solid $light-gray-background;
  @include transition(left 0.25 ease-in-out);
  position: fixed;
  bottom: 0;
  left: $sidebar-nav-width;
  right: 0;
  background: #f8f8f8;
  z-index: 6;
  .overlay {
    pointer-events: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    text-align:center;
    width: 100%;
    letter-spacing: 0.3rem;
    font-size: 3rem;
    color: rgba(60,60,60, 0.95);
    z-index:2;
    height:100%;
    padding-top: 1rem;
    text-shadow: 0px 0px 4px rgba(60,60,60, 0.5);
    background-color: rgba(255,255,255,0.6);
  }
  .square {
    margin: 5px;
    height: 70px;
    @include background-cover;
  }
  @media screen and (max-width: 48em) {
    left: $sidebar-collapse-nav-width;
  }

}
