@import "colors";
@import "mau-mixins";
@import "gto/gto-mixins";
.paginator ul,
ul.paginator {
  margin: 0;
  padding: 0;
}

.paginator {
  li {
    display: inline-block;
    margin-bottom: 5px;
    &.page {
      a {
        display: inline-block;
        margin: 2px;
        @include light-gray-button;
      }
    }
    &.current.page {
      a {
        background-color: $xlightgray;
      }
    }
  }
}
