@import 'colors';
@import 'mau-mixins';
.paginator ul
, ul.paginator {
  margin: 0;
  padding: 0;
}
  
.paginator {
  li {
    display: inline-block;
    margin-bottom: 5px;
    a {
      display: inline-block; 
      @include round-corners(2px);
      padding: 4px 2px;
      min-width: 25px;
      font-size: 80%;
      margin: 2px;
      background-color: $xxlightgray;
      text-align: center;
    }
    &:hover {
      background-color: lighten($gto_yellow, 44%);
      a {
        background-color: lighten($gto_yellow, 54%);
      }
    }
    &.current {
      a {
        background-color: $xlightgray;
      }
    }
      
  }
}
       
