@import "colors";
@import 'mau-mixins';
@import 'gto/gto-mixins';
$sampler-thumbnail-size : 250px;

#main_thumbs {
  .promo {
    .body, .header {
      padding: 1.5rem;
      margin: 6px;
      height: auto;
      margin-bottom: 0;
      .inner-copy {
        color: white;
      }
    }
    .header {
      background-color: darken($gto_orange, 8%);
      font-size: 1.8rem; 
      font-size: 6vw;
      font-weight: $font-weight-bold;
      letter-spacing: 0.1rem;
      padding: 1.9rem;
      text-align:center;
      white-space: nowrap;
    }
    .body {
      font-size: 1.2rem;
      line-height: 1.85rem;
      padding: 1.5rem;
      background-color: $gto_orange;
    }
  }

  @media screen and (min-width: $screen-sm-max) {
    .promo {
      height: 140px;
      .header, .body {
        height: -webkit-calc(100% - 14px);
        height: calc(100% - 14px);
        position: relative;
        .inner-copy {
          @include in-the-middle;
        }
      }
      .header {
        padding: 1.9rem;
        font-size: 1.8rem;
        font-size: 3.5vw;
      }
      .body {
        font-size: 1.1rem;
        line-height: 1.4rem;
        padding: 1.3rem;
        .inner-copy {
          width: 80%;
        }
      }
    }
  }
  @media screen and (min-width: $screen-md-max) {
    .promo {
      .header {
        font-size: 1.8rem;
        font-size: 2.8vw;
      }
      .body {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
    }
  }
}

#sampler {
  overflow:hidden;
  font-size: 0; /* avoid spaces between blocks */
  background: transparent;
  .sampler__empty {
    position:relative;
    min-height: 500px;
    margin: auto;
    text-align: center;
    .fa {
      position:relative;
      top: 100px;
      font-size: 200px;
      color: rgba(200,200,200,0.5);
    }
  }
  .sampler__promo-contents,
  .sampler__thumb {
    @extend .artist-thumb-mixin;
    height: $sampler-thumbnail-size;
    min-height: inherit;
    padding: 6px;
    overflow: hidden;
    .os-violator {
      position: absolute;
      top: 9px;
      right: 9px;
    }
    .image {
      height: $sampler-thumbnail-size;
    }
    .desc {
      @include transition(all 0.25s ease-in-out);
      @include opacity(0);
      padding-top: 0;
      height: 33px;
      line-height: 33px;
    }
    &:hover {
      .desc {
        opacity: 1.0;
      }
    }
  }
  .sampler__thumb {
    width: 20%;
    float: left;
  }

  @media screen and (max-width: $screen-lg-max) {
    .sampler__thumb {
      width: 33.33%;
    }
  }
  @media screen and (max-width: $screen-md-max) {
  }
  @media screen and (max-width: $screen-xs-max) {
    .sampler__thumb {
      &.first {
        margin-top: 10px;
      }
      width: 100%;
      .desc {
        opacity: 1.0 !important;
      }
    }
  }

}
