@import 'mau-mixins';
$sampler-thumbnail-size : 250px;

#sampler {
  overflow:hidden;
  font-size: 0; /* avoid spaces between blocks */
  .sampler__thumb {
    font-size: 1rem;
    display: inline-block;
    width: 100%;
    height: $sampler-thumbnail-size;
    @include background-cover;
    border: 6px solid rgba(245,245,245,1);
    vertical-align: bottom;
    position:relative;
    .desc {
      @include bottom-label-overlay;
      transition: opacity 0.25s ease-in-out;
      opacity: 0;
      font-size: 0.9rem;
      text-align: center;
      padding: 0 5px;
      .artist {
        font-style: italic;
        line-height: 1.7rem;
        height: 1.7rem;
        @include ellipsis;
      }
    }
    &:hover {
      .desc {
        opacity: 1.0;
      }
    }
  }
 
  @media screen and (max-width: 35.5em) { 
    .sampler__thumb {
      .desc {
        opacity: 1.0 !important;
      }
    }
  }
  @media screen and (min-width: 35.5em) { 
  }	
  

}
