@import "colors";
@import 'mau-mixins';
@import 'gto/gto-mixins';
$sampler-thumbnail-size : 250px;

#sampler {
  overflow:hidden;
  font-size: 0; /* avoid spaces between blocks */
  background: transparent;
  .sampler__empty {
    position:relative;
    min-height: 500px;
    margin: auto;
    text-align: center;
    .fa {
      position:relative;
      top: 100px;
      font-size: 200px;
      color: rgba(200,200,200,0.5);
    }
  }
  .sampler__promo,
  .sampler__thumb {
    @extend .artist-thumb-mixin;
    height: $sampler-thumbnail-size;
    min-height: inherit;
    padding: 6px;
    overflow: hidden;
    .os-violator {
      position: absolute;
      top: 9px;
      right: 9px;
    }
    .image {
      height: $sampler-thumbnail-size;
    }
    .desc {
      @include transition(all 0.25s ease-in-out);
      @include opacity(0);
      padding-top: 0;
      height: 33px;
      line-height: 33px;
    }
    &:hover {
      .desc {
        opacity: 1.0;
      }
    }
  }
  .sampler__promo {
    .bg {
      position: absolute;
      width: -webkit-calc( 100% - 12px );
      width: calc( 100% - 12px );      
      height: 100%;
      
      background-image: image-url('duotones/orange-duo1.jpg');
      @include background-cover;

      -webkit-filter: grayscale(1);
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: url(#greyscale);
      filter: gray;

    }
    .sampler__promo-contents {
      width: 90%;
      @include in-the-middle;
    }
    .header, .body {
      margin: auto;
      color: $gto_yellow;
      text-transform: uppercase;
      background-color: rgba(255,255,255,0.7);
      padding: 0.5rem;
      margin-bottom: 1.2rem;
      margin-bottom: 4vh;
    }
    .header {
      font-size: 2.7rem;
      font-size: 3.3vw;
      font-weight: $font-weight-bold;
    }
    .body {
      font-size: 1rem;
      font-size: 1.5vw;
      line-height: 1.8rem;
      font-weight: $font-weight-light;
    }
    
  }
  .sampler__thumb {
    width: 20%;
    float: left;
  }

  .sampler__promo {
    width: 40%;
    float: left;
  }

  @media screen and (max-width: $screen-lg-max) {
    .sampler__thumb {
      width: 25%;
    }
    .sampler__promo {
      width: 50%;
      .header {
        font-size: 2rem;
        font-size: 4.2vw;
      }
      .body {
        font-size: 1rem;
        font-size: 1.7vw;
        line-height: 1.8rem;
      }
    }
  }
  @media screen and (max-width: $screen-md-max) {
    .sampler__thumb {
      width: 33.33%;
    }
    .sampler__promo {
      width: 66.33%;
      .header {
        font-size: 2.2rem;
      }
      .body {
        font-size: 1.1rem;
      }
    }
  }
  @media screen and (max-width: $screen-xs-max) {
    .sampler__promo {
      .header {
        font-size: 2rem;
      }
      .body {
        font-size: 1rem;
      }
    }
    .sampler__promo,
    .sampler__thumb {
      &.first {
        margin-top: 10px;
      }
      width: 100%;
      .desc {
        opacity: 1.0 !important;
      }
    }
  }

}
