/* error pages */
@import 'mau-mixins';
.f404 {
  padding: 40px;
  font-size: 14px;
  text-align: left;
  p {
    width: 70%;
    margin:20px auto;
  }
  .oops {
    font-family: helvetica, verdana, arial, sans-serif;
    text-align: center;
    color: $gto_red;
    font-size: 13vw;
    height: 13.1vw;
  }
  .error-msg {
    border: 0;
  }
}
