@import 'colors';

.select2-container {
  border-radius: 2px;
}

.select2-container--focus.select2-container--default,
.select2-container--focus,
.select2-container--default {
  .select2-selection--single,
  .select2-selection--multiple {
    border-radius: 2px;
    border: 1px solid $x-light-gray;
  }
  .select2-selection--multiple {
    .select2-selection__choice {
      background-color: $xxlightgray;
    }
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $gto-yellow;
}

.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: $x-light-gray;
}
