#about_text,
#venues {
  p {
    width: 70%;
  }
  .section.markdown {
    padding: 20px;
  }
  li {
    line-height: 1.1rem;
    min-height: 1.1rem;
  }
  ul,
  li {
    padding: 0;
    margin: 0;
  }
}
