@use "../../../../stylesheets/mixins" as *;
@use "../../../../stylesheets/colors";

email-list-manager {
  .help {
    line-height: 1.2rem;
    color: colors.$gto_gray;
  }
  .add_email {
    padding: 0px 20px;
    margin-top: 10px;
  }
  ul.emails {
    padding: 0px 20px;
    li {
      width: 90%;
      position: relative;
      padding: 3px 25px 3px 20px;
      margin: 10px 0;
      .email {
        @include ellipsis;
      }
      &:nth-child(odd) {
        background-color: colors.$xx-light-gray;
      }
    }
    .del-btn {
      position: absolute;
      right: 10px;
      top: 6px;
      .fa {
        display: block;
      }
    }
  }
}
