.events.logo-space
  %h3 Mission Artists' Events
  - if flash[:error]
    .error-msg Error: #{flash[:error]}
  - if flash[:notice]
    .notice #{flash[:notice]}
  - if @events.count == 0
    .no_events 
      Sadly, we don't have any events on the list.
      - if current_user
        %span Next time you are in an art show, make sure to send us the details (under my mau -> plug my art show) and we'll put it up here!
      - else
        %span Check back, cuz we're sure to have some soon!
  - else
    .event_list
      .filters
        .event_filter.in_progress
          %label{:for => "event_filter_in_progress"} Show currently running events
          %input{:id => "event_filter_in_progress", :class => 'time', :type => :checkbox, :value => 'in_progress'}
      - @events_by_month.each do |month, events|
        = render :partial => 'events_by_month', :locals => {:month => month, :events => events}
