.events.logo-space
  %h3 Mission Artists' Events
  = render :partial => '/flash_notice_error'
  - if @events.count == 0
    .no_events 
      Sadly, we don't have any events on the list.
      - if current_user
        %span Next time you are in an art show, make sure to send us the details (under my mau -> plug my art show) and we'll put it up here!
      - else
        %span Check back, cuz we're sure to have some soon!
  - else
    .event_list
      - @events_by_month.sort.each do |month, events|
        = render :partial => 'events_by_month', :locals => {:month => events[:display], :events => events[:events]}
