<div class="credits-modal__container">
  <div class="credits-modal__header popup-header">
    <div class="credits-modal__title popup-title">
      Credits
    </div>
    <div class="credits-modal__close popup-close">
      <a href="#" ng-click="closeThisDialog()"><i class="fa fa-times"></i></a>
    </div>
  </div>
  <div class="credits-modal__content popup-text">
    <div class="credits-modal__img">
      <img class="pure-img" src="/images/mau-headquarters-small.jpg" />
    </div>
    <p>
      Built at MAU Headquarters by <a href="http://trishtunney.com">Trish Tunney</a> and <a href="http://rcode5.com">Mr Rogers</a>
    </p>
    <div class="release_version">
      Version: {{ versionString }}
    </div>
  </div>
</div>
