.pure-g
  .pure-u-1-1.header.padded-content
    %h2.title
      %span.art-piece__title{ "ng-bind-html" => "currentArtPiece.title" }
      %span.art-piece__byline-conjunction by
      %span.art-piece__byline{ "ng-bind-html" => "artist.full_name" }
.pure-g.alpha.omega{'ng-cloak' => ''}
  .pure-u-1-5.art-piece__info
    .card__controls{'ng-if' => 'currentUser'}
      .art-card__edit 
        %a{ "ng-href" => '{{currentArtPiece.editPath}}', title: 'edit'}
          .fa.fa-icon.fa-edit
      .art-card__delete 
        %a{href: '#', "data-confirm" => 'Are you sure you want to remove this piece of art from your portfolio?', "data-method" => :delete, rel: "nofollow", title: "Delete", "ng-href" => "{{currentArtPiece.showPath}}" }
          .fa.fa-icon.fa-close
        %a{ "ng-href" => 'currentArtPiece.deletePath', title: 'remove'}
    .desc
      .ngwrapper{ "ng-if" => "hasDimensions()" }
        %h4.title Dimensions
        .dimensions{ "ng-bind-html" => "currentArtPiece.dimensions" }
      .ngwrapper{ "ng-if" => "hasYear()" }
        %h4.title Date
        .date{ "ng-bind-html" => "currentArtPiece.year" }
      .ngwrapper{ "ng-if" => "hasMedia()" }
        %h4.title Medium
        .media
          %medium{ "medium" => "currentArtPiece.medium" }
      .ngwrapper{ "ng-if" => "hasTags()" }
        %h4.title Tags
        .tags
          %span{"ng-repeat" => 'tag in currentArtPiece.tags', 'repeater-delimiter' => ','}
            %art-piece-tag{"tag" => "tag" }
    .push.social-buttons
      %ezfb F
      %twitter T
      %favorite-art-piece{ "ng-model" => 'currentArtPiece' } &heart;
  .pure-u-4-5.art-piece
    %img.pure-img{ "image-fader" => '', "ng-src" => "{{currentArtPiece.image_files.large}}" }

  .pure-u-1-1
    .pure-g.browser
      .piece.pure-u-1-12.padded-content{'ng-repeat' => 'piece in artPieces', "ng-class" => "{current: isCurrent(piece.id)}" }
        %a{href: "/art_pieces/{{ piece.id }}", "ng-click" => "setCurrent($event, $index)"}
          .image{ "ng-style" => "{backgroundImage: 'url({{piece.image_files.small}})'}"}
.pure-u-1-1
  %a{href: "{{artistPath}}", class: 'pure-button pure-button-primary'}
    See more by {{artist.full_name}}

