.pure-g.sticky-header
  .pure-u-1-1.header.padded-content
    h2.title
      span.art-piece__title ng-bind-html="artPiece.title"
      span.art-piece__byline-conjunction by Artist
      span.art-piece__byline
        a ng-href="{{currentArtistPath()}}"
          | {{ ::artist.full_name }}
      a href='/open_studios' title="I'm doing Open Studios" ng-show='artist.doing_open_studios'
        .os-violator
.pure-g.alpha.omega ng-cloak=''
  .pure-u-1-1.pure-u-sm-1-3.pure-u-md-1-4.pure-u-lg-1-5.art-piece__info
    .card__controls ng-if='currentUser'
      .art-card__edit
        a ng-href="{{artPiece.editPath}}", title: 'edit'
          .fa.fa-icon.fa-edit
      .art-card__delete
        a href='#' data-confirm='Are you sure you want to remove this piece of art from your portfolio?' data-method="delete" rel="nofollow" title="Delete" ng-href="{{artPiece.showPath}}"
          .fa.fa-icon.fa-close
        a ng-href="artPiece.deletePath", title: 'remove'
    section.artist__image
      .artist-profile__image
        a ng-href="{{currentArtistPath()}}"
          img.pure-img.profile ng-if='hasArtistProfile()' ng-src="{{profilePath()}}"
          i.fa.fa-user ng-if='!hasArtistProfile()'
        a ng-if='artist.doing_open_studios' href="/open_studios"
          .os-violator
    section.artist__studio
      h4.studio-title Studio
      .studio
        link-if label="studio.name" href="studio.url"
      .studio-address.ngwrapper ng-if="hasAddress()"
        .studio-street
          | {{::artist.street_address}}
          '
          a ng-href="{{artist.map_url}}" title="map" target='_blank'
            i.fa.fa-map-marker
        .studio-city
          | {{::studio.city}}
    section.desc
      .desc__item.ngwrapper ng-if="hasDimensions()"
        h4.art-piece__info-title Dimensions
        .dimensions ng-bind-html="artPiece.dimensions"
      .desc__item.ngwrapper ng-if="hasYear()"
        h4.art-piece__info-title Date
        .date ng-bind-html="artPiece.year"
      .desc__item.ngwrapper ng-if="hasMedia()"
        h4.art-piece__info-title Medium
        .media
          medium medium-id="{{artPiece.medium.id}}" medium-slug="{{artPiece.medium.slug}}" medium-name="{{artPiece.medium.name}}"
      .desc__item.ngwrapper ng-if="hasTags()"
        h4.art-piece__info-title Tags
        .tags
          span ng-repeat='tag in artPiece.tags' repeater-delimiter=','
            art-piece-tag tag="tag"
            '
    .push
      .social-buttons
        .share Share
        share-button type='twitter' ng-if="artPiece.id"
        '
        share-button type="facebook" ng-if="artPiece.id"
        '
        share-button type="pinterest" ng-if="artPiece.id"
        '
        favorite-this ng-if="artPiece.id" object-type="ArtPiece" object-id="{{artPiece.id}}" ng-title="{{artPiece.title}}"

  .pure-u-1-1.pure-u-sm-2-3.pure-u-md-3-4.pure-u-lg-4-5.art-piece
    .art-piece__wrapper
      .art-piece__image style='background-image: url("{{artPiece.image_urls.large}}");'

  .pure-u-1-1.art-piece__thumbs ng-show='artPieces.length > 1'
    .pure-g.browser
      .piece.pure-u-1-4.pure-u-sm-1-6.pure-u-md-1-8.pure-u-lg-1-10.padded-content ng-repeat='piece in artPieces' ng-class="{current: isCurrent(piece.id)}"
        a href="/art_pieces/{{ piece.id }}" ng-click="setCurrent($event, $index)"
          .image ng-style="{backgroundImage: 'url(\"{{piece.image_urls.small}}\")'}"
