@import 'mau-mixins';
.studio-thumb-mixin {
  position: relative;
  min-height: 300px;
  text-align:center;
  padding: 10px;
  margin-bottom: 10px;
  .image {
    max-height: 300px;
    overflow:hidden;
    width: 100%;
    @include background-cover;
    img {
      width: 100%;
    }
  }
  &:hover {
    background-color: rgba(200,200,200,0.2);
    box-shadow: 0 0 1px 1px rgba(200,200,200,0.5);
    .desc {
      opacity: 1;
    }
  }

  .desc {
    @include bottom-label-overlay;
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
    width: calc(100% - 18px);
    margin: 0 9px 9px;
    padding-top: 10px;
    font-size: 0.8rem;
    text-align: center;
  }

}

.studios, .studios.show {
  .studio {
    @extend .studio-thumb-mixin;
    .desc {
      height: 6rem;
      .name, .address, .populations {
        line-height: 1.7rem;
        height: 1.7rem;
        whitespace: no-wrap;
        overflow: hidden;
      }
      .name {
        overflow: hidden;
        font-size: 1.1rem;
      }
    }
  }
}

.studios.show {
  .artist-thumb {
    @extend .studio-thumb-mixin;
    .image {
      height:280px;
      img {
        max-width: 100%;
      }
    }
    .desc {
      opacity: 1;
      min-height: 3.2rem;
    }
    .name, .media {
      line-height: 1.1rem;
      height: 1.1rem;
    }
    .name {
      font-weight: normal;
    }
  }
  .studio-memberlist {
    color: $lightgray;
    text-align:left;
    padding: 15px;
    h4 { margin-top: 0; padding-top: 0; }
    ul, li { margin: 0; padding: 0; line-height: 1.1rem; }

  }
  .studio {
    background-color: rgba(200,200,200,0.2);
    .desc {
      opacity: 1 !important;
      .address, .website, .populations {
        line-height: 1.1rem;
        height: 1.1rem;
        whitespace: no-wrap;
        overflow: hidden;
      }
    }
  }
}
