// NOTE: If you add a color here,
// Add to all colors and update admin/pallettes/show page

@use "sass:color";

$black: #000;
$bluegray: #738294;
$darkbluegray: #223;
$error_red: #f33;
$gto_dark_blue: #315077;
$gto_dark_teal: #175b5b;
$gto_gray: #5a636a;
$gto_orange: #d7682b;
$gto_red: #b33e43;
$gto_teal: #368283;
$gto_yellow: #c39f06;
$gto_hot_pink: #ed2891;
$lightbluegray: #c6c7d6;
$white: #fff;

// modified base colors
$base-background-color: color.adjust($gto_gray, $lightness: 60%);
$border-gray: color.adjust($gto_gray, $lightness: -9%);
$darkgray: color.adjust($gto_gray, $lightness: -23%);
$error-bg: color.adjust($gto_red, $lightness: 45%);
$highlight-yellow: color.adjust($gto_yellow, $lightness: 50%);
$light-gray: color.adjust($gto_gray, $lightness: 31%);
$medium-gray: color.adjust($gto_gray, $lightness: 24%);
$x-light-gray: color.adjust($gto_gray, $lightness: 47%);
$xx-light-gray: color.adjust($gto_gray, $lightness: 58%);

// aliases
$light-gray-background: $xx-light-gray;

$all_colors: (
  "base-background-color": $base-background-color,
  "black": $black,
  "bluegray": $bluegray,
  "border-gray": $border-gray,
  "bordergray": $border-gray,
  "darkbluegray": $darkbluegray,
  "darkgray": $darkgray,
  "error_red": $error_red,
  "error_bg": $error-bg,
  "gto_dark_blue": $gto_dark_blue,
  "gto_dark_teal": $gto_dark_teal,
  "gto_gray": $gto_gray,
  "gto_orange": $gto_orange,
  "gto_red": $gto_red,
  "gto_teal": $gto_teal,
  "gto_yellow": $gto_yellow,
  "gto_hot_pink": $gto_hot_pink,
  "highlight-yellow": $highlight-yellow,
  "light-gray-background": $light-gray-background,
  "light-gray": $light-gray,
  "lightbluegray": $lightbluegray,
  "medium-gray": $medium-gray,
  "white": $white,
  "x-light-gray": $x-light-gray,
  "xx-light-gray": $xx-light-gray,
);
