@use "colors";

@use "sass:meta";
@use "reset";
@use "icons";
@use "socicon";
@use "select2/dist/css/select2";
@use "collapse";
@use "panel";
@import "c3/c3.min.css";

@include meta.load-css("purecss/build/pure");
@include meta.load-css("purecss/build/grids-responsive");
@include meta.load-css("pure-customizations");

@include meta.load-css("gto/_admin_nav.scss");
@include meta.load-css("gto/_cms_documents.scss");
@include meta.load-css("gto/_content_pages.scss");
@include meta.load-css("gto/_flash.scss");
@include meta.load-css("gto/_footer.scss");
@include meta.load-css("gto/_forms.scss");
@include meta.load-css("gto/_layout.scss");
@include meta.load-css("gto/_nav.scss");
@include meta.load-css("gto/_notes.scss");
@include meta.load-css("gto/_os_violators.scss");
@include meta.load-css("gto/_paginator.scss");
@include meta.load-css("gto/_spinner.scss");
@include meta.load-css("gto/_tabs.scss");
@include meta.load-css("gto/_text.scss");
@include meta.load-css("gto/error.scss");
@include meta.load-css("gto/feedback_form.scss");
@include meta.load-css("gto/font.scss");
@include meta.load-css("gto/layout.scss");
@include meta.load-css("gto/media.scss");
@include meta.load-css("gto/venues.scss");
@include meta.load-css("gto/components/index.scss");

@include meta.load-css("gto_admin/admin-table.scss");
@include meta.load-css("gto_admin/admin-user.scss");
@include meta.load-css("gto_admin/datatables_overrides.scss");
@include meta.load-css("gto_admin/nav.scss");
@include meta.load-css("gto_admin/palette.scss");
@include meta.load-css("gto_admin/tooltips.scss");
@include meta.load-css("gto_admin/application_events.scss");
@include meta.load-css("gto_admin/artists.scss");
@include meta.load-css("gto_admin/artists_edit.scss");
@include meta.load-css("gto_admin/art_pieces_edit.scss");
@include meta.load-css("gto_admin/cms_documents/cms_documents.scss");
@include meta.load-css("gto_admin/dashboard.scss");
@include meta.load-css("gto_admin/email_lists.scss");
@include meta.load-css("gto_admin/featured_artist.scss");
@include meta.load-css("gto_admin/feeds.scss");
@include meta.load-css("gto_admin/member_emails.scss");
@include meta.load-css("gto_admin/open_studios_event_form.scss");
@include meta.load-css("gto_admin/open_studios_status.scss");
@include meta.load-css("gto_admin/os_events.scss");
@include meta.load-css("gto_admin/roles.scss");
@include meta.load-css("gto_admin/studios.scss");
@include meta.load-css("gto_admin/tests/markdown.scss");
@include meta.load-css("gto_admin/tests/social_icons.scss");
@include meta.load-css("gto_admin/tests/react_styleguide.scss");
@include meta.load-css("gto_admin/users.scss");

.container {
  margin: auto;
}

.admin {
  .header {
    h2 {
      color: colors.$darkgray;
    }
  }
}
