@use "colors";

@use "spin.js/spin";
@use "icons";
@use "socicon";
@use "select2/dist/css/select2";
@use "collapse";
@use "panel";

@use "reset";
@use "gto/font.scss";
@use "purecss/build/pure";
@use "purecss/build/grids-responsive";
@use "pure-customizations";

@use "gto/_admin_nav.scss";
@use "gto/_buttons.scss";
@use "gto/_cms_documents.scss";
@use "gto/_content_pages.scss";
@use "gto/_flash.scss";
@use "gto/_footer.scss";
@use "gto/_forms.scss";
@use "gto/_help_dialogs.scss";
@use "gto/_layout.scss";
@use "gto/_mau_modal.scss";
@use "gto/_nav.scss";
@use "gto/_notes.scss";
@use "gto/_notifications.scss";
@use "gto/_os_violators.scss";
@use "gto/_paginator.scss";
@use "gto/_sampler.scss";
@use "gto/_search_form.scss";
@use "gto/_signup.scss";
@use "gto/_signup_table.scss";
@use "gto/_social_footer.scss";
@use "gto/_spinner.scss";
@use "gto/_tabs.scss";
@use "gto/_text.scss";
@use "gto/art_pieces/_art_pieces.scss";
@use "gto/artists/_artists.scss";
@use "gto/artists/_artists_map.scss";
@use "gto/artists/_artists_gallery.scss";
@use "gto/artists/_manage_art.scss";
@use "gto/favorites/_favorites.scss";
@use "gto/main/_index.scss";
@use "gto/main/_open_studios.scss";
@use "gto/search/_search.scss";
@use "gto/studios/_studios.scss";
@use "gto/users/_user_sessions.scss";
@use "gto/users/_users.scss";
@use "gto/error.scss";
@use "gto/feedback_form.scss";
@use "gto/media.scss";
@use "gto/venues.scss";
@use "gto/components/index.scss" as index2;
@use "open_studios_subdomain/application.scss";
@use "gto/about";

.container {
  margin: auto;
}

.body-highlight {
  z-index: 200;
  height: 2px;
  width: 100%;
  background-color: colors.$bluegray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
}

noscript #noscript {
  width: 60%;
  margin: 20px auto;
  background-color: colors.$error_red;
  color: colors.$white;
  padding: 30px;
  a {
    color: colors.$x-light-gray;
  }
}
