@import "spin.js/spin";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "socicon";
@import "select2";
@import "pickadate/lib/themes/classic.css";
@import "pickadate/lib/themes/classic.date.css";
@import "pickadate/lib/themes/classic.time.css";
@import "ng-dialog/css/ngDialog";
@import "ng-dialog/css/ngDialog-theme-default.css";
@import "collapse";
@import "panel";
@import "toggle_button";

@import "reset";
@import "gto/font.scss";
@import "purecss/build/pure";
@import "purecss/build/grids-responsive";
@import "pure-customizations";

@import "@components/admin/events_notification_bell/events_notification_bell.scss";
@import "@components/art_pieces_browser/art_pieces_browser.scss";
@import "@components/credits_link/credits_modal.scss";
@import "@components/notify_mau/notify_mau.scss";
@import "@components/open_studios_registration_widget/open_studios_registration.scss";
@import "@components/password_strength/passwordStrength.scss";
@import "@components/search_results/search_results.scss";
@import "@components/social_buttons/social_buttons.scss";

@import "gto/_admin_nav.scss";
@import "gto/_cms_documents.scss";
@import "gto/_content_pages.scss";
@import "gto/_flash.scss";
@import "gto/_footer.scss";
@import "gto/_forms.scss";
@import "gto/_help_dialogs.scss";
@import "gto/_layout.scss";
@import "gto/_mau_modal.scss";
@import "gto/_nav.scss";
@import "gto/_notes.scss";
@import "gto/_os_violators.scss";
@import "gto/_paginator.scss";
@import "gto/_palette.scss";
@import "gto/_sampler.scss";
@import "gto/_search_form.scss";
@import "gto/_signup.scss";
@import "gto/_signup_table.scss";
@import "gto/_social_footer.scss";
@import "gto/_spinner.scss";
@import "gto/_tabs.scss";
@import "gto/_text.scss";
@import "gto/art_pieces/_art_pieces.scss";
@import "gto/artists/_artists.scss";
@import "gto/artists/_artists_map.scss";
@import "gto/artists/_artists_gallery.scss";
@import "gto/artists/_manage_art.scss";
@import "gto/favorites/_favorites.scss";
@import "gto/main/_index.scss";
@import "gto/main/_open_studios.scss";
@import "gto/search/_search.scss";
@import "gto/studios/_studios.scss";
@import "gto/users/_user_sessions.scss";
@import "gto/users/_users.scss";
@import "gto/error.scss";
@import "gto/feedback_form.scss";
@import "gto/mailchimp_form.scss";
@import "gto/media.scss";
@import "gto/ngdialog-customizations.scss";
@import "gto/venues.scss";

.container {
  margin: auto;
}

.body-highlight {
  z-index: 200;
  height: 2px;
  width: 100%;
  background-color: #888;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
}

noscript #noscript {
  width: 60%;
  margin: 20px auto;
  background-color: $error_red;
  color: white;
  padding: 30px;
  a {
    color: $x-light-gray;
  }
}

.mailchimp-form {
  margin-top: 30px;
}
