@use "mixins" as *;
@use "colors" as *;

.fa-ico-invert {
  @include small-rounded-corners;
  &:before {
    font-size: 1.1em;
    margin-left: -0.05em;
  }
  display: inline-block;
  line-height: 1.4rem;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  background-color: lighten($gto_gray, 50%);
  color: $gto_dark_teal;
}
