@use "sass:color";
@use "mixins" as *;
@use "colors" as *;

.fa-ico-invert {
  @include small-rounded-corners;
  &:before {
    font-size: 1.1em;
  }
  display: inline-block;
  line-height: 1.4rem;
  font-size: 1.4rem;
  margin: 0;
  padding: 1px 0 0 0;
  background-color: $x-light-gray;
  color: $gto_dark_teal;
}
