@use "mixins" as *;
@use "colors" as *;

@font-face {
  font-family: "Mono Social Icons Font";
  src: url("../fonts/MonoSocialIconsFont-1.10.eot");
  src: url("../fonts/MonoSocialIconsFont-1.10.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MonoSocialIconsFont-1.10.woff") format("woff"),
    url("../fonts/MonoSocialIconsFont-1.10.ttf") format("truetype"),
    url("../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont")
      format("svg");
  src: url("../fonts/MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

i.ico,
i.ico-invert {
  font-style: normal;
}

.ico-invert,
.ico,
a.ico-invert,
a.ico:before {
  font-family: "Mono Social Icons Font";
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.ico-invert:before,
.ico:before {
  content: attr(title);
}

.fa-ico-invert,
.ico-invert {
  @include small-rounded-corners;
  &:before {
    font-size: 1.1em;
    margin-left: -0.05em;
  }
  display: inline-block;
  line-height: 0.85em;
  font-size: 0.85em;
  margin: 0;
  padding: 0;
  vertical-aligm: middle;
  background-color: lighten($gto_gray, 50%);
  color: $gto_dark_teal;
}

.social a {
  color: transparent;
}

.ico-flickr {
  &:before {
    content: "\e029";
  }
}
.ico-blog,
.ico-website,
.ico-artspan,
.ico-url {
  &:before {
    content: "\e082";
  }
}
.ico-myspace {
  &:before {
    content: "\e059";
  }
}
.ico-blogspot,
.ico-blogger {
  &:before {
    content: "\e012";
  }
}
.ico-email {
  &:before {
    content: "\e024";
  }
}
.ico-facebook {
  &:before {
    content: "\e027";
  }
}
.ico-heart {
  &:before {
    content: "\e044";
  }
}
.ico-instagram {
  &:before {
    content: "\e100";
  }
}
.ico-pinterest {
  &:before {
    content: "\e064";
  }
}
.ico-rss {
  &:before {
    content: "\e071";
  }
}
.ico-twitterbird {
  &:before {
    content: "\e086";
  }
}
.ico-twitter {
  &:before {
    content: "\e087";
  }
}
.ico-tumblr {
  &:before {
    content: "\e085";
  }
}
.ico-wordpress {
  &:before {
    content: "\e094";
  }
}
