/* from http://callmenick.com/tutorial-demos/css-toggle-switch/ */
@import "mixins";
@import "colors";
@import "gto/variables";

$height: 32px;
$overall-width: 72px;
$inner-width: $overall-width - $height;
$border-width: 2px;
$border-radius: $height;
$button-height: $height - 8px;
$off-color: rgba(200, 200, 200, 0.8);
$on-color: $gto-teal;

.toggle-button {
  /* ============================================================
     COMMON
     ============================================================ */
  .toggle-button__checkbox {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .toggle-button__checkbox + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }

  label {
    position: relative;
    .toggle-button__label {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      font-size: 20px;
      white-space: nowrap;
      &.toggle-button__label_on {
        left: 100%;
        margin-left: 20px;
      }
      &.toggle-button__label_off {
        right: 100%;
        margin-right: 20px;
        text-align: right;
      }
    }
  }
  /* ============================================================
     SWITCH 2 - ROUND FLAT
     ============================================================ */
  input.toggle-button__round-flat + label {
    padding: $border-width;
    width: $overall-width;
    height: $height;
    background-color: $off-color;
    border-radius: $height;
    transition: background 0.25s;
  }
  input.toggle-button__round-flat + label:before,
  input.toggle-button__round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  input.toggle-button__round-flat + label:before {
    top: $border-width;
    left: $border-width;
    bottom: $border-width;
    right: $border-width;
    background-color: #fff;
    -webkit-border-radius: $height;
    -moz-border-radius: $height;
    -ms-border-radius: $height;
    -o-border-radius: $height;
    border-radius: $height;
    transition: background 0.25s;
  }
  input.toggle-button__round-flat + label:after {
    top: $border-width + 2px;
    left: $border-width + 2px;
    bottom: $border-width + 2px;
    width: $button-height;
    background-color: $off-color;
    -webkit-border-radius: $button-height;
    -moz-border-radius: $button-height;
    -ms-border-radius: $button-height;
    -o-border-radius: $button-height;
    border-radius: $button-height;
    transition: margin 0.25s, background 0.25s;
  }
  input.toggle-button__round-flat + label {
    .toggle-button__label_off {
      font-weight: $font-weight-bold;
    }
    .toggle-button__label_on {
      font-weight: inherit;
    }
  }
  input.toggle-button__round-flat:checked + label {
    background-color: $on-color;
    .toggle-button__label_on {
      font-weight: $font-weight-bold;
    }
    .toggle-button__label_off {
      font-weight: inherit;
    }
  }
  input.toggle-button__round-flat:checked + label:after {
    margin-left: $inner-width;
    background-color: $on-color;
  }
}
