.singlecolumn.subscribers
  %h4 Event Subscribers

  - if flash[:error]
    .error-msg Error: #{flash[:error]}
  - if flash[:notice]
    .notice #{flash[:notice]}

  .controls
    .add_new_form      
      Add Subscriber

  %table
    %thead
      %tr
        %th EventType
        %th Subscription Url
    - @subscribers.each do |subscriber|
      %tbody            
        %tr{:class => cycle('odd','even')}
          %td.event_type #{subscriber.event_type}
          %td.url #{subscriber.url} 

  