<div class="flaxart-wizard flax">
  <div class="logo-spacer"></div>
  <h3>Spring Open Studios Juried Preview Show<br/>at Flax Art</h3>
  <p>
    So you want to be part of the 1st Mission Spring Open Studios Juried Show at Flax Art?
  </p>
  <p>Great! We want you, too. Space is limited, however, so we have a panel of awesome jurors to select what goes in the show. 
  </p>
  <h4>Jurors</h4>
  <ul><li>Piero Spadar of <a href="http://www.hangart.com" target="_blank">Hang Art Gallery</a></li>
    <li>Maria Medua of <a href="http://www.sfmoma.org/pages/artists_gallery" target="_blank">SFMoMA Artists Gallery</a></li>
    <li>Mina Dresden of <a href="http://www.minadresden.com/" target="_blank">Mina Dresden Gallery</a></li>
  </ul>
  <h4>Exhibition Dates/Location</h4>
  <p>
    April 1-28, 2011<br/>
    <a href="http://flaxart.com/" target="_blank">Flax Art & Design</a><br/>
    1699 Market St. @ Valencia,  San Francisco<br/>
    Reception Thursday, April 7th 6pm-8pm<br/>
    Art Drop-off & install: Thursday March 31st 10am-6:45pm<br/>
    Art Pick-up: Friday April 29th 10am-6:45pm<br/>

    <h4>Eligibility</h4>
  <p>
    Artists with a valid Mission Artists United account who are participating Spring Open Studios (April 16/17, 2011)
  </p>

  <h4>Submission Process</h4>
  <ul>
    <li>You will submit work to the jury using your MAU account. Choose up to 3 pieces from your MAU online portfolio.</li>
    <li>We have limited space. Artwork displayed on free-standing wire kiosks throughout store (2d), and glass cases with shelves of varying depth (3d) Each submitted piece must fit as follows:
      <ul>
        <li>2D Wall Hanging: no larger than 20&quot; Long x 20&quot; Wide x 3&quot; Deep</li>
        <li>3D/Sculptural: no larger than 12&quot; Wide x12&quot; Deep x 16&quot;High </li>
      </ul>
    </li>
    <li>Please check that your pieces have the correct information (medium, size, name etc).</li>
    <li>All pieces must be available for the duration of the show (the month of April 2011).</li>
    <li>No offensive imagery or language will be admitted.  </li>
    <li>Dropoff and Pickup is the responsibility of the artist and during store hours only. 
      <ul>
        <li>Art Drop-off: Thursday March 31st 10am-6:45pm.</li>
        <li>Art Pick-up: Friday April 29th 10am-6:45pm</li>
      </ul>
    </li>
    <li>All 2-D work must be securely wired for hanging.  Display aids permitted for small 3-D items (example: jewelry stand), so long as fits within dimension limits above.</li>
    <li>We are unable to insure the art during the duration of the show. </li>
  </ul>


  <h4>Selection Process</h4>
  <p>Our jurors make the final selection on what is accepted and what is not. Only one entry per selected artist will appear in the show.  You will be notified by email by March 1 in either case (accepted or not). If your work is selected, you'll be informed, in that email, how to proceed.
  </p>
  
  <h4>Submission Fee</h4>
  <p>MAU will collect a $10 submission fee (via Paypal) for each artist (flat rate independent of the number of works you submit).  The entire fee will be used to promote the show, host a reception and go towards Spring Open Studios promotion.</p>
  
  <h4>Sales</h4>
  <p>Any sales of the art will be handled by FlaxArt and the artist will receive 100% of the selling price. (Yes, you read that right, 100%!)  </p>
  
  <a href="/flaxart/chooser"><div class="formbutton">Submit your work!</div></a>
</div>
