<div class="flaxart-wizard">
  <div class="logo-spacer"></div>
  <h3>Mission Spring Open Studios Directory Show at Flax Art</h3>
  <p>So you want to be part of the 1st Mission Spring Open Studios Directory show at Flax Art?</p>
  <p>Great!  We want you, too.
    
    <h4>Jurors</h4>
    
    
    <h4>Exhibition Dates/Location</h4>
  <p>
    April 2011<br/>
    FlaxArt<br/>
    Market @ Valencia SF
  </p>
  
  <h4>Reception</h4>
  <p>
    April 1
  </p>

  <h4>Eligibility</h4>
  <p>
    Artists with a valid Mission Artists United account.
  </p>
  
  <h4>Submission Process</h4>
  <ul>
    <li>
      All submissions must be done online using your MAU account.  You can choose from the pieces you've uploaded to your MAU account.  Up to three submissions will be allowed per artist.
    </li>
    <li>
      We have limited space.   Artwork displayed on free-standing wire kiosks throughout store (2d), and glass cases (3d)  Each submitted piece must fit as follows:
      <ul>
        <li>2D Wall Hanging: 20&quot; x 20&quot; x 3&quot;</li>
        <li>3D/Sculptural: 20 3-D pieces (up to 12&quot;x16&quot;).  </li>
      </ul>
    </li>
    <li>
      All pieces must be available for the duration of the show (the month of April 2011).
    </li>
    <li>
      Dropoff and Pickup is the responsibility of the artist.  There will be set times during which you can drop off or pick up your art if it is chosen to be part of the show.
    </li>
  </ul>
  </p>
  <h4>Selection Process</h4>
  <p>Our jurors, whoever and whoever, will be make final selections on what is accepted and what is not.  You will be notified by email by DATE in either case (accepted or not).  If any of your work is selected, you'll be informed, in that email, how to proceed, when you can drop off your work, when you have to pick it up etc.

  </p>
  <h4>Submission Fee</h4>
  <p>MAU will collect a $10 submission fee (via Paypal) for each artist (flat rate independent of the number of works you submit).</p>
  <h4>Sales</h4>
  <p>Any sales of the art will be handled by FlaxArt and the artist will receive 100% of the selling price.  (Yes, you read that right, 100%!)</P>
  
  
  <a href="/flaxart/chooser"><div class="formbutton">Submit your work!</div></a>
</div>
