<div class="flaxart-wizard flax">
  <div class="logo-spacer"></div>
  <h3>Spring Open Studios Juried Preview Show<br/>at Flax Art</h3>
  <p>
    Rock On
</p>
  <p>
  You're going to need to login to mau.
</p>
<p>
  you'll need to have checked "i'm in open studios" (which will be available easily in this process).
  Then you'll be directed to Entry Thingy to complete your entry.  Entry thingy has will require a separate login.

</p>
<p>
  If you haven't already signed up for open studios, here's how to do it...
  <ul>
    <li>Clck on "edit my page (above under my mau)"</li>
    <li>Click on the Open Studios section</li>
    <li>Click on the "Yep!" button </li>
  </ul>

</p>
  <p>what is flax (from kristin)</p>
  <p>Show duration (from previous entry text)</p>
  <a href="/flaxart/eventthingy">GO!</a>
</div>
