<div class="logo-spacer"></div>
<div class="flax">
  <h4>Spring Open Studios Directory Show at Flax</h4>
  <div class="breadcrumbs">
    <span>Choose Art &raquo;</span>
    <span>Verify Art &raquo;</span>
    <span>Submit Payment &raquo;</span>
    <span class="current">:(</span>
  </div>
  
  <p>We did not receive your payment.</p>
  <p>If this was on purpose, we're sorry that you decided not to submit your work.  If you are having computer issues, you can rerun the process and try again.  If you continue to have problems, please let us know so we can try to get things straightened out.
  </p>
  
  <p>If you'd like to comment on this submission process (it's our first time), feel free to send us some feedback.  We're always trying to learn what works and what doesn't.</p>

  <%= render :partial => '/main/info_footer' %>
</div>

