<div class="logo-spacer"></div>
<div class="flax">
  <h4>Spring Open Studios Directory Show at Flax</h4>
  <div class="breadcrumbs">
    <span>Choose Art &raquo;</span>
    <span>Verify Art &raquo;</span>
    <span>Submit Payment &raquo;</span>
    <span class="current">Success!</span>
  </div>
  
  <p>Thanks so much for your submission!</p>
  <p>As we mentioned, we have 3 jurors who will be going through all the submissions and trimming things down to fill the limited space we have at Flax.  As soon as they are done, we'll be sending email to tell you if your works have been selected.  If so, that email will include all the follow up instructions, including queries for any info we need from you, info about art dropoff/pickup times and such.  Best of luck!
  </p>
  
  <p>If you'd like to comment on this submission process (it's our first time), feel free to send us some feedback.  We're always trying to learn what works and what doesn't.</p>

  <%= render :partial => '/main/info_footer' %>
</div>

