.mau042012-wizard
  .logo-spacer
  .entrythingy.white
    .note
      %p The information below is provided by EntryThingy.  You'll need to setup or use your EntryThingy account to submit work.
      %p You can submit up to 3 images for your entry.  File size for the images must be larger than 100k and smaller than 2M.  Check the entry instruction page for more details.
      %p
        %p
          %a.mau-note-link.entrythingy-help{:href=>"#", :onclick => "javascript:MAU.mailer('submissions','missionartistsunited.org','Help me submit my work!');"} Having trouble?
          Let us know.
    %script{:src=>"http://entrythingy.s3.amazonaws.com/resources/entrythingy.js"}
    %iframe#et_uploadtarget{:name => "et_uploadtarget", :src => '', :style=>"width:0px;height:0px;border:0"} &nbsp;
    %span#et_dataarea0 &nbsp;
    %span#et_dataarea1 &nbsp;
    %span#et_dataarea2 &nbsp;
    %span#et_dataarea3 &nbsp;
    %span#et_dataarea4 &nbsp;
    #et_apparea{:style => "text-align:left;"}
      %p
        %img{:src => "http://entrythingy.s3.amazonaws.com/images/loading.gif"}
          %a{:href => "http://www.entrythingy.com"} Loading EntryThingy. Receive, manage and jury your calls for entries...
    %script
      var sitecode="s1.bWlzc2lvbmFydGlzdHN1bml0ZWQub3Jn";
      entryThingy();
