.art-card {
}

.art-card__price--sold {
  text-decoration: line-through;
}
.art-card__sold {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: $gto_yellow;
  position: absolute;
  right: 6px;
  top: 10px;
}

.art-card__description {
  margin-top: 6px;
  @include light-border;
  position: relative;
  padding: 10px;
}

.art-card__description-item {
  line-height: 1.7rem;
}
