@import "mixins";
.open-studios-artist__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.83rem;
}
.open-studios-artist__info {
  text-align: center;
}
.open-studios-artist__details {
  font-size: 16px;
  line-height: 1.8rem;
  margin-top: 4px;
}
.open-studios-artist__details__item {
  margin-bottom: 10px;
}

.open-studios-artist__profile-image {
  padding-top: 10px;
  margin-bottom: 0px;
}
.open-studios-artist__profile-name {
  margin: 15px;
  font-size: 1.4rem;
}

.open-studios-artist__details__schedule {
  border-bottom: none;
  display: flex;
  flex-direction: column;
}

.open-studios-artist__details__schedule--title {
  margin-bottom: 8px;
}

.open-studios-artist__details__schedule--timeslots {
  line-height: 1.2rem;
  text-align: left;
  margin: auto;
}

.open-studios-artist__details__item.open-studios-artist__details__youtube {
  margin-top: 18px;
}

.open-studios-artist__details__contact {
  line-height: 1.2rem;
  padding-top: 12px;
  @include light-top-border;
}

.open-studios-artist__details__email--link {
  @include ellipsis;
}

.open-studios-artist__details__item--title {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}
.open-studios-artist__details__live-conference-url {
  margin-top: 18px;
  a {
    text-transform: uppercase;
    @include round-corners();
    border: 2px solid $gto_hot_pink;
    background: #ffffff99;
    padding: 6px 8px 4px 8px;
    @include box-shadow(0 0 4px 2px rgba(255, 255, 255, 0.6));
    font-weight: $font-weight-bold;
    color: $gto_hot_pink;
  }
}

.open-studios__artist-card__description {
  @include light-border;
  margin-top: 6px;
  padding: 10px;
  .name {
    font-size: 16px;
  }
}
.open-studios__artist-card__open-now {
  position: absolute;
  bottom: 65px;
  right: 18px;
  color: $gto_hot_pink;
  text-transform: uppercase;
  @include round-corners();
  border: 2px solid $gto_hot_pink;
  background: #ffffff99;
  padding: 6px 4px 4px 4px;
  @include box-shadow(0 0 4px 2px rgba(255, 255, 255, 0.6));
  font-weight: $font-weight-bold;
}
