<div id="catalog">
  <div class="header">
  </div>
  <% @os_artists.sort{|a,b| a[0] <=> b[0]}.each do |h| -%>
  <div class="studio-list">
    <% bits = h[0].split('__BREAK__') 
       studioname = bits[0]
       street = bits[1] -%>
    <div class="title"><span class='studioname'><%= studioname %></span>
      <span class="count"><%= h[1].count > 1 ? "(#{h[1].count})": ''%></span>
      <br/>
      <span class="address"><%= street %></span>
    </div> 
    <% if h[1].first.fullname != studioname -%>
    <ul class="artists">
      <% h[1].each do |artist| -%>
      <li><%=h artist.fullname %></li>
      <% end -%>
    </ul>
    <% end -%>
  </div>
  <% end -%>
</div>
