.art_pieces.edit {
  h2 {
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
    .title {
      font-style: italic;
      font-weight: 400;
    }
  }
  .art-piece-edit-form, .art-piece {
    padding: 10px;
  }
}