@import 'gto/variables';
@import 'mau-mixins';
#arrange_art_form {
  .desc {
    height: 33px;
  }
}

.header {
  .art-piece__byline {
    font-style: italic;
  }
}
.art_pieces.show {
  .art-piece {
    text-align: center;
    img {
      margin: auto;
    }
  }
  .art-piece__info {
    border-right: 1px solid $xlightgray;
  }
  .browser {
    .piece {
      .image {
        width: 100%;
        height: 100px;
        @include background-cover;
        &.current {
          border: 1px solid red;
        }
      }
    }
  }
}
