%a.mau-note-btn{"slide-toggle" => "#inquiry-form"} {{linkText}}
%form#inquiry-form 
  %p
    {{message}}
  %form
    %fieldset.inputs
      %ol
        %li.string.input.optional.stringish
          %label Email
          %input#feedback_mail_email{ :type => 'text', :name =>'feedback_mail[email]' }
        %li.string.input.optional.stringish
          %label Confirm Email
          %input#feedback_mail_email_confirm{ :type => 'text', :name =>'feedback_mail[email_confirm]' }
        %li.text.input.optional
          %label {{questionLabel}}
          %textarea#feedback_mail_inquiry{ :name => "feedback_mail[inquiry]" }
    %fieldset.actions
      %ol
        %input.pure-button.button-secondary{ :type => "submit", :value => 'send'}
