<div class="pure-g sticky-header">
  <div class="pure-u-1-1 header padded-content">
    <h2 class="title">
      <span class="art-piece__title" ng-bind-html="artPiece.title"></span
      ><span class="art-piece__byline-conjunction">by Artist</span
      ><span class="art-piece__byline"
        ><a ng-href="{{currentArtistPath()}}">{{ ::artist.full_name }}</a></span
      ><a
        href="/open_studios"
        ng-show="artist.doing_open_studios"
        title="I&#39;m doing Open Studios"
      >
        <div class="os-violator"></div>
      </a>
    </h2>
  </div>
</div>
<div class="pure-g alpha omega" ng-cloak="">
  <div
    class="pure-u-1-1 pure-u-sm-1-3 pure-u-md-1-4 pure-u-lg-1-5 art-piece__info"
  >
    <section class="artist__image">
      <div class="artist-profile__image">
        <a ng-href="{{currentArtistPath()}}"
          ><img
            class="pure-img profile"
            ng-if="hasArtistProfile()"
            ng-src="{{profilePath()}}" /><i
            class="fa fa-user"
            ng-if="!hasArtistProfile()"
          ></i></a
        ><a href="/open_studios" ng-if="artist.doing_open_studios">
          <div class="os-violator"></div>
        </a>
      </div>
    </section>
    <section class="artist__studio">
      <h4 class="studio-title">
        Studio
      </h4>
      <div class="studio">
        <link-if href="studio.url" label="studio.name"></link-if>
      </div>
      <div class="studio-address ngwrapper" ng-if="hasAddress()">
        <div class="studio-street">
          {{::artist.street_address}}
          <a ng-href="{{artist.map_url}}" target="_blank" title="map"
            ><i class="fa fa-map-marker"></i
          ></a>
        </div>
        <div class="studio-city">
          {{::studio.city}}
        </div>
      </div>
    </section>
    <section class="desc">
      <div class="desc__item ngwrapper" ng-if="hasDimensions()">
        <h4 class="art-piece__info-title">
          Dimensions
        </h4>
        <div class="dimensions" ng-bind-html="artPiece.dimensions"></div>
      </div>
      <div class="desc__item ngwrapper" ng-if="hasYear()">
        <h4 class="art-piece__info-title">
          Date
        </h4>
        <div class="date" ng-bind-html="artPiece.year"></div>
      </div>
      <div class="desc__item ngwrapper" ng-if="hasMedia()">
        <h4 class="art-piece__info-title">
          Medium
        </h4>
        <div class="media">
          <medium medium="artPiece.medium"></medium>
        </div>
      </div>
      <div class="desc__item ngwrapper" ng-if="hasTags()">
        <h4 class="art-piece__info-title">
          Tags
        </h4>
        <div class="tags">
          <span ng-repeat="tag in artPiece.tags" repeater-delimiter=","
            ><art-piece-tag tag="tag"></art-piece-tag>
          </span>
        </div>
      </div>
    </section>
    <div class="push">
      <div class="social-buttons">
        <div class="share">
          Share
        </div>
        <share-button ng-if="artPiece.id" type="twitter"></share-button>
        <share-button ng-if="artPiece.id" type="facebook"></share-button>
        <share-button ng-if="artPiece.id" type="pinterest"></share-button>
        <favorite-this
          ng-if="artPiece.id"
          ng-title="{{artPiece.title}}"
          object-id="{{artPiece.id}}"
          object-type="ArtPiece"
        ></favorite-this>
      </div>
    </div>
  </div>
  <div class="pure-u-1-1 pure-u-sm-2-3 pure-u-md-3-4 pure-u-lg-4-5 art-piece">
    <div class="art-piece__wrapper">
      <div
        class="art-piece__image"
        style='background-image: url("{{artPiece.image_urls.large}}");'
      ></div>
    </div>
  </div>
  <div class="pure-u-1-1 art-piece__thumbs" ng-show="artPieces.length &gt; 1">
    <div class="pure-g browser">
      <div
        class="piece pure-u-1-4 pure-u-sm-1-6 pure-u-md-1-8 pure-u-lg-1-10 padded-content"
        ng-class="{current: isCurrent(piece.id)}"
        ng-repeat="piece in artPieces"
      >
        <a
          href="/art_pieces/{{ piece.id }}"
          ng-click="setCurrent($event, $index)"
        >
          <div
            class="image"
            ng-style='{backgroundImage: &#39;url(\"{{piece.image_urls.small}}\")&#39;}'
          ></div>
        </a>
      </div>
    </div>
  </div>
</div>
