@use "../colors";

.dataTables_wrapper {
  .dataTables_filter {
    margin-bottom: 10px;
    border: none;
    input {
      padding: 10px;
      margin-left: 10px;
      border: 1px solid colors.$border-gray;
      border-radius: 2px;
    }
  }
  label {
    color: colors.$light-gray;
  }
}
