@import "mau-mixins";
.admin {
  .graphs {
    margin-bottom: 20px;
  }
  .graph {
    h4 {
      margin-bottom: 0.5rem;
    }
    .c3-graph {
      width: 90%;
    }
  }
  .graph--empty {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
    border: 1px solid $gto_gray;
  }

  .dashboard__stats-list {
    margin-bottom: 1.5rem;
    h4 {
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      font-weight: $font-weight-normal;
    }
    td {
      padding-right: 8px;
      font-size: 0.9rem;
    }
    td.count {
      text-align: right;
    }
  }
}
