.admin-open-studios-event-form {
}
.admin-open-studios-event-form__subsection__header {
  margin-bottom: 10px;
}

.admin-open-studios-event-form__banner-image-wrapper {
  max-width: 50%;
  img {
    // for svgs
    width: 100%;
  }
}
