@use "./_mixins";
@use "../colors";

.os-events__table-row.os-events--active > td {
  background-color: colors.$highlight-yellow !important; // override pure striped table
}
.os-events__table-item--time {
  white-space: nowrap;
}
.os-events__table-item--dates--item + .os-events__table-item--dates--item {
  margin-top: 6px;
}
.os-active__off {
  @include mixins.admin-warning-banner;
}
.os-active__on {
  @include mixins.admin-info-banner;
}
