@use "../colors" as *;
@use "../mixins" as *;

.admin.roles {
  .role-container {
    h4 {
      @include light-bottom-border;
    }

    ul.role_members {
      margin: 0;
      padding: 0;
      li {
        padding: 5px;
      }
      li:nth-child(2n) {
        background-color: $xx-light-gray;
      }
    }
  }
}
