@import "mau-mixins";
.admin.users {
  .image {
    text-align: center;
    margin: 20px auto;
  }
  .url {
    @include ellipsis;
  }
  .info-block {
    border-bottom: 1px solid #999;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  .featured-snippet {
    h4 {
      margin-bottom: 8px;
    }
    .info-block-icon {
      font-size: 40px;
      margin-right: 10px;
      font-weight: $font-weight-normal;
      vertical-align: middle;
    }
    .info-block-instructions-callout {
      color: $gto_dark_teal;
      font-style: normal;
      font-weight: $font-weight-bold;
    }
    .instructions,
    .hint {
      margin-top: 8px;
      line-height: 1.4rem;
      font-style: italic;
      color: #999;
    }
    .content {
      background-color: #f0f0f0;
      margin: 16px 0;
      padding: 8px;
    }
  }
}
