@use "../mixins" as *;
@use "../gto/variables" as v;
@use "../colors";

.admin.users {
  .image {
    text-align: center;
    margin: 20px auto;
  }
  .url {
    @include ellipsis;
    margin: 20px auto;
  }
  .info-block {
    border-bottom: 1px solid colors.$medium-gray;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  .featured-snippet {
    h4 {
      margin-bottom: 8px;
    }
    .info-block-icon {
      font-size: 2rem;
      line-height: 2rem;
      margin-right: 10px;
      font-weight: v.$font-weight-normal;
      vertical-align: middle;
    }
    .info-block-instructions-callout {
      color: colors.$gto_dark_teal;
      font-style: normal;
      font-weight: v.$font-weight-bold;
    }
    .instructions,
    .hint {
      margin-top: 8px;
      line-height: 1.4rem;
      font-style: italic;
      color: colors.$medium-gray;
    }
    .content {
      background-color: colors.$xx-light-gray;
      margin: 16px 0;
      padding: 8px;
    }
  }
}
