<h4 class="header">
  {{title}} <a class="add-btn" href="#" slide-toggle="#add_email_{{emailListId}}" title="add an email to this list"><i class="fa fa-plus"></i></a>
</h4>
<div class="help">
  {{info}}
</div>
<ul class="emails">
  <li ng-repeat="email in emails">
    <div class="email">
      {{email.formatted()}}
    </div>
    <div class="del-btn">
      <a href="#" ng-click="removeEmail(email.id)" title="remove {{email.email}} from the list"><i class="fa fa-times"></i>&nbsp;</a>
    </div>
  </li>
</ul>
<div class="add_email slideable" duration="0.15s" id="add_email_{{emailListId}}">
  <h4>
    Email to Add
  </h4>
  <div class="errors">
    <div class="error error-msg" ng-repeat="err in errors">
      {{err}}
    </div>
  </div>
  <form ng-submit="addEmail()">
    <fieldset class="inputs">
      <ol>
        <li class="input string stringish">
          <label class="label" for="name">Name</label><input name="Name" ng-model="newEmail.name" type="text" />
        </li>
        <li class="input string stringish required">
          <label class="label" for="email">Email<abbr title="required">*</abbr></label><input name="Email" ng-model="newEmail.email" type="email" />
        </li>
      </ol>
    </fieldset>
    <fieldset class="actions">
      <input class="pure-button pure-button-primary" type="submit" value="add" />
    </fieldset>
  </form>
</div>
