%table.tbl-content
  %tr
    %td.lcol{:colspan => 2}
      = render :partial => 'tag_list'
    %td.vstripe
    %td.rcol{:colspan => 2}
      #search_results
        = render :partial => '/flash_notice_error'
        - if @pieces.present?
          = render :partial, '/art_pieces/thumbs', :locals => { :pieces => @pieces,:params => { :cols => 5, :show_footer => false, :size => 'thumb'  }}

