@import 'gto/variables';
@import 'colors';
@import 'mau-mixins';
art-pieces-browser {
  .profile-info {
    .pure-button {
      width: 100%;
      @include ellipsis;
    }
  }
  .social-buttons, .profile-info {
    margin-right: 15px;
    margin-bottom: 20px;
    .share {
      text-align: left;
      display: inline-block;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: $font-weight-light;
      padding-bottom: 6px;
      vertical-align: middle;
      margin-right: 12px;
      height: 1.5rem;
    }
    share-button {
      display: inline-block;
      margin-bottom: 3px;
    }
    .ico.ico-invert {
      font-size: 1.9rem;
    }
  }
}
