<table class="tbl-content" cellpadding="0" cellspacing="0">
  <tr>
    <td class="lcol"  colspan='2'>
      <%= render 'media_link_list', :frequency => @frequency %>
    </td>
    <td class="vstripe"></td>
    <td class="rcol" colspan='2'>
      <div id="search_results">
      <%= render :partial => '/flash_notice_error' -%>
      <% if @pieces and !@pieces.empty? %>
      <%=
	 render :partial => '/art_pieces/thumbs', :locals => { :pieces => @pieces,
                                                           :params => { :cols => 5,
                     :show_footer => false,
                     :select => false,
                     :size => 'thumb'
      }}
      %>
      <% end %>
      </div>
    </td>
  </tr>
</table>
