<ul class="artists-thumbs">
  <% @artists.each do |artist| 
     next if artist.nil?
     os_star = false
     if artist.artist_info
     os_star = artist.os_participation['201104']
     end

     piece = (artist.representative_piece ? artist.representative_piece.get_path('small') : artist.get_profile_image('small')) -%>
  <li><a href="<%= artist_path(artist) %>"><div class="thumb" style="background-image:url(<%= piece %>); "></div></a>
    <%= '<div class="os-star"></div>' if artist.os_participation['201104'] %>
  </li>
  <% end -%>
</ul>
