.pure-g
  .pure-u-1-1.header.padded-content
    %h2.title
      Medium:
      %span.medium__name #{@medium.name}
.pure-g
  .pure-u-1-5.padded-content
    .pure-g
      .pure-u-1-1.header
        %h4.title Mediums
    .pure-g
      .pure-u-1-1.tagcloud
        %ul
          - @media_cloud.media_for_display.each do |m|
            %li
              = m

        -# render 'media_link_list', :match => @medium, :frequency => @frequency
  .pure-u-4-5
    = render "/common/pagination", :paginator => @paginator
    .pure-g.search-results
      = render partial: '/artists/art', collection: @pieces, as: :art_piece

