.pure-g
  .pure-u-1-1.header.padded-content
    %h2.title
      Medium:
      %span.medium__name #{@medium.name}
.pure-g
  .pure-u-1-2.pure-u-sm-1-3.pure-u-lg-1-5.padded-content
    .pure-g
      .pure-u-1-1.header
        %h4.title Mediums
    .pure-g
      .pure-u-1-1.tagcloud
        %ul
          - @media_cloud.media_for_display.each do |m|
            %li
              = m

  .pure-u-1-2.pure-u-sm-2-3.pure-u-lg-4-5
    .pure-g
      .pure-u-1-1
        = render "/common/pagination", :paginator => @paginator
    .pure-g.search-results
      = render partial: '/artists/art', collection: @paginator.items, as: :art_piece
