/** new gto colors */
$gto_orange: #d7682b;
$gto_red: #b33e43;
$gto_yellow: #c39f06;
$gto_teal: #368283;
$gto_gray: #5a636a;
$gto_dark_teal: #175b5b;
$gto_dark_blue: #315077;

$lightbluegray: #c6c7d6;
$bluegray: #738294;
$medbluegray: #606e92;
$darkbluegray: #223;

$xdarkgray: darken($gto_gray, 30%);
$darkgray: darken($gto_gray, 23%);

$border-gray: darken($gto_gray, 9%);

$xmediumgray: $gto_gray;
$mediumgray: lighten($gto_gray, 24%);
$lightgray: lighten($gto_gray, 31%);
$light-gray: $lightgray;
$x-light-gray: lighten($gto_gray, 47%);

$xxlightgray: lighten($gto_gray, 58%);
$white: #fff;
$black: #000;
$purple: #404;
$pink: #cc77cc;
$error_red: #f33;
$dark_red: #800;

$lightyellow: #fef7ca;

$gto_yellow: #c39e06;

$light-gray-background: $xxlightgray;
$base-background-color: lighten($gto_gray, 60);

// TODO: Replace these names with hyphenated and remove these
$bordergray: $border-gray;
$xlightgray: $x-light-gray;
