$lightbluegray: #c6c7d6;
$bluegray: #738294;
$medbluegray: #606e92;
$darkbluegray: #223;

$xdarkgray: #111;
$darkgray: #222;
$bordergray: #444;
$xmediumgray: #666;
$mediumgray: #999;
$lightgray: #aaa;
$xlightgray: #ddd;
$xxlightgray: #f7f9f9;
$white: #fff;
$black: #000;
$purple: #404;
$pink: #cc77cc;
$error_red: #f33;
$dark_red: #800;

$lightyellow: #FEF7CA;

/** new gto colors */
$gto_orange: #d7682b;
$gto_red: #b33e43;
$gto_yellow: #c39f06;
$gto_teal: #368283;
$gto_gray: #5a636a;
$gto_dark_teal: #175b5b;
$gto_dark_blue: #315077;

$light-gray-background: $xxlightgray;
$base-background-color: #fcfcfc;