/** artists dropdown menu */
#nav_bar .nav {
  height: 33px;
  position:relative;
}
.nav > div {
  position:relative;
  background-color: $white;
  background-image: url(/images/gradients.png);
  background-repeat: repeat-x;
  background-position: 0 -165px; /* 40px gradient */
  -moz-box-shadow: 2px 1px 5px $bluegray;
  -webkit-box-shadow: 2px 1px 5px $bluegray;
  box-shadow: 1px 1px 5px $bluegray;
  color: #606;
  line-height: 24px;
}

#artistsnav li ul {
  width: 150px;
}
#osnav li ul {
  width: 150px;
}
#mymaunav li ul {
  width: 150px;
}
#studionav li ul {
  width: 156px;
}

.nav ul li.dir {
  float: none;
}

ul.dropdown li:hover a,
.nav a.lknav {
  color: $darkgray;
}
.nav a.lknav:hover {
  color: $purple
}

ul.dropdown, ul.dropdown li, ul.dropdown ul {
  list-style:none outside none;
  margin:0;
  padding:0;
}

.nav > ul {
  display: inline;
}

.dropdown {
  border-left: 1px solid $bluegray;
  text-align:left;
  &.first {
    border: 0;
  }
}
