/** artists dropdown menu */
#nav_bar .nav {
  height: 33px;
  position:relative;
}
.nav > div {
  position:relative;
  background-color: $white;
  background-image: url(/images/gradients.png);
  background-repeat: repeat-x;
  background-position: 0 -165px; /* 40px gradient */
  -moz-box-shadow: 2px 1px 5px $bluegray;
  -webkit-box-shadow: 2px 1px 5px $bluegray;
  box-shadow: 1px 1px 5px $bluegray;
  color: #606;
  line-height: 24px;
}

#artistsnav li ul {
  width: 150px;
}
#osnav li ul {
  width: 150px;
}
#mymaunav li ul {
  width: 150px;
}
#studionav li ul {
  width: 156px;
}

.nav ul li.dir {
  float: none;
}

ul.dropdown li:hover a,
.nav a.lknav {
  color: $darkgray;
}
.nav a.lknav:hover {
  color: $purple
}

ul.dropdown, ul.dropdown li, ul.dropdown ul {
  list-style:none outside none;
  margin:0;
  padding:0;
}

.nav > ul {
  display: inline;
}

.dropdown {
  border-left: 1px solid $bluegray;
  text-align:left;
  &.first {
    border: 0;
  }
}

#header_bar ul {
  &:hover {
    color: #606;
  }
  li:hover {
    font-weight:normal;
  }
  .leaf {
    width: 100%;
  }
  .last {
    @include round-bottom-corners;
  }
  .first {
    @include round-corner("top-right");
    @include round-corner-mozilla("topright");
  }
  &.dropdown {
    display: inline;
    height: 100%;
    float:right;
    position:relative;
    z-index: 10;
    padding: 0px;
    margin: 0px;
    a:link, & a:visited {
      text-decoration:none;
    }
    li {
      background-color: $xlightgray;
      border-color:#d6d7e6 $xmediumgray $xmediumgray #d6d7e6;
      border-style:solid;
      border-width:0px 1px 1px 1px;
      float:left;
      font-weight:normal;
      vertical-align:middle;

      -moz-box-shadow: 2px 1px 5px $bluegray;
      -webkit-box-shadow: 2px 1px 5px $bluegray;
      box-shadow: 1px 1px 5px $bluegray;

      &.dir {
        background-color: transparent;
        border:0;
        height:33px;
        line-height: 26px;
      }
      &:hover {
        cursor:pointer;
        position:relative;
        z-index:11;
        background-color: $lightbluegray;
      }
      a {
        display: block;
        padding: 4px 6px;
      }
    }
    ul {
      left:0px;
      position:absolute;
      top: 100%;
      display: none;
      z-index:10;
      ul {
        left:99%;
        top:0px;
      }
    }
    li:hover > ul {
      display: block;
    }
  }
}

