/*
 *= require font-awesome
 *= require socicon
 *= require selectize
 *= require pickadate/classic
 *= require pickadate/classic.date
 *= require pickadate/classic.time
 *= require ng-dialog/css/ngDialog
 *= require ng-dialog/css/ngDialog-theme-default.css
 *= require collapse
 *= require panel
 *= require toggle_button
 *= require_tree ../components
 *= require_tree ./gto
 *= require_self
 */

@import "reset";
@import "pure";
@import "pure/grids-responsive";
@import "pure-customizations";
@import "mau-mixins";

.container {
  margin: auto;
}

.body-highlight {
  z-index: 200;
  height: 2px;
  width: 100%;
  background-color: #888;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
}

noscript #noscript {
  width: 60%;
  margin: 20px auto;
  background-color: $error_red;
  color: white;
  padding: 30px;
  a {
    color: $x-light-gray;
  }
}

.mailchimp-form {
  margin-top: 30px;
}
