/*
 *= require reset
 *= require socicon
 *= require micro_icons
 *= require fonts
 *= require colorbox
 *= require pickadate/classic
 *= require pickadate/classic.date
 *= require pickadate/classic.time
 *= require select2
 *= require collapse
 *= require panel
 *= require toggle_button
 *= require_tree ./gto
 *= require feeds
 *= require_self
 */

@import 'font-awesome';
@import 'pure';
@import 'pure/grids-responsive';
@import 'pure-customizations';

.container {
  margin: auto;
}

.highlight {
  z-index: 200;
  height: 2px;
  width: 100%;
  background-color: #888;
  position:absolute;
  top:0;
  left:0;
  right: 0;
}
