@import 'mau-mixins';

#new_artpiece_form {
  .notice, .error-msg {
    width: 320px;
  }

  .input-help {
    @include little-text;
  }
}

#edit_artpiece {
  .artpiece{
    width: 200px;
    margin: auto;
    text-align:center;
  }
}
.new_art_piece, .edit_art_piece {
  .select2-container {
    width: 100%;
  }
}

#arrange_art {
  .artp-thumb-container {
    cursor: pointer;
  }
}
#arrange_art, #delete_art {
  margin: auto;
  .allthumbs {
    clear: both;
  }
  .edit-buttons {
    clear: both;
  }
  h4 {
    text-align: center;
  }
  .title {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position:relative;
  }
  .help-txt {
    position:relative;
    margin-top:16px;
    width: 500px;
    margin: 16px auto 10px auto;
    @include little-text;
  }
  .allthumbs .artp-thumb-container.with-foot {
    min-height: 144px;
  }
}
#arrange_art_help {
  position: absolute;
  right: 0px;
  top: 0px;
  .help-txt {
    @include little-text;
  }
}

#social_panel {
  position:absolute;
  @include transparent_white_background;
  border-bottom: none;
  left: 0;
  bottom: 4px;
  width: 100%;
  display:none;
  height: 36px;
  opacity:0.0;
  @include transition(all 0.75s ease);
  .mau_buttons {
    float: left;
  }
  .micro-icon.heart, .pinterest, .facebook {
    &:hover {
      cursor: pointer;
    }
  }
  .social_buttons {
    text-align: right;
    float:right;
    .facebook {
      margin-top: 4px;
    }
    .pinterest {
      margin-top: 6px;
    }
  }
}
