$fullwidth: 900px;
$leftcol: 270px;
$rightcol: 560px;
$gutter: 5px;

$lightbluegray: #c6c7d6;
$bluegray: #738294;
$darkbluegray: #223;

$xdarkgray: #111;
$darkgray: #222;
$bordergray: #444;
$xmediumgray: #666;
$mediumgray: #999;
$lightgray: #aaa;
$xlightgray: #ddd;
$white: #fff;
$black: #000;
$purple: #404;
$pink: #cc77cc;
$error_red: #f33;
$dark_red: #800;

$lightyellow: #FEF7CA;

@mixin transparent_black_background {
  background-color: $black;
  background-color: rgba(10,10,10, 0.8);
}

@mixin transparent_white_background {
  background-color: $xlightgray;
  background-color: rgba(240,240,240,0.7);
}

@mixin dotted_border {
  border: 1px dotted $bordergray;
}
@mixin solid_border {
  border: 1px solid $bordergray;
}
@mixin input_style {
  border: 1px solid $lightbluegray;
  background-color: $xlightgray;
  padding: 4px;
}
@mixin link_style {
  text-decoration: none;
  color: $lightyellow;
  &:link {
    color: $lightyellow;
  }

  &:visited {
    color: $lightyellow;
  }
  &:hover {
    color: #554444;
  }
  &:active {
    color: $lightyellow;
  }
}

@mixin little-text {
  font-size: x-small;
}


$default_rounded_amount: 4px;

@mixin opacity($opacity) {
  filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
  opacity: $opacity;
}

// Round corner at position by amount.
@mixin round-corner($position, $amount: $default_rounded_amount) {
  border-#{$position}-radius: $amount;
  -webkit-border-#{$position}-radius: $amount;
}

@mixin round-corner-mozilla($position, $amount: $default_rounded_amount) {
  -moz-border-radius-#{$position}: $amount;
}

// Round left corners by amount
@mixin round-left-corners($amount: $default_rounded_amount) {
  @include round-corner("top-left", $amount);
  @include round-corner("bottom-left", $amount);
  @include round-corner-mozilla("topleft", $amount);
  @include round-corner-mozilla("bottomleft", $amount);
}

// Round right corners by amount
@mixin round-right-corners($amount: $default_rounded_amount) {
  @include round-corner("top-right", $amount);
  @include round-corner("bottom-right", $amount);
  @include round-corner-mozilla("topright", $amount);
  @include round-corner-mozilla("bottomright", $amount);
}
// Round top corners by amount
@mixin round-top-corners($amount: 5px) {
  @include round-corner("top-left", $amount);
  @include round-corner("top-right", $amount);
  @include round-corner-mozilla("topleft", $amount);
  @include round-corner-mozilla("topright", $amount);
}

// Round bottom corners by amount
@mixin round-bottom-corners($amount: $default_rounded_amount) {
  @include round-corner("bottom-left", $amount);
  @include round-corner("bottom-right", $amount);
  @include round-corner-mozilla("bottomleft", $amount);
  @include round-corner-mozilla("bottomright", $amount);
}
// Round all corners by amount
@mixin round-corners($amount: $default_rounded_amount) {
  border-radius: $amount;
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
}

@mixin small-rounded-bottom-corners {
  @include round-bottom-corners;
}
@mixin small-rounded-top-corners {
  @include round-bottom-corners;
}

@mixin small-rounded-corners {
  @include round-corners;
}
@mixin large-rounded-corners {
  @include round-corners($amount: 7px);
}

@mixin floating-window-border {
  border: 1px solid $bordergray;
  box-shadow: 4px 4px 8px rgba(40,40,40, 0.80);
  -moz-box-shadow: 4px 4px 8px rgba(40,40,40, 0.80);
  -webkit-box-shadow: 4px 4px 8px rgba(40,40,40, 0.80);
}

@mixin transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
