html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix {
  zoom:1;
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

body {
  background-color: #fcfcfc;
}

a { text-decoration: none; }

.arrange ul {
  list-style: none;
  padding: 0;
  margin: 0;
}