@import 'mau-mixins';
@import 'colors';
/****
 * for thumb browser
 *
 *****/

/* position here get's img and div lined up so clicks work properly */
img.tiny-thumb {
  border: 0px;
  width: 32px;
  height: 34px; /* match border width */
}

/* padding should be 1/2 the width because
   it is functioning as a "height" specifier */
/* margin here controls horiz spacing between thumbs
   use padding on td art-browser-container to control
   vert spacing */
$browser_thumb_row_height: 51px;
#artp_thumb_browser {
  margin: auto auto 40px auto;
  position: relative;
  min-height: $browser_thumb_row_height;
  &.rows2 {
    min-height: 2 * $browser_thumb_row_height;
  }
  &.rows3 {
    min-height: 3 * $browser_thumb_row_height;
  }
  &.rows4 {
    min-height: 4 * $browser_thumb_row_height;
  }
  &.rows5 {
    min-height: 5 * $browser_thumb_row_height;
  }
  .thumb-browser-thumbs {
    margin: auto;
    width: 212px;
  }
  #prev-browse, #next-browse {
    width: 16px;
    height: 22px;
    background-image: url(/images/icons/browse-sprite2.png);
    background-repeat: no-repeat;
  }
  #next-browse {
    background-position: 0px -44px;
  }
  #prev-browse {
    background-position: 0px -66px;
  }
  #prev-browse:hover {
    background-position: 0px -22px;
  }
  #next-browse:hover {
    background-position: 0px 0px;
  }
  .prev, .next {
    position: absolute;
    top: 13px;
    &.rows3, &.rows4 {
      top: 62px;
    }
    &.rows5 {
      top: 111px;
    }
  }
  .prev {
    left: 11px;
  }
  .next {
    right: 11px;
  }

  #prev-browse, #next-browse
  {
    overflow: hidden;
    z-index:10;
  }
}

.tiny-thumb {
  float: left;
  border: 2px solid #111;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 4px ;
  width: 41px;
  height:  37px;
  overflow: hidden;
  position: relative;
}

.selected {
  border: 2px solid $lightyellow;
}
