@import "mau-mixins";
.password-reset {
  .instructions {
    margin-bottom: 20px;
  }
  .input-help {
    text-align: left;
  }
}

/* edit forms */
.collapse#bio {
  textarea {
    width: 90%;
  }
}
#paypal_donate_openstudios {
  height: 0;
  display: none;
}
.panel-group {
  margin-bottom: 20px;
  .panel-heading {
    position: relative;
    h4 {
      margin: 0;
      a {
        @include transition(all 0.4s ease);
        background-color: rgba(200, 200, 200, 0.4);
        padding: 0.9rem 10px;
        display: block;
        outline: none;
        &:hover {
          background-color: rgba(200, 200, 200, 0.3);
        }
        &.collapsed {
          color: inherit;
          background-color: transparent;
          &:hover {
            background-color: rgba(200, 200, 200, 0.2);
          }
        }
      }
    }
    .fa.fa-icon.panel-opener {
      position: absolute;
      left: 10px;
      font-size: 20px;
      height: 20px;
      width: 20px;
      text-align: center;
      display: inline-block;
      pointer-events: none;
      color: rgba(200, 200, 200, 0.9);
      @include transition(all 0.4s ease);
    }

    .panel-title {
      a {
        padding-left: 40px;
        font-weight: $font-weight-normal;
        font-size: 18px;
      }
    }
    h4 .fa.fa-icon.panel-opener {
      top: 10px;
      &:before {
        @include transform(rotate(0deg));
      }
    }
    h4 a {
    }

    h4 a + .fa.fa-icon:before {
      content: "\f139"; /* chevron up */
    }
    h4 a.collapsed + .fa.fa-icon {
      color: rgba(200, 200, 200, 0.8);
      top: 12px;
      left: 10px;
      @include transform(rotate(180deg));
      @include transform-origin(50% 50%);
    }

    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
  }
  .panel-body {
    padding: 20px;
    ul.help {
      padding-left: 20px;
      margin-bottom: 20px;
      li {
        list-style: circle;
      }
    }
  }
  .toggle-button {
    margin: auto;
    text-align: center;
    label[for="doing_open_studios"] {
      margin: auto;
    }
  }
}
