/ expects artist as ArtistPresenter
div Mission Open Studios : April 16-17, 2016, noon-6pm
div
- if artist.facebook?
  = "@#{artist.facebook_handle}"
- else
  = "##{artist.full_name.handleize}"
- if artist.primary_medium.present?
  '
  span  ##{artist.primary_medium_hashtag}
div &nbsp;
div MissionArtists.org http://MissionArtists.org/artists/#{artist.login}
div &nbsp;
div #missionopenstudios #missionopenstudios2016 #openstudios #springopenstudios #missionart #missionartists #SFArt #SFArtist #sanfrancisco
