#hideable_row_divs
  %fieldset.hiders
    %input#check_one{:type => 'checkbox', :value => 'one'}
    %input#check_two{:type => 'checkbox', :value => 'two'}
    %input#check_three{:type => 'checkbox', :value => 'three'}
  .items
    .item.one
    .item.two
    .item.three
    .item.two

