#hideable_row_table
  %fieldset.hide-rows
    %input#check_one{:type => 'checkbox', :value => 'one'}
    %input#check_two{:type => 'checkbox', :value => 'two'}
    %input#check_three{:type => 'checkbox', :value => 'three'}

  %table
    %tbody
      %tr.one
      %tr.two
      %tr.three
      %tr.two      
      
