#hideable_multi_row_divs
  %fieldset.hiders
    %input#check_published{:type => 'checkbox', :value => 'published'}
    %input#check_past{:type => 'checkbox', :value => 'past'}
    %input#check_future{:type => 'checkbox', :value => 'future'}
  .items
    .item.published.past
    .item.published.future
    .item.published.past
    .item.unpublished.past
    .item.unpublished.future
      
