@import "colors";
@import "mau-mixins";

.events-notification-bell {
  z-index: 25;
  position: fixed;
  top: 27px;
  right: 7px;
  @include round-corners(50%);
  a:link,
  a:visited,
  a:active {
    transition: color 0.15s ease-in-out;
    color: $gto_red;
  }
  a:hover {
    color: $gto_orange;
  }
}
