ruby:
  markdown_content = [
    "A First Level Header",
    "====================",
    "",
    "A Second Level Header",
    "---------------------",
    "",
    "Now is the time for all good men to come to",
    "the aid of their country. This is just a",
    "regular paragraph.",
    "",
    "The quick brown fox jumped over the lazy",
    "dog's back.",
    "",
    "### Header 3",
    "",
    "> This is a blockquote.",
    ">",
    "> This is the second paragraph in the blockquote.",
    ">",
    "> ## This is an H2 in a blockquote",
    "",
    "Some of these words *are emphasized*.",
    "Some of these words _are emphasized also_.",
    "",
    "Use two asterisks for **strong emphasis**.",
    "Or, if you prefer, __use two underscores instead__.",
    "",
    "For a list use",
    "",
    " * Asterisks \"*\"",
    " + pluses or \"+\"",
    " - hyphens \"-\"",
    "",
    "And here's how you do a link",
    "Find more about Markdown here [markdown basics](http://daringfireball.net/projects/markdown/basics)"
  ].join("\n");

.pure-g
  .pure-u-1-1.header.padded-content.test-content
    h2.title Markdown Playtime
  .pure-u-1-1.pure-u-sm-1-2.padded-content.test-content
    .markdown-ctrls
      span#process_markdown_btn.pure-button Process &raquo
      .markdown-input
        textarea#input_markdown rows="50" = markdown_content

  .pure-u-1-1.pure-u-sm-1-2.padded-content.test-content
    .markdown-results
      #processed_markdown.markdown
