<div id='admin_nav'>Administrator Links:
  <span class="admin-lk"><%= link_to 'dashboard', admin_path, { :class => 'lkdark' } %></span>
  
  <% [ 'os_status', 'emaillist', 'favorites', 'artists', 'studios','fans','art_piece_tags','media', 'roles'].each do |nm| -%>
  <span class="admin-lk"><%= link_to nm, "/admin/%s" % nm, { :class => 'lkdark' } %></span>
  <% end -%>
  <span class="admin-lk"><%= link_to "cms", "/cms_documents", { :class => 'lkdark' } %></span>
  <span class="admin-lk"><%= link_to "tests", "/tests", { :class => 'lkdark' } %></span>
</div>
