- nav_presenter = AdminNavigation.new(current_user)
#admin_nav
  .container.admin-nav__body
    .handle
      = fa_icon 'gear'
    .link-section.main
      = link_to 'dashboard', admin_path, {:class => 'lkdark'}
    %ul{:class => 'link-groups'}
      - nav_presenter.links.each do |sxn, entries|
        %li
          - if sxn
            .title #{sxn}
          %ul.link-section
            - entries.each do |key, opts|
              %li
                %span.admin-lk
                  = link_to opts[:display], opts[:link], {:class => 'lkdark'}
