#admin_nav 
  ADMIN:
  %span.admin-lk
    = link_to 'dashboard', admin_path, { :class => 'lkdark' }
  :ruby 
    links = { :os_status => {},
              :featured_artist => {},
              :emaillist => {:display => 'emails'},
              :favorites => {},
              :artists => {},
              :studios => {},
              :fans => {},
              :art_piece_tags => {:display => 'tags'},
              :media => {},
              :roles => {},
              :events => {},
              :palette => {:display => 'colors'},
              :db_backups => {:display => 'backups'},
              :cms_documents => {:display => 'cms',
                :link => '/cms_documents'},
              :artist_feeds => {:display => 'feeds',
                :link => '/artist_feeds'},
              :tests => {:link => '/tests'},
              :internal_email => {:display => 'internal messaging',
                :link => '/email_list' }
            }
  - links.each do |key, opts|
    :ruby 
      nm = opts[:display] || key.to_s
      lnk = opts[:link] || ("/admin/%s" % key)
    - if nm.present? && lnk.present?
      %span.admin-lk
        = link_to nm, lnk, {:class => 'lkdark'}
