<div class="clear"></div>
<div class="as-admin">Administrator Links:
  <% ['artists_per_day','stats', 'os_status', 'flax_show', 'emaillist', 'artists', 'studios','fans','tags','media'].each do |nm| -%>
  <span class="admin-lk"><%= link_to nm, "/admin/%s" % nm, { :class => 'lkdark' } %></span>
  <% end -%>
  <span class="admin-lk"><%= link_to "events", "/events", { :class => 'lkdark' } %></span>
</div>
