- nav_presenter = AdminNavigationPresenter.new(self, current_user)
#admin_nav
  .container#admin_nav_body
    .handle
    .link_section.main
      = link_to 'dashboard', admin_path, {:class => 'lkdark'}
    %ul{:class => 'link_groups'}
      - nav_presenter.links.each do |sxn, entries|
        %li
          - if sxn
            .title #{sxn}
            %ul.link_section
              - entries.each do |key, opts|
                %li 
                  %span.admin-lk
                    = link_to opts[:display], opts[:link], {:class => 'lkdark'}
