#admin_nav 
  Admin Links:
  %span.admin-lk
    = link_to 'dashboard', admin_path, { :class => 'lkdark' }
  - [ 'os_status', 'featured_artist', 'emaillist', 'favorites', 'artists', 'studios','fans','art_piece_tags','media', 'roles', 'events', 'palette' ].each do |nm|
    %span.admin-lk
      = link_to nm, "/admin/%s" % nm, { :class => 'lkdark' }
  %span.admin-lk
    = link_to "cms", "/cms_documents", { :class => 'lkdark' }
  %span.admin-lk
    = link_to "tests", "/tests", { :class => 'lkdark' }
