#admin_nav
  .container#admin_nav_body
    :ruby
      manager_links = [[:studios , {}]]
      editor_links = [[:events, {}],
                      [:featured_artist , {}],
                      [:cms_documents , {:display => 'cms', :link => '/cms_documents'}]
                      ]
      if current_user.is_admin?
        usage_links = [[:artists , {}],
                     [:studios , {}],
                     [:cms_documents , {:display => 'cms', :link => '/cms_documents'}],
                     [:emaillist , {:display => 'emails'}],
                     [:os_status , {}]
                    ]
        pr_links = [[:events, {}],
                  [:featured_artist, {}],
                  [:favorites, {}],
                  [:catalog, {:link => '/catalog'}]
                 ]
        model_links = [[:fans , {}],
                     [:artist_feeds , {:display => 'feeds', :link => '/artist_feeds'}],
                     [:media , {}],
                     [:roles , {:link => '/roles'}],
                     [:tags , {:display => 'tags'}]
                    ]
        admin_links = [[:internal_email , {:display => 'internal messaging', :link => '/email_lists' }],
                     [:db_backups , {:display => 'backups'}],
                     [:blacklist, {:display => 'blacklist', :link => '/blacklist_domains'}]]
        internal_links = [
                     [:palette , {:display => 'colors'}],
                     [:app_events, {:display => 'app events', :link => '/application_events'}],
                     [:tests , {:link => '/tests'}]
                    ]
        links =[
          [:internal, internal_links],
          [:pr, pr_links],
          [:usage, usage_links],
          [:admin, admin_links],
          [:lists, model_links]
         ]
      else
        links = []
        links << [nil, editor_links] if current_user.is_editor?
        links << [nil, manager_links] if current_user.is_manager?
      end
      links.each do |sxn, entries|
        entries.each do |key, entry|
          entry[:display] = entry[:display] || key.to_s
          entry[:link] = entry[:link] || ("/admin/%s" % key)
        end
      end

    %div{:class => 'link_section main'}
      %span.admin-lk
        = link_to 'dashboard', admin_path, {:class => 'lkdark'}
    %div{:class => 'link_groups'}
      - links.each do |sxn, entries|
        %div{:class => 'link_section'}
          - if sxn
            %span.title #{sxn}
          - entries.each do |key, opts|
            %span.admin-lk
              = link_to opts[:display], opts[:link], {:class => 'lkdark'}
