<table class="tbl-content" cellpadding="0" cellspacing="0" id="mau-content-html">
  <tr class="tr-short">
    <% if cols == 2 -%>
    <td class="ltcorner graybg"></td>
    <td class="lcol top graybg"></td>
    <td class="vstripe" ></td>
    <td class="rcol top"></td>
    <% elsif cols == 1 -%>
    <td class="ltcorner blackbg"></td>
    <td class="singlecolumn top"></td>
    <% end -%>
    <td class="rtcorner"></td>
  </tr>

  <tr class="nextrow"> 
    <% if cols == 2 -%>
    <td class="lcol graybg" colspan='2'>    
      <%= render :partial => '/feeds/feed' %>
    </td>            
	
    <td class="vstripe"></td>
    <td class="rcol" colspan='2'><!-- content.html -->
      <%= yield %>
    </td>
    <% elsif cols == 1 -%>
    <td class="singlecolumn" colspan="3">
      <%= yield %>
    </td>
    <% end -%>
  </tr>
  <tr class="tr-short">
    <% if cols == 2 -%>
    <td class="lbcorner graybg"></td>
    <td class="lcol graybg"></td>
    <td class="vstripe"></td>
    <td class="rcol bottom"></td>
    <% else -%>
    <td class="lbcorner blackbg"></td>
    <td class="singlecolumn bottom"></td>
    <% end -%>
    <td class="rbcorner"></td>
  </tr>
</table>
