<table class="tbl-content" cellpadding="0" cellspacing="0" id="mau-content-html">
  <tr class="tr-short">
    <% if cols == 2 -%>
    <td class="ltcorner graybg"></td>
    <td class="lcol top graybg"></td>
    <td class="vstripe" ></td>
    <td></td>
    <% elsif cols == 1 -%>
    <td class="ltcorner blackbg"></td>
    <td></td>
    <% end -%>
    <td class="rtcorner"></td>
  </tr>

  <tr class="nextrow"> 
    <% if cols == 2 -%>
    <td class="lcol graybg" colspan='2'>    
      <%= render :partial => '/feeds/feed' %>
    </td>            
	
    <td class="vstripe"><img class="page-height-spacer" src="/images/bg-5px.png"  alt=""/></td>
    <td class="rcol" colspan='2'><!-- content.html -->
      <%= yield %>
    </td>
    <% elsif cols == 1 -%>
    <td><img src="/images/sp-black.png" width="1" height="200"  alt=""/></td>
    <td class="singlecolumn" colspan="2">
      <%= yield %>
    </td>
    <% end -%>
  </tr>
  <tr class="tr-short">
    <% if cols == 2 -%>
    <td class="lbcorner graybg"></td>
    <td class="lcol graybg"></td>
    <td class="vstripe"></td>
    <td></td>
    <% else -%>
    <td class="lbcorner blackbg"></td>
    <td></td>
    <% end -%>
    <td class="rbcorner"></td>
  </tr>
</table>
