%footer.credits
  %span 
    [ site by 
    %a{:target => '_blank', :class => 'lkdark', :href => 'http://rcode5.com'} rcode5
    ]
  %span 
    [
    hosted by
    %a{:target => '_blank', :class => 'lkdark', :href => 'http://www.site5.com/in.php?id=134168'} site5
    ]
