<div class="feedtxt" style="background-color: #400; color: #ffc; margin:5px 8px 8px 0; padding:2px 5px 5px; border: 2px solid #f00;font-size: x-small"><b>ARTISTS!</b>
<div>If you plan to participate in this Spring Open Studios, and want to be included on the promotional material, don't forget to email your name and studio information to <a href="#" onclick="MAU.mailer('springos2009','missionartistsunited.org', 'Please include me in your Spring OS promotional material')"><b>springos2010 at missionartistsunited.org</b></a>.  The deadline is March 15th!</div>
</div>
