<div class="clear"></div><div class="feedtxt" style="background-color: #400; color: #ccc; margin:5px 8px 8px 0; padding:2px 5px 5px; border: 2px solid #f00;font-size: x-small"><b>ARTISTS!</b>
<div>Order your Spring OS Postcards from <a _target="blank" href="http://bit.ly/mau2010">bit.ly/mau2010 (click here).</a>  Deadline for image submissions is 3/30.  There will be no rush orders so get on it now!</div>
</div>
