- flash.each do |k,msg|
  - if msg.present?
    - clz = "flash flash__#{k}"
    - pfx = "Oops: " if k.to_sym == :error
    %div{class: clz}
      != "#{pfx} #{msg}"
      %i.fa.fa-icon.fa-times-circle-o.js-flash__close.flash__close


