<div class="clear"></div><div class="flax-sidebar">
  <div class='titlebar'><h1>Juried Preview Show at <a target="_blank" href="http://flaxart.com">FlaxArt</a></h1>April 1 - May 1</div>
  <div class='buttons'><a class="lkdark formbutton" href="/flaxart">Submit your work.</a></div>
  <div class="deadline">Submission Deadline: Feb 28, 2011</div>
</div>
