<div id="ie7_warning">
It looks like you're using Internet Explorer 7.  This site will not look it's best.  We suggest that you either upgrade to a <a href="http://www.microsoft.com/windows/internet-explorer/">newer version</a> or you may want to try a more modern browser like <a target="_blank" href="http://chrome.google.com">Google Chrome</a> or <a target="_blank" href="http://www.mozilla.com/firefox">Mozilla's Firefox.</a>
</div>
