<!-- Begin MailChimp Signup Form -->
<!--[if IE]>
<style type="text/css" media="screen">
#mc_embed_signup fieldset {position: relative;}
#mc_embed_signup legend {position: absolute; top: -1em; left: .2em;}
</style>
<![endif]-->
<!--[if IE 7]>
<style type="text/css" media="screen">
.mc-field-group {overflow:visible;}
</style>
<![endif]-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript" src="http://downloads.mailchimp.com/js/jquery.validate.js"></script>
<script type="text/javascript" src="http://downloads.mailchimp.com/js/jquery.form.js"></script>
<div id="mc_embed_signup">
<span class="desc">Sign up to hear about our Fall and Spring Open Studios Events.  You don't want to miss them!</span>
<form action="http://missionartistsunited.us2.list-manage1.com/subscribe/post?u=a10070c7a519efbd75c4136a2&amp;id=02f17b3a2c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
 <fieldset>
<div class="indicate-required">* indicates required</div>
<div class="mc-field-group">
<label for="mce-EMAIL">Email Address <strong class="note-required">*</strong>
</label>
<input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
<label for="mce-FNAME">First Name <strong class="note-required">*</strong>
</label>
<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
<label for="mce-LNAME">Last Name </label>
<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
 <div id="mce-responses">
  <div class="response" id="mce-error-response" style="display:none"></div>
  <div class="response" id="mce-success-response" style="display:none"></div>
 </div>
 <div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="formbutton btn"></div>
 </fieldset>
</form>
</div>
<script type="text/javascript">
var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';var err_style = '';
try{ err_style = mc_custom_error_style;} catch(e){
 err_style = 'margin: 1em 0 0 0; padding: 1em 0.5em 0.5em 0.5em; background: ERROR_BGCOLOR none repeat scroll 0% 0%; font-weight: bold; float: left; z-index: 1; width: 80%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: ERROR_COLOR;';
}
var mce_jQuery = jQuery.noConflict();
mce_jQuery(document).ready( function($) {
  if ( MAU && MAU.Cookie && MAU.Cookie.init ) {
    MAU.Cookie.init({name:'mau'});
    var email_addr = MAU.Cookie.getData('email') || '';
    var firstname = MAU.Cookie.getData('firstname') || '';
    var lastname = MAU.Cookie.getData('lastname') || '';
  }
  $('#mce-EMAIL').val(email_addr);
  $('#mce-FNAME').val(firstname);
  $('#mce-LNAME').val(lastname);
 var options = { errorClass: 'mce_inline_error', errorElement: 'div', errorStyle: err_style, onkeyup: function(){}, onfocusout:function(){}, onblur:function(){} };
 var mce_validator = mce_jQuery("#mc-embedded-subscribe-form").validate(options);
 options = { url: 'http://missionartistsunited.us2.list-manage1.com/subscribe/post-json?u=a10070c7a519efbd75c4136a2&id=02f17b3a2c&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
 beforeSubmit: function(){
mce_jQuery('#mce_tmp_error_msg').remove();
mce_jQuery('.datefield','#mc_embed_signup').each(
            function(){
              var txt = 'filled';
              var fields = new Array();
              var i = 0;
              mce_jQuery(':text', this).each(
                function(){
                  fields[i] = this;
                  i++;
                });
              mce_jQuery(':hidden', this).each(
                function(){
                 if ( fields[0].value=='MM' && fields[1].value=='DD' && fields[2].value=='YYYY' ){
                 this.value = '';
     } else if ( fields[0].value=='' && fields[1].value=='' && fields[2].value=='' ){
                 this.value = '';
     } else {
                   this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                 }
                });
            });
          return mce_validator.form();
        },
        success: mce_success_cb
      };
 mce_jQuery('#mc-embedded-subscribe-form').ajaxForm(options);

});
function mce_success_cb(resp){
  mce_jQuery('#mce-success-response').hide();
  mce_jQuery('#mce-error-response').hide();
  if (resp.result=="success"){
    mce_jQuery('#mce-'+resp.result+'-response').show();
    mce_jQuery('#mce-'+resp.result+'-response').html(resp.msg);
    mce_jQuery('#mc-embedded-subscribe-form').each(function(){
      this.reset();
   });
  } else {
    var index = -1;
    var msg;
    try {
      var parts = resp.msg.split(' - ',2);
      if (parts[1]==undefined){
        msg = resp.msg;
      } else {
        i = parseInt(parts[0]);
        if (i.toString() == parts[0]){
          index = parts[0];
          msg = parts[1];
        } else {
          index = -1;
          msg = resp.msg;
        }
      }
    } catch(e){
      index = -1;
      msg = resp.msg;
    }
    try{
      if (index== -1){
        mce_jQuery('#mce-'+resp.result+'-response').show();
        mce_jQuery('#mce-'+resp.result+'-response').html(msg);
      } else {
        err_id = 'mce_tmp_error_msg';
        html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';

        var input_id = '#mc_embed_signup';
        var f = mce_jQuery(input_id);
        if (ftypes[index]=='address'){
          input_id = '#mce-'+fnames[index]+'-addr1';
          f = mce_jQuery(input_id).parent().parent().get(0);
        } else if (ftypes[index]=='date'){
          input_id = '#mce-'+fnames[index]+'-month';
          f = mce_jQuery(input_id).parent().parent().get(0);
        } else {
          input_id = '#mce-'+fnames[index];
          f = mce_jQuery().parent(input_id).get(0);
        }
        if (F){
          mce_jQuery(f).append(html);
          mce_jQuery(input_id).focus();
        } else {
          mce_jQuery('#mce-'+resp.result+'-response').show();
          mce_jQuery('#mce-'+resp.result+'-response').html(msg);
        }
      }
    } catch(e){
      mce_jQuery('#mce-'+resp.result+'-response').show();
      mce_jQuery('#mce-'+resp.result+'-response').html(msg);
    }
  }
}
</script>
<!--End mc_embed_signup-->
