%meta{ :name => 'description', :content => @page_description}
%meta{ :name => 'keywords', :content => @page_keywords.flatten.compact.uniq.join(', ')}
%meta{ :property => 'og:description', :content => @page_description.html_safe}
