<div id="old_browser_warning" style="padding: 20px; border: 1px solid #b33e43; margin: 10px;">
  <p>
    It looks like you're using an unsupported browser.  This site will not look it's best and may not be fully functional. You might try one of the following links to download a more modern browser:
  </p>
  <ul>
    <li><a target="_blank" href="https://chrome.google.com">Google Chrome</a></li>
    <li><a target="_blank" href="https://www.mozilla.com/firefox">Mozilla's Firefox</a></li>
    <li><a target="_blank" href="https://www.microsoft.com/en-us/edge">Microsoft Edge</a></li>
  </ul>
  <p>Either way, you may want to get the latest version of the browser that you are using.</p>
</div>
