.logo
  %a{:href => '/main/openstudios'}
    %img{:title => 'Art is the Mission', :src => "/images/mau-nextosg.png" }

%a{:title => "Get on the mailing list to hear all about MAU Events and Open Studios.", :href => '/contact'}
  .action_button.sprite.mailing_list
:ruby
  if current_user
    path = edit_artist_path(current_user) + "#events"
  else
    path = login_path  
  end
 
%a{:title => "Signup for Spring Open Studios Now!", :href => path}
  .action_button.sprite.spring_os_signup
%a{:title => "Tell us about your upcoming art show!", :href => new_event_path}
  .action_button.sprite.list_your_show

= render :partial => '/art_pieces/new_art'
= render :partial => '/feeds/feed' 
%a{:title => "Volunteer, shop, send us your feedback, donate, participate...", :href => getinvolved_path }
  .action_button.sprite.get_involved
