.logo
  %a{:href => '/open_studios'}
    %img{:title => 'Art is the Mission', :src => image_path("mau-nextos.png") }

  - path = current_user ? (edit_artist_path(current_user) + "#events") : login_path


=#%a{:title => "Signup for Spring Open Studios Now!", :href => path}
=#  .action_button.sprite.spring_os_signup

%a.action_button.text{:title => "Tell us about your upcoming art show!", :href => new_event_path}
  plug your art show

= render :partial => '/art_pieces/new_art'
= render :partial => '/feeds/feed'

.buttons
  %a.action_button.text{:title => "Get on the mailing list to hear all about MAU Events and Open Studios.", :href => contact_path}
    mau mailing list
  %a.action_button.text{:title => "Volunteer, shop, send us your feedback, donate, participate...", :href => getinvolved_path}
    get involved

= render :partial => '/common/social_links' unless @is_homepage
