<title>
  <% if @page_title && !@page_title.empty? %>
  <%= @page_title %>
  <% else %>
  Mission Artists United - Art is the Mission 
  <% end %>
  <% if RAILS_ENV != 'production' %>
  ( <%= RAILS_ENV %> )
  <% end %>
</title>
