  <tr class="tr-short">
    <td class="lbcorner"><img src="<%= @corners[3] %>" width="9" height="9"/></td>
    <td></td>
    <td class="vstripe"></td>
    <td></td>
    <td class="rbcorner"><img src="<%= @corners[2] %>" width="9" height="9"/></td>
  </tr>

