  <tr class="tr-short">
    <td class="lbcorner"><img src="<%= @corners[3] %>" ></td>
    <td></td>
    <td class="vstripe"></td>
    <td></td>
    <td class="rbcorner"><img src="<%= @corners[2] %>" ></td>
  </tr>

