@import 'mau-mixins';

.artist-thumb-mixin {
  position: relative;
  min-height: 300px;
  text-align:center;
  padding: 10px;
  margin-bottom: 10px;
  .image {
    overflow:hidden;
    width: 100%;
    height: 280px;
    @include background-cover;
  }
  &:hover {
    background-color: rgba(200,200,200,0.2);
    @include box-shadow(0 0 1px 1px rgba(200,200,200,0.5));
  }

  .desc {
    @include bottom-label-overlay;
    @include transition(opacity 0.25s ease-in-out);
    width: calc(100% - 18px);
    margin: 0 9px 9px;
    padding-top: 12px;
    font-size: 0.8rem;
    text-align: center;
  }

}

.artists, .artists.show, .art_pieces.show {
  .art-card, .artist-card {
    @extend .artist-thumb-mixin;
    .desc {
      height: 5rem;
      .name, .address, .populations {
        line-height: 1.7rem;
        height: 1.7rem;
        whitespace: no-wrap;
        overflow: hidden;
      }
      .name {
        overflow: hidden;
        font-size: 1.1rem;
      }
    }
  }
}
.artist-profile {
  margin-top: 10px;
  padding: 0 10px 10px;
  #artist_profile_img {
    i.fa.fa-user {
      font-size: 15rem;
      width: 100%;
    }
  }
  .artist-links > div {
    @include ellipsis;
    min-height: 1.1rem;
    > span {
      display: inline-block;
      width: 20%;
      min-width: 80px;
    }
  }
  .artist-media, .artist-links, .studio-address, .favorites-block {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    line-height: 1.1rem;
    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }
  .artist {
    margin-top: 40px;
    padding-left: 10px;
  }
  .favorites-block {
    margin-top: 20px;
    padding-left: 10px;
    label {
      display: block;
      padding-bottom: 3px;
    }
  }
  .action-icons {
    margin-top: 20px;
  }
}
.bio-container {
  overflow: auto;
  padding-top: 40px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  p:first-child {
    margin-top: 0;
  }
}
.artist-profile {
  overflow:hidden;
}
ul.favorite-thumbs, ul.favorite-thumbs li {
  margin:0;
  padding:0;
}
#artist_profile_img {
  img {
    margin: auto;
    text-align: center;
  }
}
.favorite-thumbs li {
  float: left;
  .thumb {
    width: 24px;
    height: 24px;
    overflow: hidden;
    @include background-cover;
  }
}