<div class="test-content">
  <div class="markdown-ctrls">
    <span id="process_markdown_btn" class="formbutton">Show me &raquo;</span>
  </div>
  <div class="markdown-input">
    <textarea id="input_markdown" rows="50" cols="50">
A First Level Header
====================

A Second Level Header
---------------------

Now is the time for all good men to come to
the aid of their country. This is just a
regular paragraph.

The quick brown fox jumped over the lazy
dog's back.

### Header 3

> This is a blockquote.
> 
> This is the second paragraph in the blockquote.
>
> ## This is an H2 in a blockquote

Some of these words *are emphasized*.
Some of these words _are emphasized also_.

Use two asterisks for **strong emphasis**.
Or, if you prefer, __use two underscores instead__.

For a list use
 * Asterisks "*"
 + pluses or "+"
 - hyphens "-"

And here's how you do a link
Find more about Markdown here [markdown basics](http://daringfireball.net/projects/markdown/basics)
    </textarea>
  </div>
  <div class="markdown-results">
    <div id="processed_markdown" class="markdown">
    </div>
  </div>
</div>
