.test-content
  - endpoints = ['social_icons', 'markdown', 'date_picker', 'flash_test', 'qr']
  %h3 Index of test pages
  %ul
    - endpoints.each do |e|
      %li
        %a{:href => "/tests/#{e}"} #{e.titleize}
