.icons
  - icons = %w(blogger email facebook instagram pinterest rss twitter tumblr wordpress)
  .large
    - icons.each do |icon|
      %i.ico{class: "ico-#{icon}"}

  .medium
    - icons.each do |icon|
      %i.ico{class: "ico-#{icon}"}

  .small
    - icons.each do |icon|
      %i.ico{class: "ico-#{icon}"}

  .medium
    - icons.each do |icon|
      %i.ico-invert{class: "ico-#{icon}"}

        
