<div class="studio-list">
  <h4>MAU Studios</h4>
  <% if @studios -%>
    <% @studios.each do |s| -%>
    <% clz = ""
       if s.id == @selected_studio
       clz = "cur-studio"
       end
       -%>
    <% if s.id > 0 -%>
      <div class="<%= clz %>"><%= link_to s.name, s %></div>
    <% else -%>
      <div class="<%= clz %>"><%= link_to s.name, "/studios/0" %></div>
    <% end -%>

    <% end -%>
  <% end -%>
</div>
