<% if @studios -%>
<%   ncols = 3 -%>
<%   ctr = 0 -%>
<%   @studios.each do |s| -%>
<%      ctr = ctr + 1 -%>
<%= render :partial => 'thumb', :locals => { :studio => s } %>
<%      if (0 == (ctr % ncols)) -%>
<div class="clear"></div>
<%      end -%>
<%   end -%>
<% end -%>
