.navlinks
  Sort:
  %span.nobr
    - if mode != 'count'
      name
      ="/"
      = link_to "# of artists", studios_path({:v=>'c'})
    - else
      = link_to "name", studios_path
      ="/"
      ="# of artists"
