%table.tbl-content
  %tr
    %td.lcol{:colspan => 2}
      = render 'studio_list', :studios => @studios
    %td.vstripe
    %td.rcol{:colspan => 2}
      #studio_page
        = render 'view_switcher', :mode => @studios.view_mode
        = render '/flash_notice_error'
        = render 'thumbs', :studios => @studios
