%table.tbl-content
  %tr
    %td.lcol{:colspan => 2}
      = render 'studio_list', :studios => @studios
    %td.vstripe
    %td.rcol{:colspan => 2}
      #studio_page
        = render :partial => 'view_switcher'
        = render :partial => '/flash_notice_error'
        = render :partial => 'thumbs', :locals => {:studios => (@studios_by_count || @studios) }
