.pure-g
  = render 'studio_card', studio: @studio, classes: ['pure-u-1-1']


  - if @studio.has_artists_with_art?
    = render partial: '/artists/artist', collection: @studio.artists_with_art
  - if @studio.has_artists_without_art?
    .studio-memberlist
      - if @studio.has_artists_with_art?
        More:
      = @studio.artists_without_art.map{|a| link_to(a.get_name, a )}.join(", ").html_safe
