%script#feedback-feed-submission{ :type => 'text/template' }
  .send-us-a-feed
    Tell us about your favorite art related feed.  
    We'll check it out and if it stays current and is interesting, we'll add it to our list
    %ul
      %li
        %label Feed Link
        %input#feedback_mail_feedlink{ :type => 'text', :name => "feedback_mail[feedlink]" }
      %li
        %input.formbutton{ :type => "submit", :value => 'send'}

%script#feedback-help{:type => 'text/template'}
  .help-me
    Ack.  So sorry you're having issues.  Our developers are only human.  
    You may have found a bug in our system.  Please tell us what you were doing and what wasn't working.  
    We'll do our best to fix the issue and get you rolling as soon as we can
    %ul
      %li
        %label Email
        %input#feedback_mail_email{ :type => 'text', :name =>'feedback_mail[email]' }
      %li
        %label Confirm Email
        %input#feedback_mail_email_confirm{ :type => 'text', :name =>'feedback_mail[email_confirm]' }
      %li 
        %label What's going on (or wrong)?
        %textarea#feedback_mail_inquiry{ :name => "feedback_mail[inquiry]" }
      %li
        %input.formbutton{ :type => "submit", :value => 'send'}

%script#feedback-inquiry{:type => 'text/template'}
  .feedback-general
    We love to hear from you.  Please let us know your thoughts, questions, rants.
    We'll do our best to respond in a timely manner.
    %ul
      %li
        %label Email
        %input#feedback_mail_email{ :type => 'text', :name =>'feedback_mail[email]' }
      %li
        %label Confirm Email
        %input#feedback_mail_email_confirm{ :type => 'text', :name =>'feedback_mail[email_confirm]' }
      %li 
        %label Your Question
        %textarea#feedback_mail_inquiry{ :name => "feedback_mail[inquiry]" }
      %li
        %input.formbutton{ :type => "submit", :value => 'send'}


