<div id="footer_bar">
  <div id="footer_copy">
    &copy; mission artists united
  </div>
  <div id="footer_links">
	<% feedback_link_text = "feedback" -%>
	<span ><%= link_to "faq", faq_url, :class => 'lkdark' %></span>
	<span ><%= feedback_link feedback_link_text , :class => 'lkdark' %></span>
	<span ><a class="lkdark" href="/privacy">privacy</a></span>
	<span ><a class="lkdark" href="/about">about</a></span>
	<span ><a class="lkdark" href="/contact">contact</a></span>
	<span ><a id="credits_lnk" class="lkdark" href="#">credits</a></span>
  </div>
</div>
