%script
  jQuery(function() { jQuery('.feedback_link').feedback(); });
  - if Rails.env.test?
    jQuery.fx.off = true;

= render :partial => '/common/facebook_sdk' if @facebook_required
- if @pinterest_required
  %script{ "data-pin-do-not-log" => "true",  "type" => 'text/javascript', "src" => "//assets.pinterest.com/js/pinit.js" }
= yield :extra_javascript

