/[if IE]
  = javascript_include_tag asset_path 'excanvas.compiled.js'
/[if lt IE 9]
  %script{ :src => "//html5shiv.googlecode.com/svn/trunk/html5.js" }
= csrf_meta_tags
= javascript_include_tag "application"


