.signin-nav
  %ul.signin__links.tabs
    - if logged_in?
      %li.tab
        .text
          hello,
          %a{href: user_path(current_user)} #{current_user.login}
      %li.tab
        = link_to logout_path, { title: "sign out" } do
          .text
            sign out
          .nav-icon.fa.fa-sign-out
    - else
      %li.tab
        = link_to login_path,  { title: "sign in" } do
          .text
            sign in
          .nav-icon.fa.fa-sign-in
      %li.tab
        = link_to signup_path, { title: "create an account" } do
          .text
            sign up
          .nav-icon.fa.fa-user
