%ul.signin-nav
  - if logged_in?
    %li
      hello,
      %a.lkdark{href: user_path(current_user)} #{current_user.login}
    %li
      = link_to logout_path, { title: "sign out" } do
        .text.pure-button
          sign out
        .nav-icon.fa.fa-sign-out
  - else
    %li
      = link_to login_path,  { title: "sign in" } do
        .text
          sign in
        .nav-icon.fa.fa-sign-in
    %li
      = link_to signup_path, { title: "create an account" } do
        .text
          sign up
        .nav-icon.fa.fa-user
