%script{type: "template/html", id: "search_form_template"}
  .search-form
    = form_tag '/search', method: 'post', id: 'search_form' do
      .search-input-controls
        %label{for: 'search_keywords'} Search for
        %input#search_keywords{autocomplete: 'off', type: 'text', name: 'keywords', autofocus: :autofocus}
    .search-autocomplete-results
      %ul.js-results

%script{type: "template/html", id: "search_autocomplete_result_template"}
  %li.search-autocomplete-result
    %a{href: "{{link_to}}" }
      .thumb{style: "background-image: url({{image}})"}
      .desc
        %span.title {{title}}
        by
        %span.artist {{artist_name}}
        %span.medium {{medium}}
