<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title></title>
  <%= stylesheet_link_tag 'catalog' %>
  <%= javascript_include_tag '//code.jquery.com/jquery-2.2.4.min.js' %>
</head>
<body>
<%= yield %>
</body>
</html>
