<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Catalog</title>
  <%= vite_client_tag %>
  <%= vite_javascript_tag 'catalog_for_print' %>
</head>
<body>
<%= yield %>
</body>
</html>
