<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/jquery-mobile/jquery.mobile-1.0a3.min.css" />
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0"/>
  <%= stylesheet_link_tag 'mau-mobile' %>
  <title>Mission Artists United</title>
</head>
<body>
<div data-role="page" data-theme="a" >
  <div data-role="header" data-backbtn="false">
    <h1>Mission Artists United</h1>
  </div>
<%= yield %>
  <%= render :partial => '/mobile/footer' %>
</div>
</body>
<script src="http://code.jquery.com/jquery-1.5.min.js"></script>
<script src="/javascripts/thirdparty/jquery-mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
<%= render :partial => '/ganalytics' %>
</html>
