<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/jquery-mobile/jquery.mobile-1.0a3.min.css" />
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0"/>
  <%= stylesheet_link_tag 'mau-mobile' %>
  <title>Mission Artists United</title>
</head>
<body>
<div data-role="page" data-theme="a" >
  <div data-role="header" data-backbtn="false">
    <h1>Mission Artists United</h1>
  </div>
<%= yield %>
  <div data-role="footer">
    <div class="news-footer">
      <span >ART IS THE <span style="color: orange;">MISSION</span></span>
      <a href="http://www.facebook.com/MissionArtists" target="_blank" ><img class="icons" src="/images/icons/fb32.png" alt="facebook"></a>
      <a href="http://twitter.com/sfmau" target="_blank" ><img class="icons" src="/images/icons/twitter32.png" alt="twitter"></a>
    </div>
  </div>
</div>
</body>
<script src="http://code.jquery.com/jquery-1.5.min.js"></script>
<script src="/javascripts/jquery-mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
</html>
